@charset "utf-8";
:host { /*控制 shadow DOM 的根元素*/
	display: inline-block;
	width: 32px;
	height: 32px;
}
svg {
	width: 100%;
	height: 100%;
}
[type="awoken-count"] text{
	font-size: 20px;
	fill: yellow;
	font-family: var(--game-font-family);
	text-anchor: middle;
    /* 文本水平居中 */
    dominant-baseline: middle;
    /* 文本垂直居中 */
}
.front {
	fill: currentColor;
}
[type="awoken-count"] use {
	fill: white;
	color: #096E11;
}
[type="awoken-count"][icon-type="latent"] use {
	color: #378DE8;
}
[type="awoken-count"][special][full]:not([icon-type="latent"]) use {
	fill: #FFFFD4;
	color: #F3DC69;
}