/monsters-info/Download-pad.skyozora.com
/monsters-info/opencc
/monsters-info/node_modules
*formatting.json
/monsters-info/official-API/*-dungeon.json
/monsters-info/official-API/*-player-data-*.json
/monsters-info/official-API/*-enemy_skill.json
/monsters-info/official-API/*-limited_bonus.json
/monsters-info/official-API/*-mdatadl.json
/monsters-info/official-API/*-shop_item.json
/sound/voice/variables.txt
/fonts/.font-spider
/images/*.fw.png
/monsters-info/package-lock.json
