@charset "utf-8";
@font-face {
	font-family: 'FOT-KurokaneStd-EB';
	font-style: normal;
	/*font-weight: 400;*/
	src: url("fonts/FOT-KurokaneStd-EB.woff2") format('woff2'),
		 url("fonts/FOT-KurokaneStd-EB.woff") format('woff'),
		 url("fonts/FOT-KurokaneStd-EB.ttf") format('truetype'),
		 url("fonts/FOT-KurokaneStd-EB.eot") format('embedded-opentype'),
		 url("fonts/FOT-KurokaneStd-EB.svg") format('svg');
}
@keyframes loading-animate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(3600deg);
    }
}
body{
	font-family: "Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif, "Malgun Gothic", "맑은 고딕", "Gulim", AppleGothic;
	--head-block-width: 108px;
	--head-block-height: 108px;
	--search-icon-unchecked: 0.4;
	--team-1-bgcolor : pink;
	--team-2-bgcolor : lightblue;
	--team-3-bgcolor : lightgreen;
	--team-1-color : red;
	--team-2-color : blue;
	--team-3-color : green;
}
.display-none{
	display:none !important;
}
.disabled{
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.5;
}
.help-link::before{
	content: "Help & Tips";
}
.title{
	font-size: 2em;
	font-weight: bold;
}
.detail{
	min-height: 100px;
	font-size: 1.5em;
	font-family: "Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif, "Malgun Gothic", "맑은 고딕", "Gulim", AppleGothic;
}
.title,.detail{
	width:100%;
	border: none;
	background: none;
	box-sizing: border-box;
	padding: 1px;
}
.title:focus,.detail:focus{
	border: black solid 1px;;
	background-color: #eee;
	padding: 0;
}
.status{
	line-height: 16px;
}
/*.status.loading-mon-info .text::before{
	content: "正在加载怪物数据";
}*/
.status.loading-mon-info .icon,
.status.loading-skill-info .icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 4px SteelBlue dotted;
	border-radius: 50%;
	animation: loading-animate 50s infinite linear;
	vertical-align: middle;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
/*队伍的整个盒子*/
.formation-box{
	width: 648px;
	min-width: 648px;
}

/*单个怪物*/
.monster{
	font-family: 'FOT-KurokaneStd-EB',"Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif, "Malgun Gothic", "맑은 고딕", "Gulim", AppleGothic;
	width: 100px;
	height: 100px;
	margin: 0;
	display: block;
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
}
.null .monster,.delay .monster,
.null .property,.delay .property,
.null .subproperty,.delay .subproperty
{
	box-sizing: border-box;
	background-image: none !important;
}
.null .monster{
	background-color: rgba(230,230,230,0.5);
	border: 3px grey dashed;
}
.edit-box .null .monster{
	background-color: #653;
	border: none;
	box-shadow: inset black 0 0 7px;
}
.member{
	vertical-align: top;
}
.delay .monster{
	background-color: yellow;
	box-shadow: inset orange 0 0 7px;
	border: 3px black solid;
}
.delay .monster::before{
	width: 94px;
	height: 94px;
	color: black;
	font-size: 30px;
	line-height: 47px;
	text-align: center;
	font-weight: bold;
	/*content: "应 对\A威 吓";*/
	font-family: "Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif, "Malgun Gothic", "맑은 고딕", "Gulim", AppleGothic;
	white-space: pre-wrap;
	display: inline-block;
}
/*怪物属性*/
.property,.subproperty{
	position:absolute;
	left:0;top:0;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url(images/CARDFRAME2.PNG);
	background-position: 100px 100px; /*默认都不显示*/
}
/*怪物-加值*/
.monster .plus{
	color: yellow;
	font-size: 17px;
	line-height: 17px;
	text-shadow: black 0 0 1px,black 0 0 2px, black 2px 2px 0;
	position: absolute;
	left:10px;
}
.null .monster>div,.delay .monster>div{
	display:none !important;
}
.monster .plus .hp::before,
.monster .plus .atk::before,
.monster .plus .rcv::before,
.monster .plus ._297::before{
	content: "+";
}
.monster .plus ._297{ /*297默认不显示*/
	display:none;
}
.monster .plus.has297 .hp,.monster .plus.zero .hp,
.monster .plus.has297 .atk,.monster .plus.zero .atk,
.monster .plus.has297 .rcv,.monster .plus.zero .rcv{ /*当是297时隐藏3维*/
	display:none;
}
.monster .plus.has297 ._297{ /*当是297时显示297*/
	display:block;
}
/*怪物-觉醒*/
.monster .awoken-count{
	color: yellow;
	text-shadow: black 0 0 4px;
	text-align: center;
	background-image: url(images/awoken-count-bg.png);
	background-repeat: no-repeat;
	width: 34px;
	height: 38px;
	position: absolute;
	top: -4px;
	right: 0;
	transform: scale(0.75) translateX(4px);
}
.monster .awoken-count,
.monster .awoken-count.full-awoken::before{
	font-size: 20px;
	line-height: 28px;
}
.monster .awoken-count.full-awoken{
	font-size: 0;
}
.monster .awoken-count.full-awoken::before{
	content: "★";
}
.monster .awoken-count.allowable-assist.full-awoken::before{
	content: none;
}
.monster .awoken-count.allowable-assist{
	font-size: 0;
	text-shadow: none;
	background-position: 0 -38px;
}
/*怪物-超觉醒*/
.monster .super-awoken{
	position: absolute;
	right:0;
	top: 25px;
	transform: scale(0.75) translateX(4px);
}
/*怪物-等级*/
.monster .level{
	color: white;
	height: 17px;
	text-shadow: black 0 0 2px, black 2px 2px 0;
	position: absolute;
	left: 5px;
	bottom: 0;
	vertical-align: top;
}
.monster .level,.monster .level.max::before{
	font-size: 15px;
	line-height: 17px;
}
.monster .level.max{
	font-size: 0;
}
.monster .level._110{
	color: lightskyblue;
}
/*.monster .level::before{
	content: "Lv.";
}.monster .level.max::before{
	content: "Lv.最大";
}*/
.monster .id{
	display: block;
	color: white;
	font-family: "Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif, "Malgun Gothic", "맑은 고딕", "Gulim", AppleGothic;
	font-size: 15px;
	line-height: 17px;
	height: 17px;
	text-shadow: black 0px 0px 2px,black -1px -1px 1px,black 1px 1px 1px;
	position: absolute;
	left: 5px;
	bottom: 15px;
}
.not-show-mon-id .monster .id{
	display: none;
}
.monster .id::before{
	font-size: 12px;
}
/*.monster .id::before{
	content: "No.";
}*/
.monster .skill::before{
	content:"CD";
	font-size: 10px;
}
.monster .skill{
	font-size: 13px;
	line-height: 13px;
	color:white;
	text-shadow: black 0 0 1px,black 0 0 2px, black 2px 2px 0;
	position: absolute;
	right:0;
	bottom:0;
}
.monster .skill.max-skill{
	display: none;
}
.show-mon-skill-cd .monster .skill.max-skill{
	display: block;
}
/*辅助和队伍的每一只框架*/
.member, .acquisitus-awoken-icon{
	display: inline-block;
	position: relative;
	width: var(--head-block-width);
}
.formation-box .monster{
	margin: 4px; /*留给队长边框的*/
}
.team-assist, .team-members,.team-badge{
	display: inline-block;
}
/* 徽章，平时都隐藏 */
.badge-bg{
	display: none;
	cursor: pointer;
}
.badge-radio{
	display: none;
}
/* 显示所有徽章时则打开 */
.show-all-badges .badge-bg{
	display: inline-block;
}
/* 选中的徽章平时也打开 */
.team-badge .badge-radio:checked+label{
	display: inline-block;
}
/*队伍的背景色*/
.team-bigbox:nth-of-type(1) .team-members,
.team-bigbox:nth-of-type(1) .team-latents,
.team-bigbox:nth-of-type(1) .team-box-name::before,
.team-bigbox:nth-of-type(1) .team-box-name::after
{
	background-color: var(--team-1-bgcolor);
}
.team-bigbox:nth-of-type(2) .team-members,
.team-bigbox:nth-of-type(2) .team-latents,
.team-bigbox:nth-of-type(2) .team-box-name::before,
.team-bigbox:nth-of-type(2) .team-box-name::after
{
	background-color: var(--team-2-bgcolor);
}
.team-bigbox:nth-of-type(3) .team-members,
.team-bigbox:nth-of-type(3) .team-latents,
.team-bigbox:nth-of-type(3) .team-box-name::before,
.team-bigbox:nth-of-type(3) .team-box-name::after
{
	background-color: var(--team-3-bgcolor);
}
.team-bigbox{
	position: relative;
	font-size:0;
	margin-bottom:15px;
}
.team-bigbox:last-of-type{
	margin-bottom:0;
}
/*队伍A、B的文字*/
.team-box-name::after,
.team-box-name::before
{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	white-space: pre-wrap;
	display: none;
	width: var(--head-block-width);
	height: var(--head-block-height);
}
.show-team-name-left .team-box-name::before{
	display: inline-block;
}
.show-team-name-right .team-box-name::after{
	display: inline-block;
}
.reverse-member-assist .team-box-name::after,
.reverse-member-assist .team-box-name::before
{
	vertical-align:top;
}
.team-bigbox:nth-of-type(1) .team-box-name::after,
.team-bigbox:nth-of-type(1) .team-box-name::before,
.team-bigbox:nth-of-type(1) .team-assist .member::after,
.team-bigbox:nth-of-type(1) .team-assist .member::before
{
	color: var(--team-1-color);
}
.team-bigbox:nth-of-type(2) .team-box-name::after,
.team-bigbox:nth-of-type(2) .team-box-name::before,
.team-bigbox:nth-of-type(2) .team-assist .member::after,
.team-bigbox:nth-of-type(2) .team-assist .member::before
{
	color: var(--team-2-color);
	/*vertical-align:top;*/
}
.team-bigbox:nth-of-type(3) .team-box-name::after,
.team-bigbox:nth-of-type(3) .team-box-name::before,
.team-bigbox:nth-of-type(3) .team-assist .member::after,
.team-bigbox:nth-of-type(3) .team-assist .member::before
{
	color: var(--team-3-color);
}
.team-box{
	display: inline-block;
	vertical-align:bottom;
}

.team-box .team-assist .member::after,
.team-box .team-assist .member::before
{
	width: var(--head-block-width);
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	position: relative;
}
/*平时的显示*/
.team-box .team-assist .member::after
{
	display: inline-block;
}
.team-box .team-assist .member::before
{
	display: none;
}
/*反向时的显示*/
.reverse-member-assist .team-assist .member::after
{
	display: none;
}
.reverse-member-assist .team-assist .member::before
{
	display: inline-block;
}

.formation-box .formation-total-info,
.formation-box .team-total-info
{
	font-size: 15px;
	vertical-align: bottom;
}
.formation-box .team-badge .team-total-info
{
	display:inline-block;
}
/*
.team-info .tIf-total-hp,.team-info .tIf-total-rcv{
	display:inline-block;
}
*/
/*队伍的潜觉*/
.team-latents .latents{
	width: var(--head-block-width);
	/*float:left;*/
	margin-bottom: -20px;
	display: inline-block;
}
.team-latents .latent-ul{
	font-size: 0;
	width: 152px;
	transform: translate(-22px,-8px) scale(0.63);
}

.team-latents .latent-icon{
	margin-left: 3px;
	margin-right: 3px;
}
.team-latents .latent-icon-12,
.team-latents .latent-icon-13,
.team-latents .latent-icon-14,
.team-latents .latent-icon-15,
.team-latents .latent-icon-16,
.team-latents .latent-icon-17,
.team-latents .latent-icon-18,
.team-latents .latent-icon-19,
.team-latents .latent-icon-20,
.team-latents .latent-icon-21,
.team-latents .latent-icon-22,
.team-latents .latent-icon-23,
.team-latents .latent-icon-24,
.team-latents .latent-icon-25,
.team-latents .latent-icon-26,
.team-latents .latent-icon-27,
.team-latents .latent-icon-28,
.team-latents .latent-icon-29,
.team-latents .latent-icon-30,
.team-latents .latent-icon-31,
.team-latents .latent-icon-32,
.team-latents .latent-icon-33{
	margin: 0;
}
/*队长的边框*/
.team-box .team-members .team-leader .monster{
	border-radius: 10px;
	border-width:4px;
	border-style:solid;
	box-sizing: initial;
	margin: 0;
}
.team-bigbox:nth-of-type(1) .team-members .team-leader .monster{
	border-color: var(--team-1-color);
}
.team-bigbox:nth-of-type(2) .team-members .team-leader .monster{
	border-color: var(--team-2-color);
}
.team-bigbox:nth-of-type(3) .team-members .team-leader .monster{
	border-color: var(--team-3-color);
}

/*三维计算值*/
.team-ability::after,
.team-ability::before,
.team-ability .abilitys
{
	padding-left: 5px;
	box-sizing: border-box;
	font-size: 15px;
	width: var(--head-block-width);
}
.team-ability .abilitys
{
	display: inline-block;
}
.team-ability::after,
.team-ability::before
{
	display: none;
	content: "";
}
.show-team-name-left .team-ability::before{
	display: inline-block;
}
.show-team-name-right .team-ability::after{
	display: inline-block;
}
.abilitys .hp::before,
.abilitys .atk::before,
.abilitys .rcv::before
{
	width: 45px;
	display: inline-block;
}
/*.abilitys .hp::before{
	content: "HP：";
}
.abilitys .atk::before{
	content: "攻击：";
}
.abilitys .rcv::before{
	content: "回复：";
}*/


/*编辑窗口*/
.blur-bg{
	filter:blur(5px);
	pointer-events: none;
}
.edit-box{
	background-color: rgba(82, 53, 30, 0.8);
	color: white;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	box-sizing: border-box;
	min-width:664px;
}
.edit-box-title{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}
/*.edit-box .edit-box-title::before{
	content: "修改队员";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "修改辅助";
}*/
.edit-box .monsterinfo-box{
	font-family: 'FOT-KurokaneStd-EB', "Malgun Gothic", "맑은 고딕", "Gulim", AppleGothic;
	color: white;
	text-shadow: black 2px 2px 0;
	height: 100px;
	margin: 5px 0;
	background-image: linear-gradient(#798421,#394914);
	border-top: #B1BB39 solid 4px;
	border-bottom: #72941D ridge 7px;
	box-shadow: black 0 3px 3px;
	padding: 5px 10px;
}
.edit-box .search-box,
.edit-box .setting-box{
	padding: 0 10px;
}
/*.edit-box .setting-box .row-mon-id::before{
	content: "▼怪物ID";
}*/
.edit-box .setting-box .row-mon-id .m-id{
	box-sizing: border-box;
	font-size: 25px;
	height: 40px;
	width: 100%;
}
.edit-box .setting-box .row-mon-id .unable-monster{
	pointer-events: none;
	opacity: 0.5;
}
.edit-box .setting-box .row-mon-id .unable-monster .monster{
	box-sizing: border-box;
	border: 5px solid red;
	border-radius: 10px;
	overflow: hidden;
}
.edit-box .setting-box .row-mon-id .unable-monster .id{
	display: none;
}
.edit-box .setting-box .row-mon-id .search-button{
	width: 100%;
	height: 40px;
	font-size: 25px;
}
.edit-box .setting-box .row-mon-id .evo-card-list li,
.edit-box .search-box .search-mon-list li,
.edit-box .setting-box .skill-box .detail-mon{
	display: inline-block;
	vertical-align: top; 
	top: 0;
	width: 78px;
	height: 80px;
}
.edit-box .setting-box .skill-box .detail-mon{
	vertical-align: bottom;
}
.edit-box .setting-box .row-mon-id .evo-card-list .monster,
.edit-box .search-box .search-mon-list .monster,
.edit-box .setting-box .skill-box .detail-mon .monster{
	float: none;
	transform: scale(0.75) translate(-13px,-13px);
}
.edit-box .setting-box .row-mon-id .evo-card-list .monster .id,
.edit-box .search-box .search-mon-list .monster .id,
.edit-box .setting-box .skill-box .detail-mon .monster .id{
	bottom: 5px;
	font-size: 20px;
}
/*.setting-box .row-mon-id .open-search::before{
	content: "搜索怪物";
}
.search-box::before{
	content: "▼简易搜索";
}
.attrs .attr-all::before{
	content: "不限";
}
.attrs .attr-none::before{
	content: "无";
}*/
.search-box>div{
	margin-bottom: 5px;
}
.search-box>div ul{
	display: inline-block;
}
.search-box .attrs ul{
	display: block;
}
.search-box>div ul>li{
	display: inline-block;
	vertical-align: top;
	font-size:16px;
	overflow: hidden;
}
.search-box>div ul>li>label{
	cursor: pointer;
	display: block;
	text-align: center;
}

.attrs .attr-list-1::before,
.attrs .attr-list-2::before,
.types-div::before,
.awoken-div::before,
.sawoken-div::before{
	/*float: left;*/
	font-size: 16px;
	/*width: 55px;*/
	margin-right: 3px;
	display: inline-block;
}
/*.search-box .attrs .attr-list-1::before{
	content: "属性1";
}
.search-box .attrs .attr-list-2::before{
	content: "属性2";
}
.search-box .attrs .fix-main-color-label::after{
	content: "限制属性1为主属性，属性2为副属性";
}*/
.attr-radio,.type-check,.sawoken-check{
	display: none;
}
.attrs .attr-list{
	font-size:0;
}
.attrs .attr-list li{
	border: 1px solid white;
	border-left: none;
	background: #947244;
}
.attrs .attr-list li:hover{
	background: #E9CB9E;
}
.attrs .attr-list li:first-of-type{
	border-radius: 8px 0 0 8px;
	border-left: 1px solid white;
}
.attrs .attr-list li:last-of-type{
	border-radius: 0 8px 8px 0;
}
.attrs .attr-list li label{
	line-height: 30px;
	width: 55px;
	height: 30px;
}
.attrs .attr-list input:checked+label{
	background-color:#8C4242;
	box-shadow: inset black 0 0 5px;
	cursor: auto;
}
.attr-list-1{
	margin-bottom: 5px;
}
/*.search-box .types-div::before{
	content: "类型";
}*/
.types-div .type-list li label{
	opacity: var(--search-icon-unchecked);
}
.types-div .type-list input:checked~label{
	opacity: 1;
}
/*.search-box .awoken-div::before{
	content: "觉醒";
}*/
.search-box .awoken-div .awoken-clear::before,
.search-box .sawoken-div .sawoken-clear::before
{
	content: "❌";
}
.search-box .awoken-div .awoken-clear,
.search-box .sawoken-div .sawoken-clear
{
	padding: 0;
	float: right;
}
.search-box .awoken-ul button{
	border: none;
	background-color: unset;
	font-family: 'FOT-KurokaneStd-EB', "Malgun Gothic", "맑은 고딕", "Gulim", AppleGothic;
	color: white;
	line-height: 32px;
	font-size: 16px;
	padding: 0;
}
.search-box .awoken-ul .awoken-count.zero{
	opacity: var(--search-icon-unchecked);
}
.search-box .awoken-ul .count{
	width: 30px;
}
.search-box .awoken-ul .awoken-count .awoken-icon{
	cursor: pointer;
}
.search-box .awoken-ul .awoken-count .count{
	cursor: pointer;
}
.search-box .awoken-ul .awoken-count.zero .count{
	cursor: auto;
}
/*.search-box .sawoken-div::before{
	content: "超觉醒";
}*/
.sawoken-div .sawoken-ul li label{
	opacity: var(--search-icon-unchecked);
}
.sawoken-div .sawoken-ul input:checked+label{
	opacity: 1;
}

.control-div button{
	font-size: 20px;
}
.control-div .search-start{
	float: right;
	margin-left: 5px;
}
/*.control-div .search-start::before{
	content: "开始搜索";
}
.control-div .search-clear::before{
	content: "清空搜索条件";
}
.control-div .search-close::before{
	content: "关闭搜索";
}*/

.search-box .search-mon-list{
	border: 1px solid white;
	border-radius: 5px;
	background: grey;
}
.setting-box .row-mon-id .open-search{
	float: right;
}

.edit-box .setting-row{
	width: 100%;
}
.monsterinfo-box .monster-head{
	float: left;
	margin-right:5px;
}
.monsterinfo-box .monsterinfo-line>div,
.monsterinfo-box .monsterinfo-line>ul
{
	display:inline-block;
	vertical-align: top;
	font-size: 22px;
	line-height: 22px;
}
.monsterinfo-box .monster-id{
	width:150px;
}
.monsterinfo-box .monster-collabId,
.monsterinfo-box .monster-altName{
	cursor: pointer;
	font-size: 14px;
	line-height: 16px;
	vertical-align: bottom;
	max-width: 270px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
/*.monsterinfo-box .monster-id::before{
	content: "No.";
}*/

.monsterinfo-box .monster-rare{
	width: 230px;
}
.monsterinfo-box .monster-rare::before{
	color:gold;
	text-shadow: black 0 0 3px,black 0 2px 3px;
}
.rare-1::before{content: "★";}
.rare-2::before{content: "★★";}
.rare-3::before{content: "★★★";}
.rare-4::before{content: "★★★★";}
.rare-5::before{content: "★★★★★";}
.rare-6::before{content: "★★★★★★";}
.rare-7::before{content: "★★★★★★★";}
.rare-8::before{content: "★★★★★★★★";}
.rare-9::before{content: "★★★★★★★★★";}
.rare-10::before{content: "★★★★★★★★★★";}
.monsterinfo-box .monster-type{
	font-size: 0;
}
.monsterinfo-box .monster-type .type-name{
	display:inline-block;
	margin-right: 10px;
}
.monsterinfo-box .monster-type .type-icon{
	margin-right:3px;
}
.monsterinfo-box .monster-type .type-name::after{
	vertical-align: middle;
	font-size: 22px;
	line-height: 22px;
}

.edit-box .setting-box .row-mon-level::before{
	/*content: "▼怪物等级";*/
	display: block;
}
.edit-box .setting-box .m-level{
	font-size: 25px;
	height: 40px;
	width: calc(100% - 220px);
	box-sizing: border-box;
}
.m-level-btn-min,.m-level-btn-max{
	height: 40px;
	box-sizing: border-box;
	font-size: 25px;
	padding: 0;
}
.m-level-btn-min{
	width: 65px;
}
.m-level-btn-max{
	width: 145px;
}
/*.m-level-btn-max::before{
	content: "最高Lv";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼怪物觉醒";
}*/
.row-mon-awoken .awoken-ul, .row-mon-super-awoken .awoken-ul{
	font-size: 0;
	height: 32px;
}
.awoken-ul li{
	margin-right: 5px;
}
.awoken-ul li:last-of-type{
	margin-right: 0;
}
.edit-box .awoken-ul .awoken-icon{
	cursor: pointer;
}
.awoken-ul .awoken-icon.unselected-awoken{
	opacity: var(--search-icon-unchecked);
}
.row-mon-awoken .awoken-icon.awoken-count,
.row-mon-awoken .awoken-icon.awoken-count.full-awoken::before
{
	color: yellow;
	font-size: 22px;
	line-height: 28px;
	font-weight: bold;
	text-shadow: black 0 0 4px;
	text-align: center;
}
.row-mon-awoken .awoken-icon.awoken-count.full-awoken{
	font-size: 0;
}
.row-mon-awoken .awoken-icon.awoken-count.full-awoken::before{
	content: "★";
}
.row-mon-awoken .m-super-awoken-ul{
	margin-top: 5px;
}
/*.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼超觉醒";
}*/
.edit-box .setting-box .row-mon-plus::before{
	/*content: "▼怪物加值";*/
	display: block;
}
.row-mon-plus .ability-value::before{content: "(";}
.row-mon-plus .ability-value::after{content: ")";}
.setting-box .m-plus-hp,.setting-box .m-plus-atk,.setting-box .m-plus-rcv{
	font-size: 25px;
	height: 40px;
	width: calc(100% - 288px);
	box-sizing: border-box;
}
.m-plus-hp-li::before,.m-plus-atk-li::before,.m-plus-rcv-li::before,.row-mon-plus .ability-value{
	font-size: 25px;
	width: 55px;
	display: inline-block;
}
.row-mon-plus .ability-value{
	width: 90px;
}
/*.m-plus-hp-li::before{content: "HP";}
.m-plus-atk-li::before{content: "攻击";}
.m-plus-rcv-li::before{content: "回复";}*/
.m-plus-btn{
	height: 40px;
	width: 55px;
	box-sizing: border-box;
	font-size: 25px;
}
.m-plus-btn::before,.m-plus-btn-297::before{
	content: "+";
}
.m-plus-btn-297{
	float:right;
	width: 85px;
	height: 120px;
	box-sizing: border-box;
	font-size: 25px;
}
/*.edit-box .setting-box .row-mon-latent::before{
	content: "▼潜在觉醒";
}*/
.m-latent-ul{
	text-align: center;
	font-size: 0;
}
.m-latent-ul .latent-icon{
	margin-left: 12px;
}
.m-latent-ul .latent-icon:first-of-type{
	margin-left: 0;
}
.m-latent-allowable-ul{
	margin-top: 5px;
}
.m-latent-allowable-ul .latent-icon,
.m-latent-ul .latent-icon-1,
.m-latent-ul .latent-icon-2,
.m-latent-ul .latent-icon-3,
.m-latent-ul .latent-icon-4,
.m-latent-ul .latent-icon-5,
.m-latent-ul .latent-icon-6,
.m-latent-ul .latent-icon-7,
.m-latent-ul .latent-icon-8,
.m-latent-ul .latent-icon-9,
.m-latent-ul .latent-icon-10,
.m-latent-ul .latent-icon-11,
.m-latent-ul .latent-icon-12,
.m-latent-ul .latent-icon-13,
.m-latent-ul .latent-icon-14,
.m-latent-ul .latent-icon-15,
.m-latent-ul .latent-icon-16,
.m-latent-ul .latent-icon-17,
.m-latent-ul .latent-icon-18,
.m-latent-ul .latent-icon-19,
.m-latent-ul .latent-icon-20,
.m-latent-ul .latent-icon-21,
.m-latent-ul .latent-icon-22,
.m-latent-ul .latent-icon-23,
.m-latent-ul .latent-icon-24{
	cursor: pointer;
}
.m-latent-allowable-ul .latent-icon.unselected-latent{
	cursor: default;
	opacity: var(--search-icon-unchecked);
}

.edit-box .setting-box .row-mon-skill,
.edit-box .setting-box .row-mon-leader-skill{
	margin-top:5px;
}
/*.skill-box .skill-cd::before{
	content: "冷却回合：";
}
.skill-box .skill-level-label::before{
	content: "Lv";
}
.skill-box .m-skill-lv-1::before{
	content: "Lv";
}
.skill-box .m-skill-lv-max::before{
	content: "最高Lv";
}*/
.skill-box .m-skill-level {
	height: 30px;
	width: 45px;
	box-sizing: border-box;
	border: none;
	background: none;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	text-shadow: inherit;
}
.skill-box .m-skill-lv-1,
.skill-box .m-skill-lv-max{
	padding: 0 3px;
	height: 30px;
	box-sizing: border-box;
	font-size: 18px;
}
.skill-box{
	font-family: 'FOT-KurokaneStd-EB', "Malgun Gothic", "맑은 고딕", "Gulim", AppleGothic;
	font-size: 20px;
	border: #9C743E solid 2px;
	border-radius: 10px;
	background-color: #B1AAA0;
	overflow: hidden;
	box-shadow: inset black 0 0 5px;
}
.skill-title{
	background-color: #39180F;
	box-shadow: inset black 0 5px 5px;
	padding: 0 10px 0 5px;
	text-shadow:black 3px 3px 0;
}
.skill-title::before{
	background-color: #774433;
	border: #BBAA55 solid 2px;
	border-radius: 10px;
	margin-right: 5px;
	padding: 0 5px;
	text-shadow:black 0 0 3px;
	line-height: 25px;
	display: inline-block;
}
.row-mon-skill .skill-title::before{
	/*content: "主動技能";*/
	color: #DDEEEE;
}
.row-mon-skill .skill-title .skill-name{
	color: #84BAFC;
}
.row-mon-leader-skill .skill-title::before{
	/*content: "隊長技能";*/
	color: #FF9955;
}
.row-mon-leader-skill .skill-title .skill-name{
	color: #85FD80;
}
.skill-box .skill-cd-control{
	float: right;
}
.skill-box .skill-cd{
	margin-left: 10px;
}
.skill-datail{
	color: black;
	padding: 0 8px 6px 8px;
	line-height: 25px;
}
.skill-datail .spColor{
	color: #ff3600;
}
.skill-datail .detail-search{
	cursor: pointer;
	color: blue;
}
.skill-datail .detail-search::before{
	content: "🔍";
}
.skill-datail .random-active-skill{
	padding-left: 1em;
}
.skill-datail .random-active-skill>.active-skill-li{
	list-style: decimal;
}

.edit-box .button-box{
	border-top: black solid 3px;
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	padding: 5px;
	height: 50px;
}
.edit-box .button-box .button-null,
.edit-box .button-box .button-delay,
.edit-box .button-box .button-cancel,
.edit-box .button-box .button-done{
	height: 50px;
	box-sizing: border-box;
	font-size: 25px;
	font-weight: bold;
}
.edit-box .button-box .button-null,
.edit-box .button-box .button-delay{
	float: left;
	margin-right:5px;
}
.edit-box .button-box .button-cancel,
.edit-box .button-box .button-done{
	float: right;
	margin-left:5px;
}
/*.edit-box .button-box .button-null::after{
	content: "留空格子";
}
.edit-box .button-box .button-delay::after{
	content: "应对威吓";
}
.edit-box .button-box .button-cancel::after{
	content: "取消修改";
}
.edit-box .button-box .button-done::after{
	content: "确认修改";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "不能辅助";
}*/
.formation-awoken::before,
.team-awoken::before
{
	font-size: 20px;
	margin-top:5px;
	/*content: "觉醒总计：";*/
}
.detail-box{
	margin-top:5px;
}
.awoken-ul .awoken-count
{
	font-size: 16px;
	line-height: 32px;
	font-family: 'FOT-KurokaneStd-EB',"Malgun Gothic", "맑은 고딕", "Gulim", AppleGothic;

	display: inline-block;
	margin-right: 3px;
}
.awoken-ul .count
{
	height: 32px;
	width: 37px;
	display: inline-block;
	vertical-align: middle;
}
.awoken-ul .count::before{
	content: "×";
}
/*控制框*/
.control-box{
	margin-bottom: 10px;
}
.control-box .languages-label::before{
	content: "Lanuage:";
}

.control-box .solo-link::before{
	content: "Jump To Solo Version";
}
.control-box .multi-link::before{
	content: "Jump To 2-Player Version";
}
.control-box .btn-show-mon-id{
	margin-left: 5px;
}
/*.control-box .btn-show-mon-id::before{
	content: "隐藏怪物ID";
}
.not-show-mon-id .control-box .btn-show-mon-skill-cd::before{
	content: "显示怪物ID";
}
.show-mon-skill-cd .control-box .btn-show-mon-skill-cd::before{
	content: "⬜隐藏已满技能CD";
}
.control-box .btn-show-mon-skill-cd::before{
	content: "❄️显示已满技能CD";
}
*/
#interchange-line{
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
}
#interchange-line g line {
	fill: none;
	stroke: blue;
	stroke-linecap: round;
	stroke-width: 5;
	stroke-dasharray: 10;
}