@charset "utf-8";
/*怪物边框*/
.property{ /*主属性*/
	background-position-y: 0;
}
.property[data-property='-1'],
.subproperty[data-property='-1']
{
	background: none; /*无*/
}
.property[data-property='0'],
.subproperty[data-property='0']
{
	background-position-x: calc(-102px * 0); /*火*/
}
.property[data-property='1'],
.subproperty[data-property='1']
{
	background-position-x: calc(-102px * 1); /*水*/
}
.property[data-property='2'],
.subproperty[data-property='2']
{
	background-position-x: calc(-102px * 2); /*木*/
}
.property[data-property='3'],
.subproperty[data-property='3']
{
	background-position-x: calc(-102px * 3); /*光*/
}
.property[data-property='4'],
.subproperty[data-property='4']
{
	background-position-x: calc(-102px * 4); /*暗*/
}
.property[data-property='6']
{
	background-image: url(images/CARDFRAMEW.PNG);
	background-position: 0 0;
}
.subproperty{ /*副属性*/
	background-position-y: -104px;
}
/*宠物头像所用的图片*/
.monster[data-cards-pic-idx='1']{background-image: url(images/cards_ja/CARDS_001.PNG);}
.monster[data-cards-pic-idx='2']{background-image: url(images/cards_ja/CARDS_002.PNG);}
.monster[data-cards-pic-idx='3']{background-image: url(images/cards_ja/CARDS_003.PNG);}
.monster[data-cards-pic-idx='4']{background-image: url(images/cards_ja/CARDS_004.PNG);}
.monster[data-cards-pic-idx='5']{background-image: url(images/cards_ja/CARDS_005.PNG);}
.monster[data-cards-pic-idx='6']{background-image: url(images/cards_ja/CARDS_006.PNG);}
.monster[data-cards-pic-idx='7']{background-image: url(images/cards_ja/CARDS_007.PNG);}
.monster[data-cards-pic-idx='8']{background-image: url(images/cards_ja/CARDS_008.PNG);}
.monster[data-cards-pic-idx='9']{background-image: url(images/cards_ja/CARDS_009.PNG);}
.monster[data-cards-pic-idx='10']{background-image: url(images/cards_ja/CARDS_010.PNG);}
.monster[data-cards-pic-idx='11']{background-image: url(images/cards_ja/CARDS_011.PNG);}
.monster[data-cards-pic-idx='12']{background-image: url(images/cards_ja/CARDS_012.PNG);}
.monster[data-cards-pic-idx='13']{background-image: url(images/cards_ja/CARDS_013.PNG);}
.monster[data-cards-pic-idx='14']{background-image: url(images/cards_ja/CARDS_014.PNG);}
.monster[data-cards-pic-idx='15']{background-image: url(images/cards_ja/CARDS_015.PNG);}
.monster[data-cards-pic-idx='16']{background-image: url(images/cards_ja/CARDS_016.PNG);}
.monster[data-cards-pic-idx='17']{background-image: url(images/cards_ja/CARDS_017.PNG);}
.monster[data-cards-pic-idx='18']{background-image: url(images/cards_ja/CARDS_018.PNG);}
.monster[data-cards-pic-idx='19']{background-image: url(images/cards_ja/CARDS_019.PNG);}
.monster[data-cards-pic-idx='20']{background-image: url(images/cards_ja/CARDS_020.PNG);}
.monster[data-cards-pic-idx='21']{background-image: url(images/cards_ja/CARDS_021.PNG);}
.monster[data-cards-pic-idx='22']{background-image: url(images/cards_ja/CARDS_022.PNG);}
.monster[data-cards-pic-idx='23']{background-image: url(images/cards_ja/CARDS_023.PNG);}
.monster[data-cards-pic-idx='24']{background-image: url(images/cards_ja/CARDS_024.PNG);}
.monster[data-cards-pic-idx='25']{background-image: url(images/cards_ja/CARDS_025.PNG);}
.monster[data-cards-pic-idx='26']{background-image: url(images/cards_ja/CARDS_026.PNG);}
.monster[data-cards-pic-idx='27']{background-image: url(images/cards_ja/CARDS_027.PNG);}
.monster[data-cards-pic-idx='28']{background-image: url(images/cards_ja/CARDS_028.PNG);}
.monster[data-cards-pic-idx='29']{background-image: url(images/cards_ja/CARDS_029.PNG);}
.monster[data-cards-pic-idx='30']{background-image: url(images/cards_ja/CARDS_030.PNG);}
.monster[data-cards-pic-idx='31']{background-image: url(images/cards_ja/CARDS_031.PNG);}
.monster[data-cards-pic-idx='32']{background-image: url(images/cards_ja/CARDS_032.PNG);}
.monster[data-cards-pic-idx='33']{background-image: url(images/cards_ja/CARDS_033.PNG);}
.monster[data-cards-pic-idx='34']{background-image: url(images/cards_ja/CARDS_034.PNG);}
.monster[data-cards-pic-idx='35']{background-image: url(images/cards_ja/CARDS_035.PNG);}
.monster[data-cards-pic-idx='36']{background-image: url(images/cards_ja/CARDS_036.PNG);}
.monster[data-cards-pic-idx='37']{background-image: url(images/cards_ja/CARDS_037.PNG);}
.monster[data-cards-pic-idx='38']{background-image: url(images/cards_ja/CARDS_038.PNG);}
.monster[data-cards-pic-idx='39']{background-image: url(images/cards_ja/CARDS_039.PNG);}
.monster[data-cards-pic-idx='40']{background-image: url(images/cards_ja/CARDS_040.PNG);}
.monster[data-cards-pic-idx='41']{background-image: url(images/cards_ja/CARDS_041.PNG);}
.monster[data-cards-pic-idx='42']{background-image: url(images/cards_ja/CARDS_042.PNG);}
.monster[data-cards-pic-idx='43']{background-image: url(images/cards_ja/CARDS_043.PNG);}
.monster[data-cards-pic-idx='44']{background-image: url(images/cards_ja/CARDS_044.PNG);}
.monster[data-cards-pic-idx='45']{background-image: url(images/cards_ja/CARDS_045.PNG);}
.monster[data-cards-pic-idx='46']{background-image: url(images/cards_ja/CARDS_046.PNG);}
.monster[data-cards-pic-idx='47']{background-image: url(images/cards_ja/CARDS_047.PNG);}
.monster[data-cards-pic-idx='48']{background-image: url(images/cards_ja/CARDS_048.PNG);}
.monster[data-cards-pic-idx='49']{background-image: url(images/cards_ja/CARDS_049.PNG);}
.monster[data-cards-pic-idx='50']{background-image: url(images/cards_ja/CARDS_050.PNG);}
.monster[data-cards-pic-idx='51']{background-image: url(images/cards_ja/CARDS_051.PNG);}
.monster[data-cards-pic-idx='52']{background-image: url(images/cards_ja/CARDS_052.PNG);}
.monster[data-cards-pic-idx='53']{background-image: url(images/cards_ja/CARDS_053.PNG);}
.monster[data-cards-pic-idx='54']{background-image: url(images/cards_ja/CARDS_054.PNG);}
.monster[data-cards-pic-idx='55']{background-image: url(images/cards_ja/CARDS_055.PNG);}
.monster[data-cards-pic-idx='56']{background-image: url(images/cards_ja/CARDS_056.PNG);}
.monster[data-cards-pic-idx='57']{background-image: url(images/cards_ja/CARDS_057.PNG);}
.monster[data-cards-pic-idx='58']{background-image: url(images/cards_ja/CARDS_058.PNG);}
.monster[data-cards-pic-idx='59']{background-image: url(images/cards_ja/CARDS_059.PNG);}
.monster[data-cards-pic-idx='60']{background-image: url(images/cards_ja/CARDS_060.PNG);}
.monster[data-cards-pic-idx='61']{background-image: url(images/cards_ja/CARDS_061.PNG);}
.monster[data-cards-pic-idx='62']{background-image: url(images/cards_ja/CARDS_062.PNG);}
.monster[data-cards-pic-idx='63']{background-image: url(images/cards_ja/CARDS_063.PNG);}
.monster[data-cards-pic-idx='64']{background-image: url(images/cards_ja/CARDS_064.PNG);}
.monster[data-cards-pic-idx='65']{background-image: url(images/cards_ja/CARDS_065.PNG);}
.monster[data-cards-pic-idx='66']{background-image: url(images/cards_ja/CARDS_066.PNG);}
.monster[data-cards-pic-idx='67']{background-image: url(images/cards_ja/CARDS_067.PNG);}
.monster[data-cards-pic-idx='68']{background-image: url(images/cards_ja/CARDS_068.PNG);}
.monster[data-cards-pic-idx='69']{background-image: url(images/cards_ja/CARDS_069.PNG);}
.monster[data-cards-pic-idx='70']{background-image: url(images/cards_ja/CARDS_070.PNG);}
.monster[data-cards-pic-idx='71']{background-image: url(images/cards_ja/CARDS_071.PNG);}
.monster[data-cards-pic-idx='72']{background-image: url(images/cards_ja/CARDS_072.PNG);}
.monster[data-cards-pic-idx='73']{background-image: url(images/cards_ja/CARDS_073.PNG);}
.monster[data-cards-pic-idx='74']{background-image: url(images/cards_ja/CARDS_074.PNG);}
.monster[data-cards-pic-idx='75']{background-image: url(images/cards_ja/CARDS_075.PNG);}
.monster[data-cards-pic-idx='76']{background-image: url(images/cards_ja/CARDS_076.PNG);}
.monster[data-cards-pic-idx='77']{background-image: url(images/cards_ja/CARDS_077.PNG);}
.monster[data-cards-pic-idx='78']{background-image: url(images/cards_ja/CARDS_078.PNG);}
.monster[data-cards-pic-idx='79']{background-image: url(images/cards_ja/CARDS_079.PNG);}
.monster[data-cards-pic-idx='80']{background-image: url(images/cards_ja/CARDS_080.PNG);}
.monster[data-cards-pic-idx='81']{background-image: url(images/cards_ja/CARDS_081.PNG);}
.monster[data-cards-pic-idx='82']{background-image: url(images/cards_ja/CARDS_082.PNG);}
.monster[data-cards-pic-idx='83']{background-image: url(images/cards_ja/CARDS_083.PNG);}
.monster[data-cards-pic-idx='84']{background-image: url(images/cards_ja/CARDS_084.PNG);}
.monster[data-cards-pic-idx='85']{background-image: url(images/cards_ja/CARDS_085.PNG);}
.monster[data-cards-pic-idx='86']{background-image: url(images/cards_ja/CARDS_086.PNG);}
.monster[data-cards-pic-idx='87']{background-image: url(images/cards_ja/CARDS_087.PNG);}
.monster[data-cards-pic-idx='88']{background-image: url(images/cards_ja/CARDS_088.PNG);}
.monster[data-cards-pic-idx='89']{background-image: url(images/cards_ja/CARDS_089.PNG);}
.monster[data-cards-pic-idx='90']{background-image: url(images/cards_ja/CARDS_090.PNG);}
.monster[data-cards-pic-idx='91']{background-image: url(images/cards_ja/CARDS_091.PNG);}
.monster[data-cards-pic-idx='92']{background-image: url(images/cards_ja/CARDS_092.PNG);}
.monster[data-cards-pic-idx='93']{background-image: url(images/cards_ja/CARDS_093.PNG);}
.monster[data-cards-pic-idx='94']{background-image: url(images/cards_ja/CARDS_094.PNG);}
.monster[data-cards-pic-idx='95']{background-image: url(images/cards_ja/CARDS_095.PNG);}
.monster[data-cards-pic-idx='96']{background-image: url(images/cards_ja/CARDS_096.PNG);}
.monster[data-cards-pic-idx='97']{background-image: url(images/cards_ja/CARDS_097.PNG);}
.monster[data-cards-pic-idx='98']{background-image: url(images/cards_ja/CARDS_098.PNG);}
.monster[data-cards-pic-idx='99']{background-image: url(images/cards_ja/CARDS_099.PNG);}
/*美服*/
.ds-en .monster[data-cards-pic-idx='1']{background-image: url(images/cards_en/CARDS_001.PNG);}
.ds-en .monster[data-cards-pic-idx='2']{background-image: url(images/cards_en/CARDS_002.PNG);}
.ds-en .monster[data-cards-pic-idx='3']{background-image: url(images/cards_en/CARDS_003.PNG);}
.ds-en .monster[data-cards-pic-idx='4']{background-image: url(images/cards_en/CARDS_004.PNG);}
.ds-en .monster[data-cards-pic-idx='5']{background-image: url(images/cards_en/CARDS_005.PNG);}
.ds-en .monster[data-cards-pic-idx='6']{background-image: url(images/cards_en/CARDS_006.PNG);}
.ds-en .monster[data-cards-pic-idx='7']{background-image: url(images/cards_en/CARDS_007.PNG);}
.ds-en .monster[data-cards-pic-idx='8']{background-image: url(images/cards_en/CARDS_008.PNG);}
.ds-en .monster[data-cards-pic-idx='9']{background-image: url(images/cards_en/CARDS_009.PNG);}
.ds-en .monster[data-cards-pic-idx='10']{background-image: url(images/cards_en/CARDS_010.PNG);}
.ds-en .monster[data-cards-pic-idx='11']{background-image: url(images/cards_en/CARDS_011.PNG);}
.ds-en .monster[data-cards-pic-idx='12']{background-image: url(images/cards_en/CARDS_012.PNG);}
.ds-en .monster[data-cards-pic-idx='13']{background-image: url(images/cards_en/CARDS_013.PNG);}
.ds-en .monster[data-cards-pic-idx='14']{background-image: url(images/cards_en/CARDS_014.PNG);}
.ds-en .monster[data-cards-pic-idx='15']{background-image: url(images/cards_en/CARDS_015.PNG);}
.ds-en .monster[data-cards-pic-idx='16']{background-image: url(images/cards_en/CARDS_016.PNG);}
.ds-en .monster[data-cards-pic-idx='17']{background-image: url(images/cards_en/CARDS_017.PNG);}
.ds-en .monster[data-cards-pic-idx='18']{background-image: url(images/cards_en/CARDS_018.PNG);}
.ds-en .monster[data-cards-pic-idx='19']{background-image: url(images/cards_en/CARDS_019.PNG);}
.ds-en .monster[data-cards-pic-idx='20']{background-image: url(images/cards_en/CARDS_020.PNG);}
.ds-en .monster[data-cards-pic-idx='21']{background-image: url(images/cards_en/CARDS_021.PNG);}
.ds-en .monster[data-cards-pic-idx='22']{background-image: url(images/cards_en/CARDS_022.PNG);}
.ds-en .monster[data-cards-pic-idx='23']{background-image: url(images/cards_en/CARDS_023.PNG);}
.ds-en .monster[data-cards-pic-idx='24']{background-image: url(images/cards_en/CARDS_024.PNG);}
.ds-en .monster[data-cards-pic-idx='25']{background-image: url(images/cards_en/CARDS_025.PNG);}
.ds-en .monster[data-cards-pic-idx='26']{background-image: url(images/cards_en/CARDS_026.PNG);}
.ds-en .monster[data-cards-pic-idx='27']{background-image: url(images/cards_en/CARDS_027.PNG);}
.ds-en .monster[data-cards-pic-idx='28']{background-image: url(images/cards_en/CARDS_028.PNG);}
.ds-en .monster[data-cards-pic-idx='29']{background-image: url(images/cards_en/CARDS_029.PNG);}
.ds-en .monster[data-cards-pic-idx='30']{background-image: url(images/cards_en/CARDS_030.PNG);}
.ds-en .monster[data-cards-pic-idx='31']{background-image: url(images/cards_en/CARDS_031.PNG);}
.ds-en .monster[data-cards-pic-idx='32']{background-image: url(images/cards_en/CARDS_032.PNG);}
.ds-en .monster[data-cards-pic-idx='33']{background-image: url(images/cards_en/CARDS_033.PNG);}
.ds-en .monster[data-cards-pic-idx='34']{background-image: url(images/cards_en/CARDS_034.PNG);}
.ds-en .monster[data-cards-pic-idx='35']{background-image: url(images/cards_en/CARDS_035.PNG);}
.ds-en .monster[data-cards-pic-idx='36']{background-image: url(images/cards_en/CARDS_036.PNG);}
.ds-en .monster[data-cards-pic-idx='37']{background-image: url(images/cards_en/CARDS_037.PNG);}
.ds-en .monster[data-cards-pic-idx='38']{background-image: url(images/cards_en/CARDS_038.PNG);}
.ds-en .monster[data-cards-pic-idx='39']{background-image: url(images/cards_en/CARDS_039.PNG);}
.ds-en .monster[data-cards-pic-idx='40']{background-image: url(images/cards_en/CARDS_040.PNG);}
.ds-en .monster[data-cards-pic-idx='41']{background-image: url(images/cards_en/CARDS_041.PNG);}
.ds-en .monster[data-cards-pic-idx='42']{background-image: url(images/cards_en/CARDS_042.PNG);}
.ds-en .monster[data-cards-pic-idx='43']{background-image: url(images/cards_en/CARDS_043.PNG);}
.ds-en .monster[data-cards-pic-idx='44']{background-image: url(images/cards_en/CARDS_044.PNG);}
.ds-en .monster[data-cards-pic-idx='45']{background-image: url(images/cards_en/CARDS_045.PNG);}
.ds-en .monster[data-cards-pic-idx='46']{background-image: url(images/cards_en/CARDS_046.PNG);}
.ds-en .monster[data-cards-pic-idx='47']{background-image: url(images/cards_en/CARDS_047.PNG);}
.ds-en .monster[data-cards-pic-idx='48']{background-image: url(images/cards_en/CARDS_048.PNG);}
.ds-en .monster[data-cards-pic-idx='49']{background-image: url(images/cards_en/CARDS_049.PNG);}
.ds-en .monster[data-cards-pic-idx='50']{background-image: url(images/cards_en/CARDS_050.PNG);}
.ds-en .monster[data-cards-pic-idx='51']{background-image: url(images/cards_en/CARDS_051.PNG);}
.ds-en .monster[data-cards-pic-idx='52']{background-image: url(images/cards_en/CARDS_052.PNG);}
.ds-en .monster[data-cards-pic-idx='53']{background-image: url(images/cards_en/CARDS_053.PNG);}
.ds-en .monster[data-cards-pic-idx='54']{background-image: url(images/cards_en/CARDS_054.PNG);}
.ds-en .monster[data-cards-pic-idx='55']{background-image: url(images/cards_en/CARDS_055.PNG);}
.ds-en .monster[data-cards-pic-idx='56']{background-image: url(images/cards_en/CARDS_056.PNG);}
.ds-en .monster[data-cards-pic-idx='57']{background-image: url(images/cards_en/CARDS_057.PNG);}
.ds-en .monster[data-cards-pic-idx='58']{background-image: url(images/cards_en/CARDS_058.PNG);}
.ds-en .monster[data-cards-pic-idx='59']{background-image: url(images/cards_en/CARDS_059.PNG);}
.ds-en .monster[data-cards-pic-idx='60']{background-image: url(images/cards_en/CARDS_060.PNG);}
.ds-en .monster[data-cards-pic-idx='61']{background-image: url(images/cards_en/CARDS_061.PNG);}
.ds-en .monster[data-cards-pic-idx='62']{background-image: url(images/cards_en/CARDS_062.PNG);}
.ds-en .monster[data-cards-pic-idx='63']{background-image: url(images/cards_en/CARDS_063.PNG);}
.ds-en .monster[data-cards-pic-idx='64']{background-image: url(images/cards_en/CARDS_064.PNG);}
.ds-en .monster[data-cards-pic-idx='65']{background-image: url(images/cards_en/CARDS_065.PNG);}
.ds-en .monster[data-cards-pic-idx='66']{background-image: url(images/cards_en/CARDS_066.PNG);}
.ds-en .monster[data-cards-pic-idx='67']{background-image: url(images/cards_en/CARDS_067.PNG);}
.ds-en .monster[data-cards-pic-idx='68']{background-image: url(images/cards_en/CARDS_068.PNG);}
.ds-en .monster[data-cards-pic-idx='69']{background-image: url(images/cards_en/CARDS_069.PNG);}
.ds-en .monster[data-cards-pic-idx='70']{background-image: url(images/cards_en/CARDS_070.PNG);}
.ds-en .monster[data-cards-pic-idx='71']{background-image: url(images/cards_en/CARDS_071.PNG);}
.ds-en .monster[data-cards-pic-idx='72']{background-image: url(images/cards_en/CARDS_072.PNG);}
.ds-en .monster[data-cards-pic-idx='73']{background-image: url(images/cards_en/CARDS_073.PNG);}
.ds-en .monster[data-cards-pic-idx='74']{background-image: url(images/cards_en/CARDS_074.PNG);}
.ds-en .monster[data-cards-pic-idx='75']{background-image: url(images/cards_en/CARDS_075.PNG);}
.ds-en .monster[data-cards-pic-idx='76']{background-image: url(images/cards_en/CARDS_076.PNG);}
.ds-en .monster[data-cards-pic-idx='77']{background-image: url(images/cards_en/CARDS_077.PNG);}
.ds-en .monster[data-cards-pic-idx='78']{background-image: url(images/cards_en/CARDS_078.PNG);}
.ds-en .monster[data-cards-pic-idx='79']{background-image: url(images/cards_en/CARDS_079.PNG);}
.ds-en .monster[data-cards-pic-idx='80']{background-image: url(images/cards_en/CARDS_080.PNG);}
.ds-en .monster[data-cards-pic-idx='81']{background-image: url(images/cards_en/CARDS_081.PNG);}
.ds-en .monster[data-cards-pic-idx='82']{background-image: url(images/cards_en/CARDS_082.PNG);}
.ds-en .monster[data-cards-pic-idx='83']{background-image: url(images/cards_en/CARDS_083.PNG);}
.ds-en .monster[data-cards-pic-idx='84']{background-image: url(images/cards_en/CARDS_084.PNG);}
.ds-en .monster[data-cards-pic-idx='85']{background-image: url(images/cards_en/CARDS_085.PNG);}
.ds-en .monster[data-cards-pic-idx='86']{background-image: url(images/cards_en/CARDS_086.PNG);}
.ds-en .monster[data-cards-pic-idx='87']{background-image: url(images/cards_en/CARDS_087.PNG);}
.ds-en .monster[data-cards-pic-idx='88']{background-image: url(images/cards_en/CARDS_088.PNG);}
.ds-en .monster[data-cards-pic-idx='89']{background-image: url(images/cards_en/CARDS_089.PNG);}
.ds-en .monster[data-cards-pic-idx='90']{background-image: url(images/cards_en/CARDS_090.PNG);}
.ds-en .monster[data-cards-pic-idx='91']{background-image: url(images/cards_en/CARDS_091.PNG);}
.ds-en .monster[data-cards-pic-idx='92']{background-image: url(images/cards_en/CARDS_092.PNG);}
.ds-en .monster[data-cards-pic-idx='93']{background-image: url(images/cards_en/CARDS_093.PNG);}
.ds-en .monster[data-cards-pic-idx='94']{background-image: url(images/cards_en/CARDS_094.PNG);}
.ds-en .monster[data-cards-pic-idx='95']{background-image: url(images/cards_en/CARDS_095.PNG);}
.ds-en .monster[data-cards-pic-idx='96']{background-image: url(images/cards_en/CARDS_096.PNG);}
.ds-en .monster[data-cards-pic-idx='97']{background-image: url(images/cards_en/CARDS_097.PNG);}
.ds-en .monster[data-cards-pic-idx='98']{background-image: url(images/cards_en/CARDS_098.PNG);}
.ds-en .monster[data-cards-pic-idx='99']{background-image: url(images/cards_en/CARDS_099.PNG);}
/*韩服*/
.ds-ko .monster[data-cards-pic-idx='1']{background-image: url(images/cards_ko/CARDS_001.PNG);}
.ds-ko .monster[data-cards-pic-idx='2']{background-image: url(images/cards_ko/CARDS_002.PNG);}
.ds-ko .monster[data-cards-pic-idx='3']{background-image: url(images/cards_ko/CARDS_003.PNG);}
.ds-ko .monster[data-cards-pic-idx='4']{background-image: url(images/cards_ko/CARDS_004.PNG);}
.ds-ko .monster[data-cards-pic-idx='5']{background-image: url(images/cards_ko/CARDS_005.PNG);}
.ds-ko .monster[data-cards-pic-idx='6']{background-image: url(images/cards_ko/CARDS_006.PNG);}
.ds-ko .monster[data-cards-pic-idx='7']{background-image: url(images/cards_ko/CARDS_007.PNG);}
.ds-ko .monster[data-cards-pic-idx='8']{background-image: url(images/cards_ko/CARDS_008.PNG);}
.ds-ko .monster[data-cards-pic-idx='9']{background-image: url(images/cards_ko/CARDS_009.PNG);}
.ds-ko .monster[data-cards-pic-idx='10']{background-image: url(images/cards_ko/CARDS_010.PNG);}
.ds-ko .monster[data-cards-pic-idx='11']{background-image: url(images/cards_ko/CARDS_011.PNG);}
.ds-ko .monster[data-cards-pic-idx='12']{background-image: url(images/cards_ko/CARDS_012.PNG);}
.ds-ko .monster[data-cards-pic-idx='13']{background-image: url(images/cards_ko/CARDS_013.PNG);}
.ds-ko .monster[data-cards-pic-idx='14']{background-image: url(images/cards_ko/CARDS_014.PNG);}
.ds-ko .monster[data-cards-pic-idx='15']{background-image: url(images/cards_ko/CARDS_015.PNG);}
.ds-ko .monster[data-cards-pic-idx='16']{background-image: url(images/cards_ko/CARDS_016.PNG);}
.ds-ko .monster[data-cards-pic-idx='17']{background-image: url(images/cards_ko/CARDS_017.PNG);}
.ds-ko .monster[data-cards-pic-idx='18']{background-image: url(images/cards_ko/CARDS_018.PNG);}
.ds-ko .monster[data-cards-pic-idx='19']{background-image: url(images/cards_ko/CARDS_019.PNG);}
.ds-ko .monster[data-cards-pic-idx='20']{background-image: url(images/cards_ko/CARDS_020.PNG);}
.ds-ko .monster[data-cards-pic-idx='21']{background-image: url(images/cards_ko/CARDS_021.PNG);}
.ds-ko .monster[data-cards-pic-idx='22']{background-image: url(images/cards_ko/CARDS_022.PNG);}
.ds-ko .monster[data-cards-pic-idx='23']{background-image: url(images/cards_ko/CARDS_023.PNG);}
.ds-ko .monster[data-cards-pic-idx='24']{background-image: url(images/cards_ko/CARDS_024.PNG);}
.ds-ko .monster[data-cards-pic-idx='25']{background-image: url(images/cards_ko/CARDS_025.PNG);}
.ds-ko .monster[data-cards-pic-idx='26']{background-image: url(images/cards_ko/CARDS_026.PNG);}
.ds-ko .monster[data-cards-pic-idx='27']{background-image: url(images/cards_ko/CARDS_027.PNG);}
.ds-ko .monster[data-cards-pic-idx='28']{background-image: url(images/cards_ko/CARDS_028.PNG);}
.ds-ko .monster[data-cards-pic-idx='29']{background-image: url(images/cards_ko/CARDS_029.PNG);}
.ds-ko .monster[data-cards-pic-idx='30']{background-image: url(images/cards_ko/CARDS_030.PNG);}
.ds-ko .monster[data-cards-pic-idx='31']{background-image: url(images/cards_ko/CARDS_031.PNG);}
.ds-ko .monster[data-cards-pic-idx='32']{background-image: url(images/cards_ko/CARDS_032.PNG);}
.ds-ko .monster[data-cards-pic-idx='33']{background-image: url(images/cards_ko/CARDS_033.PNG);}
.ds-ko .monster[data-cards-pic-idx='34']{background-image: url(images/cards_ko/CARDS_034.PNG);}
.ds-ko .monster[data-cards-pic-idx='35']{background-image: url(images/cards_ko/CARDS_035.PNG);}
.ds-ko .monster[data-cards-pic-idx='36']{background-image: url(images/cards_ko/CARDS_036.PNG);}
.ds-ko .monster[data-cards-pic-idx='37']{background-image: url(images/cards_ko/CARDS_037.PNG);}
.ds-ko .monster[data-cards-pic-idx='38']{background-image: url(images/cards_ko/CARDS_038.PNG);}
.ds-ko .monster[data-cards-pic-idx='39']{background-image: url(images/cards_ko/CARDS_039.PNG);}
.ds-ko .monster[data-cards-pic-idx='40']{background-image: url(images/cards_ko/CARDS_040.PNG);}
.ds-ko .monster[data-cards-pic-idx='41']{background-image: url(images/cards_ko/CARDS_041.PNG);}
.ds-ko .monster[data-cards-pic-idx='42']{background-image: url(images/cards_ko/CARDS_042.PNG);}
.ds-ko .monster[data-cards-pic-idx='43']{background-image: url(images/cards_ko/CARDS_043.PNG);}
.ds-ko .monster[data-cards-pic-idx='44']{background-image: url(images/cards_ko/CARDS_044.PNG);}
.ds-ko .monster[data-cards-pic-idx='45']{background-image: url(images/cards_ko/CARDS_045.PNG);}
.ds-ko .monster[data-cards-pic-idx='46']{background-image: url(images/cards_ko/CARDS_046.PNG);}
.ds-ko .monster[data-cards-pic-idx='47']{background-image: url(images/cards_ko/CARDS_047.PNG);}
.ds-ko .monster[data-cards-pic-idx='48']{background-image: url(images/cards_ko/CARDS_048.PNG);}
.ds-ko .monster[data-cards-pic-idx='49']{background-image: url(images/cards_ko/CARDS_049.PNG);}
.ds-ko .monster[data-cards-pic-idx='50']{background-image: url(images/cards_ko/CARDS_050.PNG);}
.ds-ko .monster[data-cards-pic-idx='51']{background-image: url(images/cards_ko/CARDS_051.PNG);}
.ds-ko .monster[data-cards-pic-idx='52']{background-image: url(images/cards_ko/CARDS_052.PNG);}
.ds-ko .monster[data-cards-pic-idx='53']{background-image: url(images/cards_ko/CARDS_053.PNG);}
.ds-ko .monster[data-cards-pic-idx='54']{background-image: url(images/cards_ko/CARDS_054.PNG);}
.ds-ko .monster[data-cards-pic-idx='55']{background-image: url(images/cards_ko/CARDS_055.PNG);}
.ds-ko .monster[data-cards-pic-idx='56']{background-image: url(images/cards_ko/CARDS_056.PNG);}
.ds-ko .monster[data-cards-pic-idx='57']{background-image: url(images/cards_ko/CARDS_057.PNG);}
.ds-ko .monster[data-cards-pic-idx='58']{background-image: url(images/cards_ko/CARDS_058.PNG);}
.ds-ko .monster[data-cards-pic-idx='59']{background-image: url(images/cards_ko/CARDS_059.PNG);}
.ds-ko .monster[data-cards-pic-idx='60']{background-image: url(images/cards_ko/CARDS_060.PNG);}
.ds-ko .monster[data-cards-pic-idx='61']{background-image: url(images/cards_ko/CARDS_061.PNG);}
.ds-ko .monster[data-cards-pic-idx='62']{background-image: url(images/cards_ko/CARDS_062.PNG);}
.ds-ko .monster[data-cards-pic-idx='63']{background-image: url(images/cards_ko/CARDS_063.PNG);}
.ds-ko .monster[data-cards-pic-idx='64']{background-image: url(images/cards_ko/CARDS_064.PNG);}
.ds-ko .monster[data-cards-pic-idx='65']{background-image: url(images/cards_ko/CARDS_065.PNG);}
.ds-ko .monster[data-cards-pic-idx='66']{background-image: url(images/cards_ko/CARDS_066.PNG);}
.ds-ko .monster[data-cards-pic-idx='67']{background-image: url(images/cards_ko/CARDS_067.PNG);}
.ds-ko .monster[data-cards-pic-idx='68']{background-image: url(images/cards_ko/CARDS_068.PNG);}
.ds-ko .monster[data-cards-pic-idx='69']{background-image: url(images/cards_ko/CARDS_069.PNG);}
.ds-ko .monster[data-cards-pic-idx='70']{background-image: url(images/cards_ko/CARDS_070.PNG);}
.ds-ko .monster[data-cards-pic-idx='71']{background-image: url(images/cards_ko/CARDS_071.PNG);}
.ds-ko .monster[data-cards-pic-idx='72']{background-image: url(images/cards_ko/CARDS_072.PNG);}
.ds-ko .monster[data-cards-pic-idx='73']{background-image: url(images/cards_ko/CARDS_073.PNG);}
.ds-ko .monster[data-cards-pic-idx='74']{background-image: url(images/cards_ko/CARDS_074.PNG);}
.ds-ko .monster[data-cards-pic-idx='75']{background-image: url(images/cards_ko/CARDS_075.PNG);}
.ds-ko .monster[data-cards-pic-idx='76']{background-image: url(images/cards_ko/CARDS_076.PNG);}
.ds-ko .monster[data-cards-pic-idx='77']{background-image: url(images/cards_ko/CARDS_077.PNG);}
.ds-ko .monster[data-cards-pic-idx='78']{background-image: url(images/cards_ko/CARDS_078.PNG);}
.ds-ko .monster[data-cards-pic-idx='79']{background-image: url(images/cards_ko/CARDS_079.PNG);}
.ds-ko .monster[data-cards-pic-idx='80']{background-image: url(images/cards_ko/CARDS_080.PNG);}
.ds-ko .monster[data-cards-pic-idx='81']{background-image: url(images/cards_ko/CARDS_081.PNG);}
.ds-ko .monster[data-cards-pic-idx='82']{background-image: url(images/cards_ko/CARDS_082.PNG);}
.ds-ko .monster[data-cards-pic-idx='83']{background-image: url(images/cards_ko/CARDS_083.PNG);}
.ds-ko .monster[data-cards-pic-idx='84']{background-image: url(images/cards_ko/CARDS_084.PNG);}
.ds-ko .monster[data-cards-pic-idx='85']{background-image: url(images/cards_ko/CARDS_085.PNG);}
.ds-ko .monster[data-cards-pic-idx='86']{background-image: url(images/cards_ko/CARDS_086.PNG);}
.ds-ko .monster[data-cards-pic-idx='87']{background-image: url(images/cards_ko/CARDS_087.PNG);}
.ds-ko .monster[data-cards-pic-idx='88']{background-image: url(images/cards_ko/CARDS_088.PNG);}
.ds-ko .monster[data-cards-pic-idx='89']{background-image: url(images/cards_ko/CARDS_089.PNG);}
.ds-ko .monster[data-cards-pic-idx='90']{background-image: url(images/cards_ko/CARDS_090.PNG);}
.ds-ko .monster[data-cards-pic-idx='91']{background-image: url(images/cards_ko/CARDS_091.PNG);}
.ds-ko .monster[data-cards-pic-idx='92']{background-image: url(images/cards_ko/CARDS_092.PNG);}
.ds-ko .monster[data-cards-pic-idx='93']{background-image: url(images/cards_ko/CARDS_093.PNG);}
.ds-ko .monster[data-cards-pic-idx='94']{background-image: url(images/cards_ko/CARDS_094.PNG);}
.ds-ko .monster[data-cards-pic-idx='95']{background-image: url(images/cards_ko/CARDS_095.PNG);}
.ds-ko .monster[data-cards-pic-idx='96']{background-image: url(images/cards_ko/CARDS_096.PNG);}
.ds-ko .monster[data-cards-pic-idx='97']{background-image: url(images/cards_ko/CARDS_097.PNG);}
.ds-ko .monster[data-cards-pic-idx='98']{background-image: url(images/cards_ko/CARDS_098.PNG);}
.ds-ko .monster[data-cards-pic-idx='99']{background-image: url(images/cards_ko/CARDS_099.PNG);}
/*.en-only.monster[data-cards-pic-idx='54']{background-image: url(images/cards/en/CARDS_054.PNG);}
.en-only.monster[data-cards-pic-idx='55']{background-image: url(images/cards/en/CARDS_055.PNG);}*/
/*宠物在图中编号对应的坐标*/
.monster[data-cards-pic-x='0']{background-position-x:calc(-102px * 0);}
.monster[data-cards-pic-x='1']{background-position-x:calc(-102px * 1);}
.monster[data-cards-pic-x='2']{background-position-x:calc(-102px * 2);}
.monster[data-cards-pic-x='3']{background-position-x:calc(-102px * 3);}
.monster[data-cards-pic-x='4']{background-position-x:calc(-102px * 4);}
.monster[data-cards-pic-x='5']{background-position-x:calc(-102px * 5);}
.monster[data-cards-pic-x='6']{background-position-x:calc(-102px * 6);}
.monster[data-cards-pic-x='7']{background-position-x:calc(-102px * 7);}
.monster[data-cards-pic-x='8']{background-position-x:calc(-102px * 8);}
.monster[data-cards-pic-x='9']{background-position-x:calc(-102px * 9);}
.monster[data-cards-pic-y='0']{background-position-y:calc(-102px * 0);}
.monster[data-cards-pic-y='1']{background-position-y:calc(-102px * 1);}
.monster[data-cards-pic-y='2']{background-position-y:calc(-102px * 2);}
.monster[data-cards-pic-y='3']{background-position-y:calc(-102px * 3);}
.monster[data-cards-pic-y='4']{background-position-y:calc(-102px * 4);}
.monster[data-cards-pic-y='5']{background-position-y:calc(-102px * 5);}
.monster[data-cards-pic-y='6']{background-position-y:calc(-102px * 6);}
.monster[data-cards-pic-y='7']{background-position-y:calc(-102px * 7);}
.monster[data-cards-pic-y='8']{background-position-y:calc(-102px * 8);}
.monster[data-cards-pic-y='9']{background-position-y:calc(-102px * 9);}
/*觉醒、类型、潜觉*/
.awoken-icon,.type-icon{
	display:inline-block;
	width:32px;height:32px;
    vertical-align: middle;
	background-repeat: no-repeat;
}
/*觉醒*/
.awoken-icon{
    background-image: url(images/awoken.png);
	background-position-x: 0;
}
.awoken-icon[data-awoken-icon='0']{/*问号*/
	background-position-y:calc(-32px * 0);
}
.awoken-icon[data-awoken-icon='1']{/*HP+*/
	background-position-y:calc(-32px * 1);
}
.awoken-icon[data-awoken-icon='2']{/*攻击+*/
	background-position-y:calc(-32px * 2);
}
.awoken-icon[data-awoken-icon='3']{/*回复+*/
	background-position-y:calc(-32px * 3);
}
.awoken-icon[data-awoken-icon='4']{/*火盾*/
	background-position-y:calc(-32px * 4);
}
.awoken-icon[data-awoken-icon='5']{/*水盾*/
	background-position-y:calc(-32px * 5);
}
.awoken-icon[data-awoken-icon='6']{/*木盾*/
	background-position-y:calc(-32px * 6);
}
.awoken-icon[data-awoken-icon='7']{/*光盾*/
	background-position-y:calc(-32px * 7);
}
.awoken-icon[data-awoken-icon='8']{/*暗盾*/
	background-position-y:calc(-32px * 8);
}
.awoken-icon[data-awoken-icon='9']{/*自回*/
	background-position-y:calc(-32px * 9);
}
.awoken-icon[data-awoken-icon='10']{/*防封*/
	background-position-y:calc(-32px * 10);
}
.awoken-icon[data-awoken-icon='11']{/*防暗*/
	background-position-y:calc(-32px * 11);
}
.awoken-icon[data-awoken-icon='12']{/*防废*/
	background-position-y:calc(-32px * 12);
}
.awoken-icon[data-awoken-icon='13']{/*防毒*/
	background-position-y:calc(-32px * 13);
}
.awoken-icon[data-awoken-icon='14']{/*火+*/
	background-position-y:calc(-32px * 14);
}
.awoken-icon[data-awoken-icon='15']{/*水+*/
	background-position-y:calc(-32px * 15);
}
.awoken-icon[data-awoken-icon='16']{/*木+*/
	background-position-y:calc(-32px * 16);
}
.awoken-icon[data-awoken-icon='17']{/*光+*/
	background-position-y:calc(-32px * 17);
}
.awoken-icon[data-awoken-icon='18']{/*暗+*/
	background-position-y:calc(-32px * 18);
}
.awoken-icon[data-awoken-icon='19']{/*手指*/
	background-position-y:calc(-32px * 19);
}
.awoken-icon[data-awoken-icon='20']{/*心解*/
	background-position-y:calc(-32px * 20);
}
.awoken-icon[data-awoken-icon='21']{/*SB*/
	background-position-y:calc(-32px * 21);
}
.awoken-icon[data-awoken-icon='22']{/*火横*/
	background-position-y:calc(-32px * 22);
}
.awoken-icon[data-awoken-icon='23']{/*水横*/
	background-position-y:calc(-32px * 23);
}
.awoken-icon[data-awoken-icon='24']{/*木横*/
	background-position-y:calc(-32px * 24);
}
.awoken-icon[data-awoken-icon='25']{/*光横*/
	background-position-y:calc(-32px * 25);
}
.awoken-icon[data-awoken-icon='26']{/*暗横*/
	background-position-y:calc(-32px * 26);
}
.awoken-icon[data-awoken-icon='27']{/*U*/
	background-position-y:calc(-32px * 27);
}
.awoken-icon[data-awoken-icon='28']{/*SX*/
	background-position-y:calc(-32px * 28);
}
.awoken-icon[data-awoken-icon='29']{/*心+*/
	background-position-y:calc(-32px * 29);
}
.awoken-icon[data-awoken-icon='30']{/*协力*/
	background-position-y:calc(-32px * 30);
}
.awoken-icon[data-awoken-icon='31']{/*龙杀*/
	background-position-y:calc(-32px * 31);
}
.awoken-icon[data-awoken-icon='32']{/*神杀*/
	background-position-y:calc(-32px * 32);
}
.awoken-icon[data-awoken-icon='33']{/*恶魔杀*/
	background-position-y:calc(-32px * 33);
}
.awoken-icon[data-awoken-icon='34']{/*机杀*/
	background-position-y:calc(-32px * 34);
}
.awoken-icon[data-awoken-icon='35']{/*平衡杀*/
	background-position-y:calc(-32px * 35);
}
.awoken-icon[data-awoken-icon='36']{/*攻击杀*/
	background-position-y:calc(-32px * 36);
}
.awoken-icon[data-awoken-icon='37']{/*体力杀*/
	background-position-y:calc(-32px * 37);
}
.awoken-icon[data-awoken-icon='38']{/*回复杀*/
	background-position-y:calc(-32px * 38);
}
.awoken-icon[data-awoken-icon='39']{/*进化杀*/
	background-position-y:calc(-32px * 39);
}
.awoken-icon[data-awoken-icon='40']{/*觉醒杀*/
	background-position-y:calc(-32px * 40);
}
.awoken-icon[data-awoken-icon='41']{/*强化杀*/
	background-position-y:calc(-32px * 41);
}
.awoken-icon[data-awoken-icon='42']{/*卖钱杀*/
	background-position-y:calc(-32px * 42);
}
.awoken-icon[data-awoken-icon='43']{/*7c*/
	background-position-y:calc(-32px * 43);
}
.awoken-icon[data-awoken-icon='44']{/*5色破防*/
	background-position-y:calc(-32px * 44);
}
.awoken-icon[data-awoken-icon='45']{/*心追*/
	background-position-y:calc(-32px * 45);
}
.awoken-icon[data-awoken-icon='46']{/*全体HP*/
	background-position-y:calc(-32px * 46);
}
.awoken-icon[data-awoken-icon='47']{/*全体回复*/
	background-position-y:calc(-32px * 47);
}
.awoken-icon[data-awoken-icon='48']{/*破无效*/
	background-position-y:calc(-32px * 48);
}
.awoken-icon[data-awoken-icon='49']{/*武器觉醒*/
	background-position-y:calc(-32px * 49);
}
.awoken-icon[data-awoken-icon='50']{/*方块心追*/
	background-position-y:calc(-32px * 50);
}
.awoken-icon[data-awoken-icon='51']{/*5色溜*/
	background-position-y:calc(-32px * 51);
}
.awoken-icon[data-awoken-icon='52']{/*大防封*/
	background-position-y:calc(-32px * 52);
}
.awoken-icon[data-awoken-icon='53']{/*大手指*/
	background-position-y:calc(-32px * 53);
}
.awoken-icon[data-awoken-icon='54']{/*防云*/
	background-position-y:calc(-32px * 54);
}
.awoken-icon[data-awoken-icon='55']{/*防封条*/
	background-position-y:calc(-32px * 55);
}
.awoken-icon[data-awoken-icon='56']{/*大SB*/
	background-position-y:calc(-32px * 56);
}
.awoken-icon[data-awoken-icon='57']{/*满血强化*/
	background-position-y:calc(-32px * 57);
}
.awoken-icon[data-awoken-icon='58']{/*下半血强化*/
	background-position-y:calc(-32px * 58);
}
.awoken-icon[data-awoken-icon='59']{/*L盾*/
	background-position-y:calc(-32px * 59);
}
.awoken-icon[data-awoken-icon='60']{/*L解锁*/
	background-position-y:calc(-32px * 60);
}
.awoken-icon[data-awoken-icon='61']{/*10c*/
	background-position-y:calc(-32px * 61);
}
.awoken-icon[data-awoken-icon='62']{/*c珠*/
	background-position-y:calc(-32px * 62);
}
.awoken-icon[data-awoken-icon='63']{/*语音*/
	background-position-y:calc(-32px * 63);
}
.awoken-icon[data-awoken-icon='64']{/*奖励增加*/
	background-position-y:calc(-32px * 64);
}
.awoken-icon[data-awoken-icon='65']{/*HP-*/
	background-position-y:calc(-32px * 65);
}
.awoken-icon[data-awoken-icon='66']{/*攻击-*/
	background-position-y:calc(-32px * 66);
}
.awoken-icon[data-awoken-icon='67']{/*回复-*/
	background-position-y:calc(-32px * 67);
}
.awoken-icon[data-awoken-icon='68']{/*大防暗*/
	background-position-y:calc(-32px * 68);
}
.awoken-icon[data-awoken-icon='69']{/*大防废*/
	background-position-y:calc(-32px * 69);
}
.awoken-icon[data-awoken-icon='70']{/*大防毒*/
	background-position-y:calc(-32px * 70);
}
.awoken-icon[data-awoken-icon='71']{/*掉废*/
	background-position-y:calc(-32px * 71);
}
.awoken-icon[data-awoken-icon='72']{/*掉毒*/
	background-position-y:calc(-32px * 72);
}
.awoken-icon[data-awoken-icon='73']{/*2串火*/
	background-position-y:calc(-32px * 73);
}
.awoken-icon[data-awoken-icon='74']{/*2串水*/
	background-position-y:calc(-32px * 74);
}
.awoken-icon[data-awoken-icon='75']{/*2串木*/
	background-position-y:calc(-32px * 75);
}
.awoken-icon[data-awoken-icon='76']{/*2串光*/
	background-position-y:calc(-32px * 76);
}
.awoken-icon[data-awoken-icon='77']{/*2串暗*/
	background-position-y:calc(-32px * 77);
}
.awoken-icon[data-awoken-icon='78']{/*十字*/
	background-position-y:calc(-32px * 78);
}
/*类型*/
.type-icon{
	background-image: url(images/type.png);
	background-position-x: 0;
	background-position-y: 32px; /*默认不显示*/
}
.type-icon[data-type-icon='0']{/*进化用*/
	background-position-y:calc(-32px * 0);
}
.type-icon[data-type-icon='1']{/*平衡*/
	background-position-y:calc(-32px * 1);
}
.type-icon[data-type-icon='2']{/*体力*/
	background-position-y:calc(-32px * 2);
}
.type-icon[data-type-icon='3']{/*回复*/
	background-position-y:calc(-32px * 3);
}
.type-icon[data-type-icon='4']{/*龙*/
	background-position-y:calc(-32px * 4);
}
.type-icon[data-type-icon='5']{/*神*/
	background-position-y:calc(-32px * 5);
}
.type-icon[data-type-icon='6']{/*攻击*/
	background-position-y:calc(-32px * 6);
}
.type-icon[data-type-icon='7']{/*恶魔*/
	background-position-y:calc(-32px * 7);
}
.type-icon[data-type-icon='8']{/*机械*/
	background-position-y:calc(-32px * 8);
}
.type-icon[data-type-icon='9']{/*特别保护*/
	background-position-y:calc(-32px * 9);
}
.type-icon[data-type-icon='12']{/*能力觉醒用*/
	background-position-y:calc(-32px * 12);
}
.type-icon[data-type-icon='14']{/*强化合成用*/
	background-position-y:calc(-32px * 14);
}
.type-icon[data-type-icon='15']{/*贩卖用*/
	background-position-y:calc(-32px * 15);
}
/*潜在觉醒*/
.latent-icon{
	display:inline-block;
    background: rgba(33,28,21,0.5);
    border: 2px ridge rgba(82,82,60,0.5);
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow:inset 0 2px 1px -1px rgba(0,0,0,0.5);
}
.latent-icon::before{
	content: "";
	display: inline-block;
	margin: -2px;
	width: 32px;
	height: 32px;
	background-image: url(images/latent.png);
	background-repeat: no-repeat;
}
.latent-icon.latent-lock::before{
	background-position-x: -32px;
}
.latent-icon[data-latent-icon]{
	background: linear-gradient(#4499EE 33%,  #2277EE 80%);
	border-color: #CCEEFF;
	box-shadow: black 1px 1px 1px;
}
.latent-icon[data-latent-icon]::before{
	background-position-x: 0;
}
.latent-icon[data-latent-icon='12']::before,
.latent-icon[data-latent-icon='16']::before,
.latent-icon[data-latent-icon='17']::before,
.latent-icon[data-latent-icon='18']::before,
.latent-icon[data-latent-icon='19']::before,
.latent-icon[data-latent-icon='20']::before,
.latent-icon[data-latent-icon='21']::before,
.latent-icon[data-latent-icon='22']::before,
.latent-icon[data-latent-icon='23']::before,
.latent-icon[data-latent-icon='24']::before,
.latent-icon[data-latent-icon='25']::before,
.latent-icon[data-latent-icon='26']::before,
.latent-icon[data-latent-icon='27']::before,
.latent-icon[data-latent-icon='28']::before,
.latent-icon[data-latent-icon='29']::before,
.latent-icon[data-latent-icon='30']::before,
.latent-icon[data-latent-icon='31']::before,
.latent-icon[data-latent-icon='32']::before,
.latent-icon[data-latent-icon='33']::before,
.latent-icon[data-latent-icon='34']::before,
.latent-icon[data-latent-icon='35']::before,
.latent-icon[data-latent-icon='36']::before,
.latent-icon[data-latent-icon='43']::before,
.latent-icon[data-latent-icon='44']::before,
.latent-icon[data-latent-icon='45']::before
{
	width: 76px;
}
.latent-icon[data-latent-icon='13']::before,
.latent-icon[data-latent-icon='14']::before,
.latent-icon[data-latent-icon='15']::before,
.latent-icon[data-latent-icon='37']::before,
.latent-icon[data-latent-icon='38']::before,
.latent-icon[data-latent-icon='39']::before,
.latent-icon[data-latent-icon='40']::before,
.latent-icon[data-latent-icon='41']::before,
.latent-icon[data-latent-icon='42']::before
{
	width: 252px;
}
.latent-icon[data-latent-icon='1']::before{ /*HP*/
	background-position-y: calc(-32px * 1);
}
.latent-icon[data-latent-icon='2']::before{ /*攻击*/
	background-position-y: calc(-32px * 2);
}
.latent-icon[data-latent-icon='3']::before{ /*回复*/
	background-position-y: calc(-32px * 3);
}
.latent-icon[data-latent-icon='4']::before{ /*手指*/
	background-position-y: calc(-32px * 4);
}
.latent-icon[data-latent-icon='5']::before{ /*自回*/
	background-position-y: calc(-32px * 5);
}
.latent-icon[data-latent-icon='6']::before{ /*火盾*/
	background-position-y: calc(-32px * 6);
}
.latent-icon[data-latent-icon='7']::before{ /*水盾*/
	background-position-y: calc(-32px * 7);
}
.latent-icon[data-latent-icon='8']::before{ /*木盾*/
	background-position-y: calc(-32px * 8);
}
.latent-icon[data-latent-icon='9']::before{ /*光盾*/
	background-position-y: calc(-32px * 9);
}
.latent-icon[data-latent-icon='10']::before{ /*暗盾*/
	background-position-y: calc(-32px * 10);
}
.latent-icon[data-latent-icon='11']::before{ /*防坐*/
	background-position-y: calc(-32px * 11);
}
.latent-icon[data-latent-icon='12']::before{ /*三维*/
	background-position-y: calc(-32px * 12);
}
.latent-icon[data-latent-icon='13']::before{ /*不被换队长*/
	background-position-y: calc(-32px * 13);
}
.latent-icon[data-latent-icon='14']::before{ /*不掉废*/
	background-position-y: calc(-32px * 14);
}
.latent-icon[data-latent-icon='15']::before{ /*不掉毒*/
	background-position-y: calc(-32px * 15);
}
.latent-icon[data-latent-icon='16']::before{ /*进化杀*/
	background-position-y: calc(-32px * 16);
}
.latent-icon[data-latent-icon='17']::before{ /*觉醒杀*/
	background-position-y: calc(-32px * 17);
}
.latent-icon[data-latent-icon='18']::before{ /*强化杀*/
	background-position-y: calc(-32px * 18);
}
.latent-icon[data-latent-icon='19']::before{ /*卖钱杀*/
	background-position-y: calc(-32px * 19);
}
.latent-icon[data-latent-icon='20']::before{ /*神杀*/
	background-position-y: calc(-32px * 20);
}
.latent-icon[data-latent-icon='21']::before{ /*龙杀*/
	background-position-y: calc(-32px * 21);
}
.latent-icon[data-latent-icon='22']::before{ /*恶魔杀*/
	background-position-y: calc(-32px * 22);
}
.latent-icon[data-latent-icon='23']::before{ /*机械杀*/
	background-position-y: calc(-32px * 23);
}
.latent-icon[data-latent-icon='24']::before{ /*平衡杀*/
	background-position-y: calc(-32px * 24);
}
.latent-icon[data-latent-icon='25']::before{ /*攻击杀*/
	background-position-y: calc(-32px * 25);
}
.latent-icon[data-latent-icon='26']::before{ /*体力杀*/
	background-position-y: calc(-32px * 26);
}
.latent-icon[data-latent-icon='27']::before{ /*回复杀*/
	background-position-y: calc(-32px * 27);
}
.latent-icon[data-latent-icon='28']::before{ /*大HP*/
	background-position-y: calc(-32px * 28);
}
.latent-icon[data-latent-icon='29']::before{ /*大攻击*/
	background-position-y: calc(-32px * 29);
}
.latent-icon[data-latent-icon='30']::before{ /*大回复*/
	background-position-y: calc(-32px * 30);
}
.latent-icon[data-latent-icon='31']::before{ /*大手指*/
	background-position-y: calc(-32px * 31);
}
.latent-icon[data-latent-icon='32']::before{ /*大火盾*/
	background-position-y: calc(-32px * 32);
}
.latent-icon[data-latent-icon='33']::before{ /*大水盾*/
	background-position-y: calc(-32px * 33);
}
.latent-icon[data-latent-icon='34']::before{ /*大木盾*/
	background-position-y: calc(-32px * 34);
}
.latent-icon[data-latent-icon='35']::before{ /*大光盾*/
	background-position-y: calc(-32px * 35);
}
.latent-icon[data-latent-icon='36']::before{ /*大暗盾*/
	background-position-y: calc(-32px * 36);
}
.latent-icon[data-latent-icon='37']::before{ /*6色破无效*/
	background-position-y: calc(-32px * 37);
}
.latent-icon[data-latent-icon='38']::before{ /*3色破属吸*/
	background-position-y: calc(-32px * 38);
}
.latent-icon[data-latent-icon='39']::before{ /*C珠破吸*/
	background-position-y: calc(-32px * 39);
}
.latent-icon[data-latent-icon='40']::before{ /*心横解转转*/
	background-position-y: calc(-32px * 40);
}
.latent-icon[data-latent-icon='41']::before{ /*U解禁消*/
	background-position-y: calc(-32px * 41);
}
.latent-icon[data-latent-icon='42']::before{ /*伤害上限解除*/
	background-position-y: calc(-32px * 42);
}
.latent-icon[data-latent-icon='43']::before{ /*HP++*/
	background-position-y: calc(-32px * 43);
}
.latent-icon[data-latent-icon='44']::before{ /*攻击++*/
	background-position-y: calc(-32px * 44);
}
.latent-icon[data-latent-icon='45']::before{ /*回复++*/
	background-position-y: calc(-32px * 45);
}

/* 徽章背景 */
.badge{
	background-image: url(images/badge-bg.png);
	width: 53px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	margin-right: 5px;
}
.badge::before{
	content: "";
	display: inline-block;
    vertical-align: middle;
	background-repeat: no-repeat;
	background-image: url(images/badge.png);
	width: 36px; height: 30px;
	background-position-x: 0;
}
.badge[data-badge-icon='0']::before{
	background-position-y:calc(-30px * 0);
}
.badge[data-badge-icon='1']::before{
	background-position-y:calc(-30px * 1);
}
.badge[data-badge-icon='2']::before{
	background-position-y:calc(-30px * 2);
}
.badge[data-badge-icon='3']::before{
	background-position-y:calc(-30px * 3);
}
.badge[data-badge-icon='4']::before{
	background-position-y:calc(-30px * 4);
}
.badge[data-badge-icon='5']::before{
	background-position-y:calc(-30px * 5);
}
.badge[data-badge-icon='6']::before{
	background-position-y:calc(-30px * 6);
}
.badge[data-badge-icon='7']::before{
	background-position-y:calc(-30px * 7);
}
.badge[data-badge-icon='8']::before{
	background-position-y:calc(-30px * 8);
}
.badge[data-badge-icon='9']::before{
	background-position-y:calc(-30px * 9);
}
.badge[data-badge-icon='10']::before{
	background-position-y:calc(-30px * 10);
}
.badge[data-badge-icon='11']::before{
	background-position-y:calc(-30px * 11);
}
.badge[data-badge-icon='12']::before{
	background-position-y:calc(-30px * 12);
}
.badge[data-badge-icon='13']::before{
	background-position-y:calc(-30px * 13);
}
.badge[data-badge-icon='14']::before{
	background-position-y:calc(-30px * 14);
}
.badge[data-badge-icon='15']::before{
	background-position-y:calc(-30px * 15);
}
.badge[data-badge-icon='16']::before{
	background-position-y:calc(-30px * 16);
}
.badge[data-badge-icon='17']::before{
	background-position-y:calc(-30px * 17);
}
.badge[data-badge-icon='18']::before{
	background-position-y:calc(-30px * 18);
}

/*属性图片*/
.attr
{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(images/attrs.png);
	background-position-y:calc(32px);
	background-repeat: no-repeat;
}
.attr[data-attr-icon='any']
{
	background-position-x: -32px;
	background-position-y:calc(-32px * 0);
}
.attr[data-attr-icon='-1']
{
	width: auto;
}
.attr[data-attr-icon='0']
{
	background-position-y:calc(-32px * 0);
}
.attr[data-attr-icon='1']
{
	background-position-y:calc(-32px * 1);
}
.attr[data-attr-icon='2']
{
	background-position-y:calc(-32px * 2);
}
.attr[data-attr-icon='3']
{
	background-position-y:calc(-32px * 3);
}
.attr[data-attr-icon='4']
{
	background-position-y:calc(-32px * 4);
}
.attr[data-attr-icon='5']
{
	background-position-y:calc(-32px * 5);
}
.attr[data-attr-icon='6']
{
	background-position-y:calc(-32px * 6);
}