@charset "utf-8";
/*怪物边框*/
.property{ /*主属性*/
	background-position-y: 0;
}
.property--1{
	background: none; /*无*/
}
.property-0{
	background-position-x: 0; /*火*/
}
.property-1{
	background-position-x: -102px; /*水*/
}
.property-2{
	background-position-x: -204px; /*木*/
}
.property-3{
	background-position-x: -306px; /*光*/
}
.property-4{
	background-position-x: -408px; /*暗*/
}
.subproperty{ /*副属性*/
	background-position-y: -104px;
}
.subproperty--1{
	background: none; /*无*/
}
.subproperty-0{
	background-position-x: 0; /*火*/
}
.subproperty-1{
	background-position-x: -102px; /*水*/
}
.subproperty-2{
	background-position-x: -204px; /*木*/
}
.subproperty-3{
	background-position-x: -306px; /*光*/
}
.subproperty-4{
	background-position-x: -408px; /*暗*/
}
/*宠物头像所用的图片*/
.pet-cards-1{background-image: url(images/cards_ja/CARDS_001.PNG);}
.pet-cards-2{background-image: url(images/cards_ja/CARDS_002.PNG);}
.pet-cards-3{background-image: url(images/cards_ja/CARDS_003.PNG);}
.pet-cards-4{background-image: url(images/cards_ja/CARDS_004.PNG);}
.pet-cards-5{background-image: url(images/cards_ja/CARDS_005.PNG);}
.pet-cards-6{background-image: url(images/cards_ja/CARDS_006.PNG);}
.pet-cards-7{background-image: url(images/cards_ja/CARDS_007.PNG);}
.pet-cards-8{background-image: url(images/cards_ja/CARDS_008.PNG);}
.pet-cards-9{background-image: url(images/cards_ja/CARDS_009.PNG);}
.pet-cards-10{background-image: url(images/cards_ja/CARDS_010.PNG);}
.pet-cards-11{background-image: url(images/cards_ja/CARDS_011.PNG);}
.pet-cards-12{background-image: url(images/cards_ja/CARDS_012.PNG);}
.pet-cards-13{background-image: url(images/cards_ja/CARDS_013.PNG);}
.pet-cards-14{background-image: url(images/cards_ja/CARDS_014.PNG);}
.pet-cards-15{background-image: url(images/cards_ja/CARDS_015.PNG);}
.pet-cards-16{background-image: url(images/cards_ja/CARDS_016.PNG);}
.pet-cards-17{background-image: url(images/cards_ja/CARDS_017.PNG);}
.pet-cards-18{background-image: url(images/cards_ja/CARDS_018.PNG);}
.pet-cards-19{background-image: url(images/cards_ja/CARDS_019.PNG);}
.pet-cards-20{background-image: url(images/cards_ja/CARDS_020.PNG);}
.pet-cards-21{background-image: url(images/cards_ja/CARDS_021.PNG);}
.pet-cards-22{background-image: url(images/cards_ja/CARDS_022.PNG);}
.pet-cards-23{background-image: url(images/cards_ja/CARDS_023.PNG);}
.pet-cards-24{background-image: url(images/cards_ja/CARDS_024.PNG);}
.pet-cards-25{background-image: url(images/cards_ja/CARDS_025.PNG);}
.pet-cards-26{background-image: url(images/cards_ja/CARDS_026.PNG);}
.pet-cards-27{background-image: url(images/cards_ja/CARDS_027.PNG);}
.pet-cards-28{background-image: url(images/cards_ja/CARDS_028.PNG);}
.pet-cards-29{background-image: url(images/cards_ja/CARDS_029.PNG);}
.pet-cards-30{background-image: url(images/cards_ja/CARDS_030.PNG);}
.pet-cards-31{background-image: url(images/cards_ja/CARDS_031.PNG);}
.pet-cards-32{background-image: url(images/cards_ja/CARDS_032.PNG);}
.pet-cards-33{background-image: url(images/cards_ja/CARDS_033.PNG);}
.pet-cards-34{background-image: url(images/cards_ja/CARDS_034.PNG);}
.pet-cards-35{background-image: url(images/cards_ja/CARDS_035.PNG);}
.pet-cards-36{background-image: url(images/cards_ja/CARDS_036.PNG);}
.pet-cards-37{background-image: url(images/cards_ja/CARDS_037.PNG);}
.pet-cards-38{background-image: url(images/cards_ja/CARDS_038.PNG);}
.pet-cards-39{background-image: url(images/cards_ja/CARDS_039.PNG);}
.pet-cards-40{background-image: url(images/cards_ja/CARDS_040.PNG);}
.pet-cards-41{background-image: url(images/cards_ja/CARDS_041.PNG);}
.pet-cards-42{background-image: url(images/cards_ja/CARDS_042.PNG);}
.pet-cards-43{background-image: url(images/cards_ja/CARDS_043.PNG);}
.pet-cards-44{background-image: url(images/cards_ja/CARDS_044.PNG);}
.pet-cards-45{background-image: url(images/cards_ja/CARDS_045.PNG);}
.pet-cards-46{background-image: url(images/cards_ja/CARDS_046.PNG);}
.pet-cards-47{background-image: url(images/cards_ja/CARDS_047.PNG);}
.pet-cards-48{background-image: url(images/cards_ja/CARDS_048.PNG);}
.pet-cards-49{background-image: url(images/cards_ja/CARDS_049.PNG);}
.pet-cards-50{background-image: url(images/cards_ja/CARDS_050.PNG);}
.pet-cards-51{background-image: url(images/cards_ja/CARDS_051.PNG);}
.pet-cards-52{background-image: url(images/cards_ja/CARDS_052.PNG);}
.pet-cards-53{background-image: url(images/cards_ja/CARDS_053.PNG);}
.pet-cards-54{background-image: url(images/cards_ja/CARDS_054.PNG);}
.pet-cards-55{background-image: url(images/cards_ja/CARDS_055.PNG);}
.pet-cards-56{background-image: url(images/cards_ja/CARDS_056.PNG);}
.pet-cards-57{background-image: url(images/cards_ja/CARDS_057.PNG);}
.pet-cards-58{background-image: url(images/cards_ja/CARDS_058.PNG);}
.pet-cards-59{background-image: url(images/cards_ja/CARDS_059.PNG);}
.pet-cards-60{background-image: url(images/cards_ja/CARDS_060.PNG);}
.pet-cards-61{background-image: url(images/cards_ja/CARDS_061.PNG);}
.pet-cards-62{background-image: url(images/cards_ja/CARDS_062.PNG);}
.pet-cards-63{background-image: url(images/cards_ja/CARDS_063.PNG);}
.pet-cards-64{background-image: url(images/cards_ja/CARDS_064.PNG);}
.pet-cards-65{background-image: url(images/cards_ja/CARDS_065.PNG);}
.pet-cards-66{background-image: url(images/cards_ja/CARDS_066.PNG);}
.pet-cards-67{background-image: url(images/cards_ja/CARDS_067.PNG);}
.pet-cards-68{background-image: url(images/cards_ja/CARDS_068.PNG);}
.pet-cards-69{background-image: url(images/cards_ja/CARDS_069.PNG);}
.pet-cards-70{background-image: url(images/cards_ja/CARDS_070.PNG);}
.pet-cards-71{background-image: url(images/cards_ja/CARDS_071.PNG);}
.pet-cards-72{background-image: url(images/cards_ja/CARDS_072.PNG);}
.pet-cards-73{background-image: url(images/cards_ja/CARDS_073.PNG);}
.pet-cards-74{background-image: url(images/cards_ja/CARDS_074.PNG);}
.pet-cards-75{background-image: url(images/cards_ja/CARDS_075.PNG);}
.pet-cards-76{background-image: url(images/cards_ja/CARDS_076.PNG);}
.pet-cards-77{background-image: url(images/cards_ja/CARDS_077.PNG);}
.pet-cards-78{background-image: url(images/cards_ja/CARDS_078.PNG);}
.pet-cards-79{background-image: url(images/cards_ja/CARDS_079.PNG);}
.pet-cards-80{background-image: url(images/cards_ja/CARDS_080.PNG);}
.pet-cards-81{background-image: url(images/cards_ja/CARDS_081.PNG);}
.pet-cards-82{background-image: url(images/cards_ja/CARDS_082.PNG);}
.pet-cards-83{background-image: url(images/cards_ja/CARDS_083.PNG);}
.pet-cards-84{background-image: url(images/cards_ja/CARDS_084.PNG);}
.pet-cards-85{background-image: url(images/cards_ja/CARDS_085.PNG);}
.pet-cards-86{background-image: url(images/cards_ja/CARDS_086.PNG);}
.pet-cards-87{background-image: url(images/cards_ja/CARDS_087.PNG);}
.pet-cards-88{background-image: url(images/cards_ja/CARDS_088.PNG);}
.pet-cards-89{background-image: url(images/cards_ja/CARDS_089.PNG);}
.pet-cards-90{background-image: url(images/cards_ja/CARDS_090.PNG);}
.pet-cards-91{background-image: url(images/cards_ja/CARDS_091.PNG);}
.pet-cards-92{background-image: url(images/cards_ja/CARDS_092.PNG);}
.pet-cards-93{background-image: url(images/cards_ja/CARDS_093.PNG);}
.pet-cards-94{background-image: url(images/cards_ja/CARDS_094.PNG);}
.pet-cards-95{background-image: url(images/cards_ja/CARDS_095.PNG);}
.pet-cards-96{background-image: url(images/cards_ja/CARDS_096.PNG);}
.pet-cards-97{background-image: url(images/cards_ja/CARDS_097.PNG);}
.pet-cards-98{background-image: url(images/cards_ja/CARDS_098.PNG);}
.pet-cards-99{background-image: url(images/cards_ja/CARDS_099.PNG);}
/*美服*/
.ds-en .pet-cards-1{background-image: url(images/cards_en/CARDS_001.PNG);}
.ds-en .pet-cards-2{background-image: url(images/cards_en/CARDS_002.PNG);}
.ds-en .pet-cards-3{background-image: url(images/cards_en/CARDS_003.PNG);}
.ds-en .pet-cards-4{background-image: url(images/cards_en/CARDS_004.PNG);}
.ds-en .pet-cards-5{background-image: url(images/cards_en/CARDS_005.PNG);}
.ds-en .pet-cards-6{background-image: url(images/cards_en/CARDS_006.PNG);}
.ds-en .pet-cards-7{background-image: url(images/cards_en/CARDS_007.PNG);}
.ds-en .pet-cards-8{background-image: url(images/cards_en/CARDS_008.PNG);}
.ds-en .pet-cards-9{background-image: url(images/cards_en/CARDS_009.PNG);}
.ds-en .pet-cards-10{background-image: url(images/cards_en/CARDS_010.PNG);}
.ds-en .pet-cards-11{background-image: url(images/cards_en/CARDS_011.PNG);}
.ds-en .pet-cards-12{background-image: url(images/cards_en/CARDS_012.PNG);}
.ds-en .pet-cards-13{background-image: url(images/cards_en/CARDS_013.PNG);}
.ds-en .pet-cards-14{background-image: url(images/cards_en/CARDS_014.PNG);}
.ds-en .pet-cards-15{background-image: url(images/cards_en/CARDS_015.PNG);}
.ds-en .pet-cards-16{background-image: url(images/cards_en/CARDS_016.PNG);}
.ds-en .pet-cards-17{background-image: url(images/cards_en/CARDS_017.PNG);}
.ds-en .pet-cards-18{background-image: url(images/cards_en/CARDS_018.PNG);}
.ds-en .pet-cards-19{background-image: url(images/cards_en/CARDS_019.PNG);}
.ds-en .pet-cards-20{background-image: url(images/cards_en/CARDS_020.PNG);}
.ds-en .pet-cards-21{background-image: url(images/cards_en/CARDS_021.PNG);}
.ds-en .pet-cards-22{background-image: url(images/cards_en/CARDS_022.PNG);}
.ds-en .pet-cards-23{background-image: url(images/cards_en/CARDS_023.PNG);}
.ds-en .pet-cards-24{background-image: url(images/cards_en/CARDS_024.PNG);}
.ds-en .pet-cards-25{background-image: url(images/cards_en/CARDS_025.PNG);}
.ds-en .pet-cards-26{background-image: url(images/cards_en/CARDS_026.PNG);}
.ds-en .pet-cards-27{background-image: url(images/cards_en/CARDS_027.PNG);}
.ds-en .pet-cards-28{background-image: url(images/cards_en/CARDS_028.PNG);}
.ds-en .pet-cards-29{background-image: url(images/cards_en/CARDS_029.PNG);}
.ds-en .pet-cards-30{background-image: url(images/cards_en/CARDS_030.PNG);}
.ds-en .pet-cards-31{background-image: url(images/cards_en/CARDS_031.PNG);}
.ds-en .pet-cards-32{background-image: url(images/cards_en/CARDS_032.PNG);}
.ds-en .pet-cards-33{background-image: url(images/cards_en/CARDS_033.PNG);}
.ds-en .pet-cards-34{background-image: url(images/cards_en/CARDS_034.PNG);}
.ds-en .pet-cards-35{background-image: url(images/cards_en/CARDS_035.PNG);}
.ds-en .pet-cards-36{background-image: url(images/cards_en/CARDS_036.PNG);}
.ds-en .pet-cards-37{background-image: url(images/cards_en/CARDS_037.PNG);}
.ds-en .pet-cards-38{background-image: url(images/cards_en/CARDS_038.PNG);}
.ds-en .pet-cards-39{background-image: url(images/cards_en/CARDS_039.PNG);}
.ds-en .pet-cards-40{background-image: url(images/cards_en/CARDS_040.PNG);}
.ds-en .pet-cards-41{background-image: url(images/cards_en/CARDS_041.PNG);}
.ds-en .pet-cards-42{background-image: url(images/cards_en/CARDS_042.PNG);}
.ds-en .pet-cards-43{background-image: url(images/cards_en/CARDS_043.PNG);}
.ds-en .pet-cards-44{background-image: url(images/cards_en/CARDS_044.PNG);}
.ds-en .pet-cards-45{background-image: url(images/cards_en/CARDS_045.PNG);}
.ds-en .pet-cards-46{background-image: url(images/cards_en/CARDS_046.PNG);}
.ds-en .pet-cards-47{background-image: url(images/cards_en/CARDS_047.PNG);}
.ds-en .pet-cards-48{background-image: url(images/cards_en/CARDS_048.PNG);}
.ds-en .pet-cards-49{background-image: url(images/cards_en/CARDS_049.PNG);}
.ds-en .pet-cards-50{background-image: url(images/cards_en/CARDS_050.PNG);}
.ds-en .pet-cards-51{background-image: url(images/cards_en/CARDS_051.PNG);}
.ds-en .pet-cards-52{background-image: url(images/cards_en/CARDS_052.PNG);}
.ds-en .pet-cards-53{background-image: url(images/cards_en/CARDS_053.PNG);}
.ds-en .pet-cards-54{background-image: url(images/cards_en/CARDS_054.PNG);}
.ds-en .pet-cards-55{background-image: url(images/cards_en/CARDS_055.PNG);}
.ds-en .pet-cards-56{background-image: url(images/cards_en/CARDS_056.PNG);}
.ds-en .pet-cards-57{background-image: url(images/cards_en/CARDS_057.PNG);}
.ds-en .pet-cards-58{background-image: url(images/cards_en/CARDS_058.PNG);}
.ds-en .pet-cards-59{background-image: url(images/cards_en/CARDS_059.PNG);}
.ds-en .pet-cards-60{background-image: url(images/cards_en/CARDS_060.PNG);}
.ds-en .pet-cards-61{background-image: url(images/cards_en/CARDS_061.PNG);}
.ds-en .pet-cards-62{background-image: url(images/cards_en/CARDS_062.PNG);}
.ds-en .pet-cards-63{background-image: url(images/cards_en/CARDS_063.PNG);}
.ds-en .pet-cards-64{background-image: url(images/cards_en/CARDS_064.PNG);}
.ds-en .pet-cards-65{background-image: url(images/cards_en/CARDS_065.PNG);}
.ds-en .pet-cards-66{background-image: url(images/cards_en/CARDS_066.PNG);}
.ds-en .pet-cards-67{background-image: url(images/cards_en/CARDS_067.PNG);}
.ds-en .pet-cards-68{background-image: url(images/cards_en/CARDS_068.PNG);}
.ds-en .pet-cards-69{background-image: url(images/cards_en/CARDS_069.PNG);}
.ds-en .pet-cards-70{background-image: url(images/cards_en/CARDS_070.PNG);}
.ds-en .pet-cards-71{background-image: url(images/cards_en/CARDS_071.PNG);}
.ds-en .pet-cards-72{background-image: url(images/cards_en/CARDS_072.PNG);}
.ds-en .pet-cards-73{background-image: url(images/cards_en/CARDS_073.PNG);}
.ds-en .pet-cards-74{background-image: url(images/cards_en/CARDS_074.PNG);}
.ds-en .pet-cards-75{background-image: url(images/cards_en/CARDS_075.PNG);}
.ds-en .pet-cards-76{background-image: url(images/cards_en/CARDS_076.PNG);}
.ds-en .pet-cards-77{background-image: url(images/cards_en/CARDS_077.PNG);}
.ds-en .pet-cards-78{background-image: url(images/cards_en/CARDS_078.PNG);}
.ds-en .pet-cards-79{background-image: url(images/cards_en/CARDS_079.PNG);}
.ds-en .pet-cards-80{background-image: url(images/cards_en/CARDS_080.PNG);}
.ds-en .pet-cards-81{background-image: url(images/cards_en/CARDS_081.PNG);}
.ds-en .pet-cards-82{background-image: url(images/cards_en/CARDS_082.PNG);}
.ds-en .pet-cards-83{background-image: url(images/cards_en/CARDS_083.PNG);}
.ds-en .pet-cards-84{background-image: url(images/cards_en/CARDS_084.PNG);}
.ds-en .pet-cards-85{background-image: url(images/cards_en/CARDS_085.PNG);}
.ds-en .pet-cards-86{background-image: url(images/cards_en/CARDS_086.PNG);}
.ds-en .pet-cards-87{background-image: url(images/cards_en/CARDS_087.PNG);}
.ds-en .pet-cards-88{background-image: url(images/cards_en/CARDS_088.PNG);}
.ds-en .pet-cards-89{background-image: url(images/cards_en/CARDS_089.PNG);}
.ds-en .pet-cards-90{background-image: url(images/cards_en/CARDS_090.PNG);}
.ds-en .pet-cards-91{background-image: url(images/cards_en/CARDS_091.PNG);}
.ds-en .pet-cards-92{background-image: url(images/cards_en/CARDS_092.PNG);}
.ds-en .pet-cards-93{background-image: url(images/cards_en/CARDS_093.PNG);}
.ds-en .pet-cards-94{background-image: url(images/cards_en/CARDS_094.PNG);}
.ds-en .pet-cards-95{background-image: url(images/cards_en/CARDS_095.PNG);}
.ds-en .pet-cards-96{background-image: url(images/cards_en/CARDS_096.PNG);}
.ds-en .pet-cards-97{background-image: url(images/cards_en/CARDS_097.PNG);}
.ds-en .pet-cards-98{background-image: url(images/cards_en/CARDS_098.PNG);}
.ds-en .pet-cards-99{background-image: url(images/cards_en/CARDS_099.PNG);}
/*韩服*/
.ds-ko .pet-cards-1{background-image: url(images/cards_ko/CARDS_001.PNG);}
.ds-ko .pet-cards-2{background-image: url(images/cards_ko/CARDS_002.PNG);}
.ds-ko .pet-cards-3{background-image: url(images/cards_ko/CARDS_003.PNG);}
.ds-ko .pet-cards-4{background-image: url(images/cards_ko/CARDS_004.PNG);}
.ds-ko .pet-cards-5{background-image: url(images/cards_ko/CARDS_005.PNG);}
.ds-ko .pet-cards-6{background-image: url(images/cards_ko/CARDS_006.PNG);}
.ds-ko .pet-cards-7{background-image: url(images/cards_ko/CARDS_007.PNG);}
.ds-ko .pet-cards-8{background-image: url(images/cards_ko/CARDS_008.PNG);}
.ds-ko .pet-cards-9{background-image: url(images/cards_ko/CARDS_009.PNG);}
.ds-ko .pet-cards-10{background-image: url(images/cards_ko/CARDS_010.PNG);}
.ds-ko .pet-cards-11{background-image: url(images/cards_ko/CARDS_011.PNG);}
.ds-ko .pet-cards-12{background-image: url(images/cards_ko/CARDS_012.PNG);}
.ds-ko .pet-cards-13{background-image: url(images/cards_ko/CARDS_013.PNG);}
.ds-ko .pet-cards-14{background-image: url(images/cards_ko/CARDS_014.PNG);}
.ds-ko .pet-cards-15{background-image: url(images/cards_ko/CARDS_015.PNG);}
.ds-ko .pet-cards-16{background-image: url(images/cards_ko/CARDS_016.PNG);}
.ds-ko .pet-cards-17{background-image: url(images/cards_ko/CARDS_017.PNG);}
.ds-ko .pet-cards-18{background-image: url(images/cards_ko/CARDS_018.PNG);}
.ds-ko .pet-cards-19{background-image: url(images/cards_ko/CARDS_019.PNG);}
.ds-ko .pet-cards-20{background-image: url(images/cards_ko/CARDS_020.PNG);}
.ds-ko .pet-cards-21{background-image: url(images/cards_ko/CARDS_021.PNG);}
.ds-ko .pet-cards-22{background-image: url(images/cards_ko/CARDS_022.PNG);}
.ds-ko .pet-cards-23{background-image: url(images/cards_ko/CARDS_023.PNG);}
.ds-ko .pet-cards-24{background-image: url(images/cards_ko/CARDS_024.PNG);}
.ds-ko .pet-cards-25{background-image: url(images/cards_ko/CARDS_025.PNG);}
.ds-ko .pet-cards-26{background-image: url(images/cards_ko/CARDS_026.PNG);}
.ds-ko .pet-cards-27{background-image: url(images/cards_ko/CARDS_027.PNG);}
.ds-ko .pet-cards-28{background-image: url(images/cards_ko/CARDS_028.PNG);}
.ds-ko .pet-cards-29{background-image: url(images/cards_ko/CARDS_029.PNG);}
.ds-ko .pet-cards-30{background-image: url(images/cards_ko/CARDS_030.PNG);}
.ds-ko .pet-cards-31{background-image: url(images/cards_ko/CARDS_031.PNG);}
.ds-ko .pet-cards-32{background-image: url(images/cards_ko/CARDS_032.PNG);}
.ds-ko .pet-cards-33{background-image: url(images/cards_ko/CARDS_033.PNG);}
.ds-ko .pet-cards-34{background-image: url(images/cards_ko/CARDS_034.PNG);}
.ds-ko .pet-cards-35{background-image: url(images/cards_ko/CARDS_035.PNG);}
.ds-ko .pet-cards-36{background-image: url(images/cards_ko/CARDS_036.PNG);}
.ds-ko .pet-cards-37{background-image: url(images/cards_ko/CARDS_037.PNG);}
.ds-ko .pet-cards-38{background-image: url(images/cards_ko/CARDS_038.PNG);}
.ds-ko .pet-cards-39{background-image: url(images/cards_ko/CARDS_039.PNG);}
.ds-ko .pet-cards-40{background-image: url(images/cards_ko/CARDS_040.PNG);}
.ds-ko .pet-cards-41{background-image: url(images/cards_ko/CARDS_041.PNG);}
.ds-ko .pet-cards-42{background-image: url(images/cards_ko/CARDS_042.PNG);}
.ds-ko .pet-cards-43{background-image: url(images/cards_ko/CARDS_043.PNG);}
.ds-ko .pet-cards-44{background-image: url(images/cards_ko/CARDS_044.PNG);}
.ds-ko .pet-cards-45{background-image: url(images/cards_ko/CARDS_045.PNG);}
.ds-ko .pet-cards-46{background-image: url(images/cards_ko/CARDS_046.PNG);}
.ds-ko .pet-cards-47{background-image: url(images/cards_ko/CARDS_047.PNG);}
.ds-ko .pet-cards-48{background-image: url(images/cards_ko/CARDS_048.PNG);}
.ds-ko .pet-cards-49{background-image: url(images/cards_ko/CARDS_049.PNG);}
.ds-ko .pet-cards-50{background-image: url(images/cards_ko/CARDS_050.PNG);}
.ds-ko .pet-cards-51{background-image: url(images/cards_ko/CARDS_051.PNG);}
.ds-ko .pet-cards-52{background-image: url(images/cards_ko/CARDS_052.PNG);}
.ds-ko .pet-cards-53{background-image: url(images/cards_ko/CARDS_053.PNG);}
.ds-ko .pet-cards-54{background-image: url(images/cards_ko/CARDS_054.PNG);}
.ds-ko .pet-cards-55{background-image: url(images/cards_ko/CARDS_055.PNG);}
.ds-ko .pet-cards-56{background-image: url(images/cards_ko/CARDS_056.PNG);}
.ds-ko .pet-cards-57{background-image: url(images/cards_ko/CARDS_057.PNG);}
.ds-ko .pet-cards-58{background-image: url(images/cards_ko/CARDS_058.PNG);}
.ds-ko .pet-cards-59{background-image: url(images/cards_ko/CARDS_059.PNG);}
.ds-ko .pet-cards-60{background-image: url(images/cards_ko/CARDS_060.PNG);}
.ds-ko .pet-cards-61{background-image: url(images/cards_ko/CARDS_061.PNG);}
.ds-ko .pet-cards-62{background-image: url(images/cards_ko/CARDS_062.PNG);}
.ds-ko .pet-cards-63{background-image: url(images/cards_ko/CARDS_063.PNG);}
.ds-ko .pet-cards-64{background-image: url(images/cards_ko/CARDS_064.PNG);}
.ds-ko .pet-cards-65{background-image: url(images/cards_ko/CARDS_065.PNG);}
.ds-ko .pet-cards-66{background-image: url(images/cards_ko/CARDS_066.PNG);}
.ds-ko .pet-cards-67{background-image: url(images/cards_ko/CARDS_067.PNG);}
.ds-ko .pet-cards-68{background-image: url(images/cards_ko/CARDS_068.PNG);}
.ds-ko .pet-cards-69{background-image: url(images/cards_ko/CARDS_069.PNG);}
.ds-ko .pet-cards-70{background-image: url(images/cards_ko/CARDS_070.PNG);}
.ds-ko .pet-cards-71{background-image: url(images/cards_ko/CARDS_071.PNG);}
.ds-ko .pet-cards-72{background-image: url(images/cards_ko/CARDS_072.PNG);}
.ds-ko .pet-cards-73{background-image: url(images/cards_ko/CARDS_073.PNG);}
.ds-ko .pet-cards-74{background-image: url(images/cards_ko/CARDS_074.PNG);}
.ds-ko .pet-cards-75{background-image: url(images/cards_ko/CARDS_075.PNG);}
.ds-ko .pet-cards-76{background-image: url(images/cards_ko/CARDS_076.PNG);}
.ds-ko .pet-cards-77{background-image: url(images/cards_ko/CARDS_077.PNG);}
.ds-ko .pet-cards-78{background-image: url(images/cards_ko/CARDS_078.PNG);}
.ds-ko .pet-cards-79{background-image: url(images/cards_ko/CARDS_079.PNG);}
.ds-ko .pet-cards-80{background-image: url(images/cards_ko/CARDS_080.PNG);}
.ds-ko .pet-cards-81{background-image: url(images/cards_ko/CARDS_081.PNG);}
.ds-ko .pet-cards-82{background-image: url(images/cards_ko/CARDS_082.PNG);}
.ds-ko .pet-cards-83{background-image: url(images/cards_ko/CARDS_083.PNG);}
.ds-ko .pet-cards-84{background-image: url(images/cards_ko/CARDS_084.PNG);}
.ds-ko .pet-cards-85{background-image: url(images/cards_ko/CARDS_085.PNG);}
.ds-ko .pet-cards-86{background-image: url(images/cards_ko/CARDS_086.PNG);}
.ds-ko .pet-cards-87{background-image: url(images/cards_ko/CARDS_087.PNG);}
.ds-ko .pet-cards-88{background-image: url(images/cards_ko/CARDS_088.PNG);}
.ds-ko .pet-cards-89{background-image: url(images/cards_ko/CARDS_089.PNG);}
.ds-ko .pet-cards-90{background-image: url(images/cards_ko/CARDS_090.PNG);}
.ds-ko .pet-cards-91{background-image: url(images/cards_ko/CARDS_091.PNG);}
.ds-ko .pet-cards-92{background-image: url(images/cards_ko/CARDS_092.PNG);}
.ds-ko .pet-cards-93{background-image: url(images/cards_ko/CARDS_093.PNG);}
.ds-ko .pet-cards-94{background-image: url(images/cards_ko/CARDS_094.PNG);}
.ds-ko .pet-cards-95{background-image: url(images/cards_ko/CARDS_095.PNG);}
.ds-ko .pet-cards-96{background-image: url(images/cards_ko/CARDS_096.PNG);}
.ds-ko .pet-cards-97{background-image: url(images/cards_ko/CARDS_097.PNG);}
.ds-ko .pet-cards-98{background-image: url(images/cards_ko/CARDS_098.PNG);}
.ds-ko .pet-cards-99{background-image: url(images/cards_ko/CARDS_099.PNG);}
/*.en-only.pet-cards-54{background-image: url(images/cards/en/CARDS_054.PNG);}
.en-only.pet-cards-55{background-image: url(images/cards/en/CARDS_055.PNG);}*/
/*宠物在图中编号对应的坐标*/
.pet-cards-index-x-0{background-position-x:0px;}
.pet-cards-index-x-1{background-position-x:-102px;}
.pet-cards-index-x-2{background-position-x:-204px;}
.pet-cards-index-x-3{background-position-x:-306px;}
.pet-cards-index-x-4{background-position-x:-408px;}
.pet-cards-index-x-5{background-position-x:-510px;}
.pet-cards-index-x-6{background-position-x:-612px;}
.pet-cards-index-x-7{background-position-x:-714px;}
.pet-cards-index-x-8{background-position-x:-816px;}
.pet-cards-index-x-9{background-position-x:-918px;}
.pet-cards-index-y-0{background-position-y:0px;}
.pet-cards-index-y-1{background-position-y:-102px;}
.pet-cards-index-y-2{background-position-y:-204px;}
.pet-cards-index-y-3{background-position-y:-306px;}
.pet-cards-index-y-4{background-position-y:-408px;}
.pet-cards-index-y-5{background-position-y:-510px;}
.pet-cards-index-y-6{background-position-y:-612px;}
.pet-cards-index-y-7{background-position-y:-714px;}
.pet-cards-index-y-8{background-position-y:-816px;}
.pet-cards-index-y-9{background-position-y:-918px;}
/*觉醒、类型、潜觉*/
.awoken-icon,.type-icon,.latent-icon{
	display:inline-block;
	width:32px;height:32px;
    vertical-align: middle;
	background-repeat: no-repeat;
}
/*觉醒*/
.awoken-icon{
    background-image: url(images/awoken.png);
	background-position-x: 0;
}
.awoken-0{/*问号*/
	background-position-y: 0;
}
.awoken-1{/*HP+*/
	background-position-y: -32px;
}
.awoken-2{/*攻击+*/
	background-position-y: -64px;
}
.awoken-3{/*回复+*/
	background-position-y: -96px;
}
.awoken-4{/*火盾*/
	background-position-y: -128px;
}
.awoken-5{/*水盾*/
	background-position-y: -160px;
}
.awoken-6{/*木盾*/
	background-position-y: -192px;
}
.awoken-7{/*光盾*/
	background-position-y: -224px;
}
.awoken-8{/*暗盾*/
	background-position-y: -256px;
}
.awoken-9{/*自回*/
	background-position-y: -288px;
}
.awoken-10{/*防封*/
	background-position-y: -320px;
}
.awoken-11{/*防暗*/
	background-position-y: -352px;
}
.awoken-12{/*防废*/
	background-position-y: -384px;
}
.awoken-13{/*防毒*/
	background-position-y: -416px;
}
.awoken-14{/*火+*/
	background-position-y: -448px;
}
.awoken-15{/*水+*/
	background-position-y: -480px;
}
.awoken-16{/*木+*/
	background-position-y: -512px;
}
.awoken-17{/*光+*/
	background-position-y: -544px;
}
.awoken-18{/*暗+*/
	background-position-y: -576px;
}
.awoken-19{/*手指*/
	background-position-y: -608px;
}
.awoken-20{/*心解*/
	background-position-y: -640px;
}
.awoken-21{/*SB*/
	background-position-y: -672px;
}
.awoken-22{/*火横*/
	background-position-y: -704px;
}
.awoken-23{/*水横*/
	background-position-y: -736px;
}
.awoken-24{/*木横*/
	background-position-y: -768px;
}
.awoken-25{/*光横*/
	background-position-y: -800px;
}
.awoken-26{/*暗横*/
	background-position-y: -832px;
}
.awoken-27{/*U*/
	background-position-y: -864px;
}
.awoken-28{/*SX*/
	background-position-y: -896px;
}
.awoken-29{/*心+*/
	background-position-y: -928px;
}
.awoken-30{/*协力*/
	background-position-y: -960px;
}
.awoken-31{/*龙杀*/
	background-position-y: -992px;
}
.awoken-32{/*神杀*/
	background-position-y: -1024px;
}
.awoken-33{/*恶魔杀*/
	background-position-y: -1056px;
}
.awoken-34{/*机杀*/
	background-position-y: -1088px;
}
.awoken-35{/*平衡杀*/
	background-position-y: -1120px;
}
.awoken-36{/*攻击杀*/
	background-position-y: -1152px;
}
.awoken-37{/*体力杀*/
	background-position-y: -1184px;
}
.awoken-38{/*回复杀*/
	background-position-y: -1216px;
}
.awoken-39{/*进化杀*/
	background-position-y: -1248px;
}
.awoken-40{/*觉醒杀*/
	background-position-y: -1280px;
}
.awoken-41{/*强化杀*/
	background-position-y: -1312px;
}
.awoken-42{/*卖钱杀*/
	background-position-y: -1344px;
}
.awoken-43{/*7c*/
	background-position-y: -1376px;
}
.awoken-44{/*5色破防*/
	background-position-y: -1408px;
}
.awoken-45{/*心追*/
	background-position-y: -1440px;
}
.awoken-46{/*全体HP*/
	background-position-y: -1472px;
}
.awoken-47{/*全体回复*/
	background-position-y: -1504px;
}
.awoken-48{/*破无效*/
	background-position-y: -1536px;
}
.awoken-49{/*武器觉醒*/
	background-position-y: -1568px;
}
.awoken-50{/*方块心追*/
	background-position-y: -1600px;
}
.awoken-51{/*5色溜*/
	background-position-y: -1632px;
}
.awoken-52{/*大防封*/
	background-position-y: -1664px;
}
.awoken-53{/*大手指*/
	background-position-y: -1696px;
}
.awoken-54{/*防云*/
	background-position-y: -1728px;
}
.awoken-55{/*防封条*/
	background-position-y: -1760px;
}
.awoken-56{/*大SB*/
	background-position-y: -1792px;
}
.awoken-57{/*满血强化*/
	background-position-y: -1824px;
}
.awoken-58{/*下半血强化*/
	background-position-y: -1856px;
}
.awoken-59{/*L盾*/
	background-position-y: -1888px;
}
.awoken-60{/*L解锁*/
	background-position-y: -1920px;
}
.awoken-61{/*10c*/
	background-position-y: -1952px;
}
.awoken-62{/*c珠*/
	background-position-y: -1984px;
}
.awoken-63{/*语音*/
	background-position-y: -2016px;
}
.awoken-64{/*奖励增加*/
	background-position-y: -2048px;
}
.awoken-65{/*HP-*/
	background-position-y: -2080px;
}
.awoken-66{/*攻击-*/
	background-position-y: -2112px;
}
.awoken-67{/*回复-*/
	background-position-y: -2144px;
}
.awoken-68{/*大防暗*/
	background-position-y: -2176px;
}
.awoken-69{/*大防废*/
	background-position-y: -2208px;
}
.awoken-70{/*大防毒*/
	background-position-y: -2240px;
}
.awoken-71{/*掉废*/
	background-position-y: -2272px;
}
.awoken-72{/*掉毒*/
	background-position-y: -2304px;
}
/*类型*/
.type-icon{
	background-image: url(images/type.png);
	background-position-x: 0;
	background-position-y: 32px; /*默认不显示*/
}
.type-icon-4{/*龙*/
	background-position-y: 0px;
}
.type-icon-5{/*神*/
	background-position-y: -32px;
}
.type-icon-7{/*恶魔*/
	background-position-y: -64px;
}
.type-icon-8{/*机械*/
	background-position-y: -96px;
}
.type-icon-1{/*平衡*/
	background-position-y: -128px;
}
.type-icon-6{/*攻击*/
	background-position-y: -160px;
}
.type-icon-2{/*体力*/
	background-position-y: -192px;
}
.type-icon-3{/*回复*/
	background-position-y: -224px;
}
.type-icon-0{/*进化用*/
	background-position-y: -256px;
}
.type-icon-12{/*能力觉醒用*/
	background-position-y: -288px;
}
.type-icon-14{/*强化合成用*/
	background-position-y: -320px;
}
.type-icon-15{/*贩卖用*/
	background-position-y: -352px;
}
.type-icon-9{/*特别保护*/
	background-position-y: -384px;
}
/*潜在觉醒*/
.latent-icon{
	background-image: url(images/latent.png);
	background-position-x: 0;
}
.latent-icon-1{ /*HP*/
	background-position-y: -32px;
}
.latent-icon-2{ /*攻击*/
	background-position-y: -64px;
}
.latent-icon-3{ /*回复*/
	background-position-y: -96px;
}
.latent-icon-4{ /*手指*/
	background-position-y: -128px;
}
.latent-icon-5{ /*自回*/
	background-position-y: -160px;
}
.latent-icon-6{ /*火盾*/
	background-position-y: -192px;
}
.latent-icon-7{ /*水盾*/
	background-position-y: -224px;
}
.latent-icon-8{ /*木盾*/
	background-position-y: -256px;
}
.latent-icon-9{ /*光盾*/
	background-position-y: -288px;
}
.latent-icon-10{ /*暗盾*/
	background-position-y: -320px;
}
.latent-icon-11{ /*防坐*/
	background-position-y: -352px;
}
.latent-icon-12{ /*三维*/
	background-position-y: -384px;
}
.latent-icon-13{ /*进化杀*/
	background-position-y: -416px;
}
.latent-icon-14{ /*觉醒杀*/
	background-position-y: -448px;
}
.latent-icon-15{ /*强化杀*/
	background-position-y: -480px;
}
.latent-icon-16{ /*卖钱杀*/
	background-position-y: -512px;
}
.latent-icon-17{ /*神杀*/
	background-position-y: -544px;
}
.latent-icon-18{ /*龙杀*/
	background-position-y: -576px;
}
.latent-icon-19{ /*恶魔杀*/
	background-position-y: -608px;
}
.latent-icon-20{ /*机械杀*/
	background-position-y: -640px;
}
.latent-icon-21{ /*平衡杀*/
	background-position-y: -672px;
}
.latent-icon-22{ /*攻击杀*/
	background-position-y: -704px;
}
.latent-icon-23{ /*体力杀*/
	background-position-y: -736px;
}
.latent-icon-24{ /*回复杀*/
	background-position-y: -768px;
}
.latent-icon-25{ /*大HP*/
	background-position-y: -800px;
}
.latent-icon-26{ /*大攻击*/
	background-position-y: -832px;
}
.latent-icon-27{ /*大回复*/
	background-position-y: -864px;
}
.latent-icon-28{ /*大手指*/
	background-position-y: -896px;
}
.latent-icon-29{ /*大火盾*/
	background-position-y: -928px;
}
.latent-icon-30{ /*大水盾*/
	background-position-y: -960px;
}
.latent-icon-31{ /*大木盾*/
	background-position-y: -992px;
}
.latent-icon-32{ /*大光盾*/
	background-position-y: -1024px;
}
.latent-icon-33{ /*大暗盾*/
	background-position-y: -1056px;
}
.latent-icon-12,
.latent-icon-13,
.latent-icon-14,
.latent-icon-15,
.latent-icon-16,
.latent-icon-17,
.latent-icon-18,
.latent-icon-19,
.latent-icon-20,
.latent-icon-21,
.latent-icon-22,
.latent-icon-23,
.latent-icon-24,
.latent-icon-25,
.latent-icon-26,
.latent-icon-27,
.latent-icon-28,
.latent-icon-29,
.latent-icon-30,
.latent-icon-31,
.latent-icon-32,
.latent-icon-33{
	width: 76px;
}
/*
var sawokens = [
	"HP",
	"攻击",
	"回复",
	"手指",
	"自回",
	"火盾",
	"水盾",
	"木盾",
	"光盾",
	"暗盾",
	"防坐",
	"三维",
	"进化杀",
	"觉醒杀",
	"强化杀",
	"卖钱杀",
	"神杀",
	"龙杀",
	"恶魔杀",
	"机械杀",
	"平衡杀",
	"攻击杀",
	"体力杀",
	"回复杀",
	"大HP",
	"大攻击",
	"大回复",
	"大手指",
	"大火盾",
	"大水盾",
	"大木盾",
	"大光盾",
	"大暗盾",
];
*/
/* 徽章背景 */
.badge-bg{
	background-image: url(images/badge-bg.png);
	width: 53px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	margin-right: 5px;
}
.badge{
	display: inline-block;
    vertical-align: middle;
	background-repeat: no-repeat;
	background-image: url(images/badge.png);
	width: 36px; height: 30px;
	background-position-x: 0;
}
.badge-0{
	background-position-y: 0px;
}
.badge-1{
	background-position-y: -30px;
}
.badge-2{
	background-position-y: -60px;
}
.badge-3{
	background-position-y: -90px;
}
.badge-4{
	background-position-y: -120px;
}
.badge-5{
	background-position-y: -150px;
}
.badge-6{
	background-position-y: -180px;
}
.badge-7{
	background-position-y: -210px;
}
.badge-8{
	background-position-y: -240px;
}
.badge-9{
	background-position-y: -270px;
}
.badge-10{
	background-position-y: -300px;
}
.badge-11{
	background-position-y: -330px;
}
.badge-12{
	background-position-y: -360px;
}
.badge-13{
	background-position-y: -390px;
}

/*搜索框中用到的属性图片*/
.attrs .attr-t0::before{
	content: url(images/orb-small-fire.png);
}
.attrs .attr-t1::before{
	content: url(images/orb-small-water.png);
}
.attrs .attr-t2::before{
	content: url(images/orb-small-wood.png);
}
.attrs .attr-t3::before{
	content: url(images/orb-small-light.png);
}
.attrs .attr-t4::before{
	content: url(images/orb-small-dark.png);
}