@charset "utf-8";
@font-face {
	font-family: 'FOT-KurokaneStd-EB';
	font-style: normal;
	/*font-weight: 400;*/
	src: url("fonts/FOT-KurokaneStd-EB.woff2") format('woff2'),
		 url("fonts/FOT-KurokaneStd-EB.woff") format('woff'),
		 url("fonts/FOT-KurokaneStd-EB.ttf") format('truetype'),
		 url("fonts/FOT-KurokaneStd-EB.eot") format('embedded-opentype'),
		 url("fonts/FOT-KurokaneStd-EB.svg") format('svg');
}
body{
	font-family: "Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif;
}
.display-none{
	display:none;
}
.disabled{
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.5;
}
.title{
	font-size: 2em;
	font-weight: bold;
}
.detail{
	min-height: 100px;
	font-size: 1.5em;
	font-family: "Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif;
}
.title,.detail{
	width:100%;
	border: none;
	background: none;
	box-sizing: border-box;
	padding: 1px;
}
.title:focus,.detail:focus{
	border: black solid 1px;;
	background-color: #eee;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
/*队伍的整个盒子*/
.formation-box{
	width: 648px;
	min-width: 648px;
}

/*单个怪物*/
.monster{
	font-family: 'FOT-KurokaneStd-EB',"Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif;
	width: 100px;
	height: 100px;
	margin: 0;
	display: block;
	float: left;
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
}
.null .monster,.delay .monster,
.null .property,.delay .property,
.null .subproperty,.delay .subproperty
{
	box-sizing: border-box;
	background-image: none;
}
.null .monster{
	background-color: rgba(230,230,230,0.5);
	border: 3px grey dashed;
}
.edit-box .null .monster{
	background-color: #653;
	border: none;
	box-shadow: inset black 0 0 7px;
}
.delay .monster{
	background-color: yellow;
	box-shadow: inset orange 0 0 7px;
	border: 3px black solid;
}
.delay .monster::before{
	display: block;
	width: 94px;
	height: 94px;
	color: black;
	font-size: 30px;
	line-height: 47px;
	text-align: center;
	font-weight: bold;
	/*content: "应 对\A威 吓";*/
	font-family: "Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif;
	white-space: pre-wrap;
	display: inline-block;
}
/*怪物属性*/
.property,.subproperty{
	position:absolute;
	left:0;top:0;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url(images/CARDFRAME2.PNG);
	background-position: 100px 100px; /*默认都不显示*/
}
/*怪物-加值*/
.monster .plus{
	color: yellow;
	font-size: 17px;
	line-height: 17px;
	text-shadow: black 0 0 1px,black 0 0 2px, black 2px 2px 0;
	position: absolute;
	left:10px;
}

.null .monster>div,.delay .monster>div{
	display:none;
}
.monster .plus .hp::before,
.monster .plus .atk::before,
.monster .plus .rcv::before,
.monster .plus ._297::before{
	content: "+";
}
.monster .plus ._297{ /*297默认不显示*/
	display:none;
}
.monster .plus.has297 .hp,.monster .plus.zero .hp,
.monster .plus.has297 .atk,.monster .plus.zero .atk,
.monster .plus.has297 .rcv,.monster .plus.zero .rcv{ /*当是297时隐藏3维*/
	display:none;
}
.monster .plus.has297 ._297{ /*当是297时显示297*/
	display:block;
}
/*怪物-觉醒*/
.monster .awoken-count{
	color: yellow;
	text-shadow: black 0 0 4px;
	text-align: center;
	background-image: url(images/awoken-count-bg.png);
	background-repeat: no-repeat;
	width: 34px;
	height: 38px;
	position: absolute;
	top: -4px;
	right: 0;
	transform: scale(0.75) translateX(4px);
}
.monster .awoken-count,
.monster .awoken-count.full-awoken::before{
	font-size: 20px;
	line-height: 28px;
}
.monster .awoken-count.full-awoken{
	font-size: 0;
}
.monster .awoken-count.full-awoken::before{
	content: "★";
}
.monster .awoken-count.allowable-assist.full-awoken::before{
	content: none;
}
.monster .awoken-count.allowable-assist{
	font-size: 0;
	text-shadow: none;
	background-position: 0 -38px;
}
/*怪物-超觉醒*/
.monster .super-awoken{
	position: absolute;
	right:0;
	top: 25px;
	transform: scale(0.75) translateX(4px);
}
/*怪物-等级*/
.monster .level{
	color: white;
	height: 17px;
	text-shadow: black 0 0 2px, black 2px 2px 0;
	position: absolute;
	left: 5px;
	bottom: 0px;
	vertical-align: top;
}
.monster .level,.monster .level.max::before{
	font-size: 15px;
	line-height: 17px;
}
.monster .level.max{
	font-size: 0;
}
.monster .level._110{
	color: lightskyblue;
}
/*.monster .level::before{
	content: "Lv.";
}.monster .level.max::before{
	content: "Lv.最大";
}*/
.monster .id{
	display: block;
	color: white;
	font-family: "Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 17px;
	height: 17px;
	text-shadow: black 1px 1px 0,black 1px -1px 0,black -1px 1px 0,black -1px -1px 0;
	position: absolute;
	left: 5px;
	bottom: 15px;
}
.not-show-mon-id .monster .id{
	display: none;
}
/*.monster .id::before{
	content: "No.";
}*/
/*辅助和队伍的每一只框架*/
.member, .acquisitus-awoken-icon{
	display: block;
	float: left;
	position: relative;
	width: 108px;
}
.formation-box .monster{
	margin: 4px; /*留给队长边框的*/
}
.formation-assist, .formation-team,.formation-badge{
	display: inline-block;
}
/*队伍的背景色*/
.formation-A-box .formation-team,.formation-A-box .formation-latents{
	background-color:pink;
}
.formation-B-box .formation-team,.formation-B-box .formation-latents{
	background-color:lightblue;
}
.formation-A-bigbox, .formation-B-bigbox{
	position: relative;
	font-size:0;
}
.formation-B-bigbox{
	margin-top:15px;
}
/*队伍A、B的文字*/
.formation-A-bigbox::after, .formation-B-bigbox::before{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	white-space: pre-wrap;
	display: inline-block;
	width: 108px;
	height: 108px;
}
.formation-A-bigbox::after{
	color:red;
	background-color:pink;
	/*content: "队伍\A A";*/
}
.formation-B-bigbox::before{
	color:blue;
	background-color:lightblue;
	/*content: "队伍\A B";*/
	vertical-align:top;
}
.formation-A-box, .formation-B-box{
	display: inline-block;
	vertical-align:bottom;
}

.formation-A-box .formation-assist .member::after, .formation-B-box .formation-assist .member::before{
	width: 108px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	position: relative;
}
.formation-A-box .formation-assist .member::after{
	color:red;
	/*content: "▼辅助";*/
}
.formation-B-box .formation-assist .member::before{
	color:blue;
	/*content: "▲辅助";*/
}

.formation-box .team-info{
	font-size: 15px;
}
.team-info .tIf-total-hp,.team-info .tIf-total-rcv{
	display:inline-block;
}

/*队伍的潜觉*/
.formation-latents .latents{
	width: 108px;
	/*float:left;*/
	margin-bottom: -20px;
	display: inline-block;
}
.formation-latents .latent-ul{
	font-size: 0;
	width: 152px;
	transform: translate(-22px,-8px) scale(0.63);
}

.latent-icon-1,
.latent-icon-2,
.latent-icon-3,
.latent-icon-4,
.latent-icon-5,
.latent-icon-6,
.latent-icon-7,
.latent-icon-8,
.latent-icon-9,
.latent-icon-10,
.latent-icon-11{
	margin-left: 3px;
	margin-right: 3px;
}
/*队长的边框*/
.formation-A-box .formation-team .team-leader .monster, .formation-B-box .formation-team .team-leader .monster{
	border-radius: 10px;
	border-width:4px;
	border-style:solid;
	box-sizing: initial;
	margin: 0;
}
.formation-A-box .formation-team .team-leader .monster{
	border-color: red;
}
.formation-B-box .formation-team .team-leader .monster{
	border-color: blue;
}

/*三维计算值*/
.formation-ability .abilitys{
	padding-left: 5px;
	box-sizing: border-box;
	font-size: 15px;
	width: 108px;
	display: inline-block;
}
.abilitys .hp::before,.abilitys .atk::before,.abilitys .rcv::before{
	width: 45px;
	display: inline-block;
}
/*.abilitys .hp::before{
	content: "HP：";
}
.abilitys .atk::before{
	content: "攻击：";
}
.abilitys .rcv::before{
	content: "回复：";
}*/


/*编辑窗口*/
.blur-bg{
	filter:blur(5px);
	pointer-events: none;
}
.edit-box{
	background-color: rgba(82, 53, 30, 0.8);
	color: white;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	box-sizing: border-box;
	min-width:664px;
}
.edit-box-title{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}
/*.edit-box .edit-box-title::before{
	content: "修改队员";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "修改辅助";
}*/
.edit-box .monsterinfo-box{
	font-family: 'FOT-KurokaneStd-EB';
	color: white;
	text-shadow: black 2px 2px 0;
	height: 100px;
	margin: 5px 0;
	background-image: linear-gradient(#798421,#394914);
	border-top: #B1BB39 solid 4px;
	border-bottom: #72941D ridge 7px;
	box-shadow: black 0 3px 3px;
	padding: 5px 10px;
}
/*.edit-box .search-box::before{
	content: "▼怪物ID";
}*/
.edit-box .search-box .m-id{
	box-sizing: border-box;
	font-size: 25px;
	height: 40px;
	width: 100%;
}
.edit-box .search-box .search-button{
	width: 100%;
	height: 40px;
	font-size: 25px;
}
.edit-box .search-box,.edit-box .setting-box{
	padding: 0 10px;
}
.edit-box .search-box .evo-card-list li{
	display: inline-block;
}
.edit-box .search-box .evo-card-list .monster{
	float: none;
}
.edit-box .search-box .evo-card-list .monster .id{
	bottom: 5px;
}
.edit-box .setting-row{
	width: 100%;
}
.monsterinfo-box .monster{
	margin-right:5px;
}
.monsterinfo-box .monster-id{
	display:inline-block;
	width:150px;
}
/*.monsterinfo-box .monster-id::before{
	content: "No.";
}*/
.monsterinfo-box .monster-rare{
	display:inline-block;
}
.monsterinfo-box .monster-rare::before{
	color:gold;
	text-shadow: black 0 0 3px,black 0 2px 3px;
}
.rare-1::before{content: "★";}
.rare-2::before{content: "★★";}
.rare-3::before{content: "★★★";}
.rare-4::before{content: "★★★★";}
.rare-5::before{content: "★★★★★";}
.rare-6::before{content: "★★★★★★";}
.rare-7::before{content: "★★★★★★★";}
.rare-8::before{content: "★★★★★★★★";}
.rare-9::before{content: "★★★★★★★★★";}
.rare-10::before{content: "★★★★★★★★★★";}
.monsterinfo-box .monster-id,.monsterinfo-box .monster-rare,.monsterinfo-box .monster-name{
	vertical-align: top;
	margin:0;
	height: 34px;
	font-size: 22px;
	line-height: 22px;
}
.monsterinfo-box .monster-type{
	font-size: 0;
}
.monsterinfo-box .monster-type .type-name{
	display:inline-block;
	margin-right: 10px;
}
.monsterinfo-box .monster-type .type-icon{
	margin-right:3px;
}
.monsterinfo-box .monster-type .type-name::after{
	vertical-align: middle;
	font-size: 22px;
	line-height: 22px;
}

.edit-box .setting-box .row-mon-level::before{
	/*content: "▼怪物等级";*/
	display: block;
}
.edit-box .setting-box .m-level{
	font-size: 25px;
	height: 40px;
	width: calc(100% - 150px);
	box-sizing: border-box;
}
.m-level-btn-max{
	height: 40px;
	width: 145px;
	box-sizing: border-box;
	font-size: 25px;
}
/*.m-level-btn-max::before{
	content: "最高Lv";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼怪物觉醒";
}*/
.row-mon-awoken .awoken-ul, .row-mon-super-awoken .awoken-ul{
	font-size: 0;
	height: 32px;
}
.awoken-ul li{
	margin-right: 5px;
}
.awoken-ul li:last-of-type{
	margin-right: 0;
}
.edit-box .awoken-ul .awoken-icon{
	cursor: pointer;
}
.awoken-ul .awoken-icon.unselected-awoken{
	opacity: 0.3;
}
.row-mon-awoken .awoken-icon.awoken-count,
.row-mon-awoken .awoken-icon.awoken-count.full-awoken::before
{
	color: yellow;
	font-size: 22px;
	line-height: 28px;
	font-weight: bold;
	text-shadow: black 0 0 4px;
	text-align: center;
}
.row-mon-awoken .awoken-icon.awoken-count.full-awoken{
	font-size: 0;
}
.row-mon-awoken .awoken-icon.awoken-count.full-awoken::before{
	content: "★";
}
.row-mon-awoken .m-super-awoken-ul{
	margin-top: 5px;
}
/*.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼超觉醒";
}*/
.edit-box .setting-box .row-mon-plus::before{
	/*content: "▼怪物加值";*/
	display: block;
}
.row-mon-plus .ability-value::before{content: "(";}
.row-mon-plus .ability-value::after{content: ")";}
.setting-box .m-plus-hp,.setting-box .m-plus-atk,.setting-box .m-plus-rcv{
	font-size: 25px;
	height: 40px;
	width: calc(100% - 288px);
	box-sizing: border-box;
}
.m-plus-hp-li::before,.m-plus-atk-li::before,.m-plus-rcv-li::before,.row-mon-plus .ability-value{
	font-size: 25px;
	width: 55px;
	display: inline-block;
}
.row-mon-plus .ability-value{
	width: 90px;
}
/*.m-plus-hp-li::before{content: "HP";}
.m-plus-atk-li::before{content: "攻击";}
.m-plus-rcv-li::before{content: "回复";}*/
.m-plus-btn{
	height: 40px;
	width: 55px;
	box-sizing: border-box;
	font-size: 25px;
}
.m-plus-btn::before,.m-plus-btn-297::before{
	content: "+";
}
.m-plus-btn-297{
	float:right;
	width: 85px;
	height: 120px;
	box-sizing: border-box;
	font-size: 25px;
}
/*.edit-box .setting-box .row-mon-latent::before{
	content: "▼潜在觉醒";
}*/
.m-latent-ul{
	text-align: center;
	font-size: 0;
}
.m-latent-ul .latent-icon{
	margin-left: 12px;
}
.m-latent-ul .latent-icon:first-of-type{
	margin-left: 0;
}
.m-latent-allowable-ul{
	margin-top: 5px;
}
.m-latent-allowable-ul .latent-icon,
.m-latent-ul .latent-icon-1,
.m-latent-ul .latent-icon-2,
.m-latent-ul .latent-icon-3,
.m-latent-ul .latent-icon-4,
.m-latent-ul .latent-icon-5,
.m-latent-ul .latent-icon-6,
.m-latent-ul .latent-icon-7,
.m-latent-ul .latent-icon-8,
.m-latent-ul .latent-icon-9,
.m-latent-ul .latent-icon-10,
.m-latent-ul .latent-icon-11,
.m-latent-ul .latent-icon-12,
.m-latent-ul .latent-icon-13,
.m-latent-ul .latent-icon-14,
.m-latent-ul .latent-icon-15,
.m-latent-ul .latent-icon-16,
.m-latent-ul .latent-icon-17,
.m-latent-ul .latent-icon-18,
.m-latent-ul .latent-icon-19,
.m-latent-ul .latent-icon-20,
.m-latent-ul .latent-icon-21,
.m-latent-ul .latent-icon-22,
.m-latent-ul .latent-icon-23,
.m-latent-ul .latent-icon-24{
	cursor: pointer;
}
.m-latent-allowable-ul .latent-icon.unselected-latent{
	cursor: default;
	opacity: 0.3;
}


.edit-box .button-box{
	border-top: black solid 3px;
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	padding: 5px;
	height: 50px;
}
.edit-box .button-box .button-null,
.edit-box .button-box .button-delay,
.edit-box .button-box .button-cancel,
.edit-box .button-box .button-done{
	height: 50px;
	box-sizing: border-box;
	font-size: 25px;
	font-weight: bold;
}
.edit-box .button-box .button-null,
.edit-box .button-box .button-delay{
	float: left;
	margin-right:5px;
}
.edit-box .button-box .button-cancel,
.edit-box .button-box .button-done{
	float: right;
	margin-left:5px;
}
/*.edit-box .button-box .button-null::after{
	content: "留空格子";
}
.edit-box .button-box .button-delay::after{
	content: "应对威吓";
}
.edit-box .button-box .button-cancel::after{
	content: "取消修改";
}
.edit-box .button-box .button-done::after{
	content: "确认修改";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "不能辅助";
}*/
.awoken-total-box::before{
	font-size: 20px;
	margin-top:5px;
	/*content: "觉醒总计：";*/
}
.detail-box{
	margin-top:5px;
}
.awoken-total-box .awoken-ul .awoken-count{
	font-size: 16px;
	line-height: 32px;
	font-family: 'FOT-KurokaneStd-EB';
	float: left;
	margin-right: 3px;
}
.awoken-total-box .awoken-ul .count{
	height: 32px;
	width: 37px;
	display: inline-block;
	vertical-align: middle;
}
.awoken-total-box .awoken-ul .count::before{
	content: "×";
}
/*控制框*/
.control-box{
	margin-bottom: 10px;
}
.control-box .languages-label::before{
	content: "Lanuage:";
}
.control-box .solo-link,.control-box .multi-link{
	margin-left: 10px;
}
.control-box .solo-link::before{
	content: "Jump To Solo Version";
}
.control-box .multi-link::before{
	content: "Jump To 2-Player Version";
}
.control-box .btn-show-mon-id{
	margin-left: 5px;
}
/*.control-box .btn-show-mon-id::before{
	content: "隐藏怪物ID";
}
.not-show-mon-id .control-box .btn-show-mon-id::before{
	content: "显示怪物ID";
}*/