@charset "utf-8";
/*怪物边框*/
.property--1{
	background: none; /*无*/
}
.property-0{
	background-position: 0 0; /*火*/
}
.property-1{
	background-position: -102px 0; /*水*/
}
.property-2{
	background-position: -204px 0; /*木*/
}
.property-3{
	background-position: -306px 0; /*光*/
}
.property-4{
	background-position: -408px 0; /*暗*/
}
.subproperty--1{
	background: none; /*无*/
}
.subproperty-0{
	background-position: 0 -104px; /*火*/
}
.subproperty-1{
	background-position: -102px -104px; /*水*/
}
.subproperty-2{
	background-position: -204px -104px; /*木*/
}
.subproperty-3{
	background-position: -306px -104px; /*光*/
}
.subproperty-4{
	background-position: -408px -104px; /*暗*/
}
/*宠物头像所用的图片*/
.pet-cards-1{background-image: url(images/cards/CARDS_001.PNG);}
.pet-cards-2{background-image: url(images/cards/CARDS_002.PNG);}
.pet-cards-3{background-image: url(images/cards/CARDS_003.PNG);}
.pet-cards-4{background-image: url(images/cards/CARDS_004.PNG);}
.pet-cards-5{background-image: url(images/cards/CARDS_005.PNG);}
.pet-cards-6{background-image: url(images/cards/CARDS_006.PNG);}
.pet-cards-7{background-image: url(images/cards/CARDS_007.PNG);}
.pet-cards-8{background-image: url(images/cards/CARDS_008.PNG);}
.pet-cards-9{background-image: url(images/cards/CARDS_009.PNG);}
.pet-cards-10{background-image: url(images/cards/CARDS_010.PNG);}
.pet-cards-11{background-image: url(images/cards/CARDS_011.PNG);}
.pet-cards-12{background-image: url(images/cards/CARDS_012.PNG);}
.pet-cards-13{background-image: url(images/cards/CARDS_013.PNG);}
.pet-cards-14{background-image: url(images/cards/CARDS_014.PNG);}
.pet-cards-15{background-image: url(images/cards/CARDS_015.PNG);}
.pet-cards-16{background-image: url(images/cards/CARDS_016.PNG);}
.pet-cards-17{background-image: url(images/cards/CARDS_017.PNG);}
.pet-cards-18{background-image: url(images/cards/CARDS_018.PNG);}
.pet-cards-19{background-image: url(images/cards/CARDS_019.PNG);}
.pet-cards-20{background-image: url(images/cards/CARDS_020.PNG);}
.pet-cards-21{background-image: url(images/cards/CARDS_021.PNG);}
.pet-cards-22{background-image: url(images/cards/CARDS_022.PNG);}
.pet-cards-23{background-image: url(images/cards/CARDS_023.PNG);}
.pet-cards-24{background-image: url(images/cards/CARDS_024.PNG);}
.pet-cards-25{background-image: url(images/cards/CARDS_025.PNG);}
.pet-cards-26{background-image: url(images/cards/CARDS_026.PNG);}
.pet-cards-27{background-image: url(images/cards/CARDS_027.PNG);}
.pet-cards-28{background-image: url(images/cards/CARDS_028.PNG);}
.pet-cards-29{background-image: url(images/cards/CARDS_029.PNG);}
.pet-cards-30{background-image: url(images/cards/CARDS_030.PNG);}
.pet-cards-31{background-image: url(images/cards/CARDS_031.PNG);}
.pet-cards-32{background-image: url(images/cards/CARDS_032.PNG);}
.pet-cards-33{background-image: url(images/cards/CARDS_033.PNG);}
.pet-cards-34{background-image: url(images/cards/CARDS_034.PNG);}
.pet-cards-35{background-image: url(images/cards/CARDS_035.PNG);}
.pet-cards-36{background-image: url(images/cards/CARDS_036.PNG);}
.pet-cards-37{background-image: url(images/cards/CARDS_037.PNG);}
.pet-cards-38{background-image: url(images/cards/CARDS_038.PNG);}
.pet-cards-39{background-image: url(images/cards/CARDS_039.PNG);}
.pet-cards-40{background-image: url(images/cards/CARDS_040.PNG);}
.pet-cards-41{background-image: url(images/cards/CARDS_041.PNG);}
.pet-cards-42{background-image: url(images/cards/CARDS_042.PNG);}
.pet-cards-43{background-image: url(images/cards/CARDS_043.PNG);}
.pet-cards-44{background-image: url(images/cards/CARDS_044.PNG);}
.pet-cards-45{background-image: url(images/cards/CARDS_045.PNG);}
.pet-cards-46{background-image: url(images/cards/CARDS_046.PNG);}
.pet-cards-47{background-image: url(images/cards/CARDS_047.PNG);}
.pet-cards-48{background-image: url(images/cards/CARDS_048.PNG);}
.pet-cards-49{background-image: url(images/cards/CARDS_049.PNG);}
.pet-cards-50{background-image: url(images/cards/CARDS_050.PNG);}
.pet-cards-51{background-image: url(images/cards/CARDS_051.PNG);}
.pet-cards-52{background-image: url(images/cards/CARDS_052.PNG);}
.pet-cards-53{background-image: url(images/cards/CARDS_053.PNG);}
.pet-cards-54{background-image: url(images/cards/CARDS_054.PNG);}
.pet-cards-55{background-image: url(images/cards/CARDS_055.PNG);}
.pet-cards-56{background-image: url(images/cards/CARDS_056.PNG);}
.pet-cards-57{background-image: url(images/cards/CARDS_057.PNG);}
.pet-cards-58{background-image: url(images/cards/CARDS_058.PNG);}
.pet-cards-59{background-image: url(images/cards/CARDS_059.PNG);}
.pet-cards-60{background-image: url(images/cards/CARDS_060.PNG);}
.pet-cards-61{background-image: url(images/cards/CARDS_061.PNG);}
.pet-cards-62{background-image: url(images/cards/CARDS_062.PNG);}
.pet-cards-63{background-image: url(images/cards/CARDS_063.PNG);}
.pet-cards-64{background-image: url(images/cards/CARDS_064.PNG);}
.pet-cards-65{background-image: url(images/cards/CARDS_065.PNG);}
.pet-cards-66{background-image: url(images/cards/CARDS_066.PNG);}
.pet-cards-67{background-image: url(images/cards/CARDS_067.PNG);}
.pet-cards-68{background-image: url(images/cards/CARDS_068.PNG);}
.pet-cards-69{background-image: url(images/cards/CARDS_069.PNG);}
.pet-cards-70{background-image: url(images/cards/CARDS_070.PNG);}
.pet-cards-71{background-image: url(images/cards/CARDS_071.PNG);}
.pet-cards-72{background-image: url(images/cards/CARDS_072.PNG);}
.pet-cards-73{background-image: url(images/cards/CARDS_073.PNG);}
.pet-cards-74{background-image: url(images/cards/CARDS_074.PNG);}
.pet-cards-75{background-image: url(images/cards/CARDS_075.PNG);}
.pet-cards-76{background-image: url(images/cards/CARDS_076.PNG);}
.pet-cards-77{background-image: url(images/cards/CARDS_077.PNG);}
.pet-cards-78{background-image: url(images/cards/CARDS_078.PNG);}
.pet-cards-79{background-image: url(images/cards/CARDS_079.PNG);}
.pet-cards-80{background-image: url(images/cards/CARDS_080.PNG);}
.pet-cards-81{background-image: url(images/cards/CARDS_081.PNG);}
.pet-cards-82{background-image: url(images/cards/CARDS_082.PNG);}
.pet-cards-83{background-image: url(images/cards/CARDS_083.PNG);}
.pet-cards-84{background-image: url(images/cards/CARDS_084.PNG);}
.pet-cards-85{background-image: url(images/cards/CARDS_085.PNG);}
.pet-cards-86{background-image: url(images/cards/CARDS_086.PNG);}
.pet-cards-87{background-image: url(images/cards/CARDS_087.PNG);}
.pet-cards-88{background-image: url(images/cards/CARDS_088.PNG);}
.pet-cards-89{background-image: url(images/cards/CARDS_089.PNG);}
.pet-cards-90{background-image: url(images/cards/CARDS_090.PNG);}
.pet-cards-91{background-image: url(images/cards/CARDS_091.PNG);}
.pet-cards-92{background-image: url(images/cards/CARDS_092.PNG);}
.pet-cards-93{background-image: url(images/cards/CARDS_093.PNG);}
.pet-cards-94{background-image: url(images/cards/CARDS_094.PNG);}
.pet-cards-95{background-image: url(images/cards/CARDS_095.PNG);}
.pet-cards-96{background-image: url(images/cards/CARDS_096.PNG);}
.pet-cards-97{background-image: url(images/cards/CARDS_097.PNG);}
.pet-cards-98{background-image: url(images/cards/CARDS_098.PNG);}
.pet-cards-99{background-image: url(images/cards/CARDS_099.PNG);}
/*宠物在图中编号对应的坐标*/
.pet-cards-index-x-0{background-position-x:0px;}
.pet-cards-index-x-1{background-position-x:-102px;}
.pet-cards-index-x-2{background-position-x:-204px;}
.pet-cards-index-x-3{background-position-x:-306px;}
.pet-cards-index-x-4{background-position-x:-408px;}
.pet-cards-index-x-5{background-position-x:-510px;}
.pet-cards-index-x-6{background-position-x:-612px;}
.pet-cards-index-x-7{background-position-x:-714px;}
.pet-cards-index-x-8{background-position-x:-816px;}
.pet-cards-index-x-9{background-position-x:-918px;}
.pet-cards-index-y-0{background-position-y:0px;}
.pet-cards-index-y-1{background-position-y:-102px;}
.pet-cards-index-y-2{background-position-y:-204px;}
.pet-cards-index-y-3{background-position-y:-306px;}
.pet-cards-index-y-4{background-position-y:-408px;}
.pet-cards-index-y-5{background-position-y:-510px;}
.pet-cards-index-y-6{background-position-y:-612px;}
.pet-cards-index-y-7{background-position-y:-714px;}
.pet-cards-index-y-8{background-position-y:-816px;}
.pet-cards-index-y-9{background-position-y:-918px;}
/*觉醒和类型*/
.awoken-icon,.type-icon{
	display:inline-block;
	width:32px;height:32px;
    vertical-align: middle;
	background-repeat: no-repeat;
}
/*觉醒*/
.awoken-icon{
    background-image: url(images/awoken.png);
}
.awoken-0{/*问号*/
	background-position: 0 0;
}
.awoken-1{/*HP+*/
	background-position: 0px -32px;
}
.awoken-2{/*攻击+*/
	background-position: 0px -64px;
}
.awoken-3{/*回复+*/
	background-position: 0px -96px;
}
.awoken-4{/*火盾*/
	background-position: 0px -128px;
}
.awoken-5{/*水盾*/
	background-position: 0px -160px;
}
.awoken-6{/*木盾*/
	background-position: 0px -192px;
}
.awoken-7{/*光盾*/
	background-position: 0px -224px;
}
.awoken-8{/*暗盾*/
	background-position: 0px -256px;
}
.awoken-9{/*自回*/
	background-position: 0px -288px;
}
.awoken-10{/*防封*/
	background-position: 0px -320px;
}
.awoken-11{/*防暗*/
	background-position: 0px -352px;
}
.awoken-12{/*防废*/
	background-position: 0px -384px;
}
.awoken-13{/*防毒*/
	background-position: 0px -416px;
}
.awoken-14{/*火+*/
	background-position: 0px -448px;
}
.awoken-15{/*水+*/
	background-position: 0px -480px;
}
.awoken-16{/*木+*/
	background-position: 0px -512px;
}
.awoken-17{/*光+*/
	background-position: 0px -544px;
}
.awoken-18{/*暗+*/
	background-position: 0px -576px;
}
.awoken-19{/*手指*/
	background-position: 0px -608px;
}
.awoken-20{/*心解*/
	background-position: 0px -640px;
}
.awoken-21{/*SB*/
	background-position: 0px -672px;
}
.awoken-22{/*火横*/
	background-position: 0px -704px;
}
.awoken-23{/*水横*/
	background-position: 0px -736px;
}
.awoken-24{/*木横*/
	background-position: 0px -768px;
}
.awoken-25{/*光横*/
	background-position: 0px -800px;
}
.awoken-26{/*暗横*/
	background-position: 0px -832px;
}
.awoken-27{/*U*/
	background-position: 0px -864px;
}
.awoken-28{/*SX*/
	background-position: 0px -896px;
}
.awoken-29{/*心+*/
	background-position: 0px -928px;
}
.awoken-30{/*协力*/
	background-position: 0px -960px;
}
.awoken-31{/*龙杀*/
	background-position: 0px -992px;
}
.awoken-32{/*神杀*/
	background-position: 0px -1024px;
}
.awoken-33{/*恶魔杀*/
	background-position: 0px -1056px;
}
.awoken-34{/*机杀*/
	background-position: 0px -1088px;
}
.awoken-35{/*平衡杀*/
	background-position: 0px -1120px;
}
.awoken-36{/*攻击杀*/
	background-position: 0px -1152px;
}
.awoken-37{/*体力杀*/
	background-position: 0px -1184px;
}
.awoken-38{/*回复杀*/
	background-position: 0px -1216px;
}
.awoken-39{/*进化杀*/
	background-position: 0px -1248px;
}
.awoken-40{/*觉醒杀*/
	background-position: 0px -1280px;
}
.awoken-41{/*强化杀*/
	background-position: 0px -1312px;
}
.awoken-42{/*卖钱杀*/
	background-position: 0px -1344px;
}
.awoken-43{/*7c*/
	background-position: 0px -1376px;
}
.awoken-44{/*5色破防*/
	background-position: 0px -1408px;
}
.awoken-45{/*心追*/
	background-position: 0px -1440px;
}
.awoken-46{/*全体HP*/
	background-position: 0px -1472px;
}
.awoken-47{/*全体回复*/
	background-position: 0px -1504px;
}
.awoken-48{/*破无效*/
	background-position: 0px -1536px;
}
.awoken-49{/*武器觉醒*/
	background-position: 0px -1568px;
}
.awoken-50{/*方块心追*/
	background-position: 0px -1600px;
}
.awoken-51{/*5色溜*/
	background-position: 0px -1632px;
}
.awoken-52{/*大防封*/
	background-position: 0px -1664px;
}
.awoken-53{/*大手指*/
	background-position: 0px -1696px;
}
.awoken-54{/*防云*/
	background-position: 0px -1728px;
}
.awoken-55{/*防封条*/
	background-position: 0px -1760px;
}
.awoken-56{/*大SB*/
	background-position: 0px -1792px;
}
.awoken-57{/*满血强化*/
	background-position: 0px -1824px;
}
.awoken-58{/*下半血强化*/
	background-position: 0px -1856px;
}
.awoken-59{/*L盾*/
	background-position: 0px -1888px;
}
.awoken-60{/*L解锁*/
	background-position: 0px -1920px;
}
.awoken-61{/*10c*/
	background-position: 0px -1952px;
}
.awoken-62{/*c珠*/
	background-position: 0px -1984px;
}
.awoken-63{/*语音*/
	background-position: 0px -2016px;
}
.awoken-64{/*奖励增加*/
	background-position: 0px -2048px;
}
.awoken-65{/*HP-*/
	background-position: 0px -2080px;
}
.awoken-66{/*攻击-*/
	background-position: 0px -2112px;
}
.awoken-67{/*回复-*/
	background-position: 0px -2144px;
}
/*类型*/
.type-icon{
	background-image: url(images/type.png);
	background-position: 0px 32px; /*默认不显示*/
}
.type-icon-4{/*龙*/
	background-position: 0px 0px;
}
.type-name-4::after{
	content: "龙";
}
.type-icon-5{/*神*/
	background-position: 0px -32px;
}
.type-name-5::after{
	content: "神";
}
.type-icon-7{/*恶魔*/
	background-position: 0px -64px;
}
.type-name-7::after{
	content: "恶魔";
}
.type-icon-8{/*机械*/
	background-position: 0px -96px;
}
.type-name-8::after{
	content: "机械";
}
.type-icon-1{/*平衡*/
	background-position: 0px -128px;
}
.type-name-1::after{
	content: "平衡";
}
.type-icon-6{/*攻击*/
	background-position: 0px -160px;
}
.type-name-6::after{
	content: "攻击";
}
.type-icon-2{/*体力*/
	background-position: 0px -192px;
}
.type-name-2::after{
	content: "体力";
}
.type-icon-3{/*回复*/
	background-position: 0px -224px;
}
.type-name-3::after{
	content: "回复";
}
.type-icon-0{/*进化用*/
	background-position: 0px -256px;
}
.type-name-0::after{
	content: "进化用";
}
.type-icon-12{/*能力觉醒用*/
	background-position: 0px -288px;
}
.type-name-12::after{
	content: "能力觉醒用";
}
.type-icon-14{/*强化合成用*/
	background-position: 0px -320px;
}
.type-name-14::after{
	content: "强化合成用";
}
.type-icon-15{/*贩卖用*/
	background-position: 0px -352px;
}
.type-name-15::after{/*龙*/
	content: "贩卖用";
}
.type-icon-9{/*特殊*/
	background-position: 0px -384px;
}
.type-name-9::after{
	content: "特殊";
}