@charset "utf-8";
.status.loading-check-version .text::before{
	content: "Checking the data version, please wait...";
}
.status.loading-mon-info .text::before{
	content: "Loading monster data, please wait...";
}
.status.loading-skill-info .text::before{
	content: "Loading skill data, please wait...";
}
.status.prepare-capture .text::before{
	content: "Preparing a screenshot, please wait...";
}
.monster.delay::before{
	content: "Prevent\A Delay";
	font-size: 22px;
}
.monster .level.max::before{
	content: "Lv.Max";
}
.monster .level::before{
	content: "Lv.";
}
.monster .id::before{
	content: "No.";
}
.team-box-name .box-name::before
{
	content: "Team";
}
.team-assist-label .assist-label::after
{
	content: "Assist";
}
.abilitys .hp::before,
.search-mon-list .hp-preview::before
{
	content: "HP:";
}
.abilitys .atk::before,
.search-mon-list .atk-preview::before
{
	content: "ATK:";
}
.abilitys .rcv::before,
.search-mon-list .rcv-preview::before
{
	content: "RCV:";
}
.search-mon-list .index-preview::before
{
	content: "Weit:";
}
.edit-box .edit-box-title::before{
	content: "Edit Member";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "Edit Assist";
}
.edit-box .setting-box .row-mon-id::before{
	content: "▼ID and Search";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.monsterinfo-box .monster-seriesId::before{
	content: "Series ID：";
}
.monsterinfo-box .monster-collabId::before{
	content: "Collab ID：";
}
.monsterinfo-box .monster-gachaId::before{
	content: "Gacha ID：";
}
.monsterinfo-box .monster-altName::before{
	content: "Tags";
}
.m-level-exp::before{
	content: "Need Exp:";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼Awoken";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼Super Awoken";
}

.row-mon-ability .m-hp-li::before,
.dialog-dungeon-enchance label[for="dungeon-hp"]::before
{
	content: "HP:";
}
.row-mon-ability .m-atk-li::before,
.dialog-dungeon-enchance label[for="dungeon-atk"]::before
{
	content: "ATK:";
}
.row-mon-ability .m-rcv-li::before,
.dialog-dungeon-enchance label[for="dungeon-rcv"]::before
{
	content: "RCV:";
}
.edit-box .setting-box .monster-cost::before{
	content: "COST:";
}
.edit-box .setting-box .row-mon-latent details>summary::before{
	content: "Latent Awoken";
}

.skill-box .skill-cd::before,
.search-mon-list .cd-preview::before
{
	content: "Turn(s):";
}
.search-mon-list .cd-preview::before
{
	width: 36px;
}
.skill-box .skill-level-label::before{
	content: "Lv.";
}
.row-mon-skill .type-title::before,
.row-mon-skill .type-title::after
{
	content: "Skill";
}
.row-mon-skill .evolved-skill .type-title::before,
.row-mon-skill .evolved-skill .type-title::after
{
	content: "Evoveld Skill";
}
.row-mon-leader-skill .type-title::before,
.row-mon-leader-skill .type-title::after
{
	content: "Leader Skill";
}
label[for="show-skill-original"]::after{
	content: "Skill Original";
}
label[for="merge-skill"]::after{
	content: "Merge Skill";
}

.edit-box .button-box .button-null::after{
	content: "Leave a blank";
}
.edit-box .button-box .button-delay::after{
	content: "Prevent Delay";
}
.edit-box .button-box .button-cancel::after{
	content: "Cancel";
}
.edit-box .button-box .button-done::after{
	content: "Done";
}
.edit-box .button-box .button-null,
.edit-box .button-box .button-delay,
.edit-box .button-box .button-cancel,
.edit-box .button-box .button-done{
	font-size: 15px;
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "Can't be Assist";
}
.edit-box .button-box .button-done.only-assist::after{
	content: "Only be Assist";
}
.team-awoken::before{
	content: "Team Awoken:";
}
.formation-awoken::before{
	content: "Total Awoken:";
}
.type-name[data-type-name='4']::after{
	content: "Dragon";
}
.type-name[data-type-name='5']::after{
	content: "God";
}
.type-name[data-type-name='7']::after{
	content: "Devil";
}
.type-name[data-type-name='8']::after{
	content: "Machine";
}
.type-name[data-type-name='1']::after{
	content: "Balanced";
}
.type-name[data-type-name='6']::after{
	content: "Attacker";
}
.type-name[data-type-name='2']::after{
	content: "Physical";
}
.type-name[data-type-name='3']::after{
	content: "Healer";
}
.type-name[data-type-name='0']::after{
	content: "Evo Material";
}
.type-name[data-type-name='12']::after{
	content: "Awaken";
}
.type-name[data-type-name='14']::after{
	content: "Enhance Material";
}
.type-name[data-type-name='15']::after{
	content: "Redeemable";
}
.type-name[data-type-name='9']::after{
	content: "Special Protection";
}
.control-box .datasource-label::before{
	content: "🕹️Data source:";
}
.control-box .datasource-updatetime::before{
	content: "🗓️Update Time:";
}
.control-box .btn-solo-link::before{
	content: "🧑Jump To Solo Mode";
}
.control-box .btn-multi-link::before{
	content: "🧑‍🤝‍🧑Jump To 2-Player Mode";
}
.control-box .btn-triple-link::before{
	content: "👪Jump To 3-Player Mode";
}
.control-box .btn-guide-link::before{
	content: "📓Guide Mode";
}
.control-box .btn-clear-data::before{
	content: "🗑️Clear data";
}
.control-box .btn-capture::before{
	content: "📷Screenshot";
}
.control-box .btn-player-data::before{
	content: "📦My Box";
}
.control-box .btn-swap-AB-team::before{
	content: "🔄Swap AB Team";
}
.control-box .btn-swap-ABC-team::before{
	content: "🔄Rotating ABC Team";
}
.control-box .lbl-henshin-change::before{
	content: "🦸Henshin";
}
.control-box .lbl-remove-assist::before{
	content: "⛔Remove Assist";
}
.control-box .show-mon-id-lbl::after{
	content:"🆔Show card's ID";
}
.control-box .show-mon-skill-cd-lbl::after{
	content:"❄️Show skill's cooldown";
}
label[for="show-mon-rarity"]::after{
	content:"⭐️Show Rarity";
}
.control-box .show-mon-awoken-lbl::after{
	content:"👁️Show card awoken";
}
.control-box .show-awoken-count-lbl::after{
	content:"⚔️Show awoken count and ability";
}
label[for="change-swap-to-copy"]::after{
	content:"\"Copy\" when dragging (or hold down Ctrl)";
}
label[for="default-level"]::after
{
	content: "Default Lv.";
}

.tIf-total-move .general::after,
.tIf-total-move .awoken-bind::after
{
	content: " sec";
}

.dialog-hp-detail .dialog-title::before
{
	content: "HP Range Reduction Details";
}
.hp-range-table .hp-range th::before
{
	content: "HP Range";
}
.hp-range-table .reduce-scale .reduce-probability:before
{
	content: "Odds ";
}
.hp-range-table caption::before
{
	content: "All Attribute Enemy";
}
.hp-range-table[data-attr="0"] caption::before
{
	content: "Fire Attribute Enemy";
}
.hp-range-table[data-attr="1"] caption::before
{
	content: "Water Attribute Enemy";
}
.hp-range-table[data-attr="2"] caption::before
{
	content: "Wood Attribute Enemy";
}
.hp-range-table[data-attr="3"] caption::before
{
	content: "Light Attribute Enemy";
}
.hp-range-table[data-attr="4"] caption::before
{
	content: "Dark Attribute Enemy";
}

.search-box::before{
	content: "Search Cards";
}
.search-box .attrs-div .fix-main-color-label::after{
	content: "The order of the attributes is consistent with the order you selected";
}
.search-box .consider-equivalent-awoken-label::after{
	content: "Search for Equivalent Awoken";
}
.search-box .include-super-awoken-label::after{
	content: "Including Super Awoken";
}
.search-box .show-official-awoken-sorting-label::after{
	content: "Use the official Awoken sorting";
}
.search-box .search-list-length::before{
	content: "Number of results:";
}
.search-box .sort-div::before{
	content: "Sort by:";
}
.search-box .sort-reverse-label::after{
	content: "Reverse";
}
.search-box .additional-div::before{
	content: "Additional display:";
}
.search-box .add-show-awoken-label::after{
	content: "Awoken list";
}
.search-box .add-show-CD-label::after{
	content: "Cooldown";
}
.search-box .add-show-abilities-label::after{
	content: "Abilities";
}
.search-box .add-show-abilities-with-awoken-label::after{
	content: "Abilities(+Awoken)";
}
.attrs-div .attr[data-attr-icon='-1']::before{
	content: "None";
}
.search-box .types-div::before{
	content: "Type:";
}
.search-box .rare-div::before{
	content: "Rarity (OR):";
}
.search-box .awoken-option::before{
	content: "▼Awoken (AND)";
}
.search-box .rare-clear::before
{
	content: "Reset";
}
.search-box .awoken-clear::before,
.search-box .sawoken-clear::before,
.special-div .special-clear::before,
.dialog-dungeon-enchance .dialog-clear::before
{
	content: "Clear";
}
.search-box .awoken-div .all-awokens::before{
	content: "▼Awoken";
}
.search-box .sawoken-detail summary::before{
	content: "Super Awoken (OR)";
}
.search-box .special-div::before{
	content: "▼Special Search";
}
.search-box .fast-switch::before {
    content: "Quick switch:";
}
label[for="can-assist"]::after{
	content: "Can be assist";
}
label[for="can-level-limit-breakthrough"]::after
{
	content: "Level limit can be Breakthrough";
}
label[for="have-8-latent-slot"]::after
{
	content: "Have 8 latent blocks";
}
label[for="not-weapon"]::after
{
	content: "Not Weapon";
}
label[for="box-have"]::after
{
	content: "Emphasize my box";
}
.special-div .special-add::before {
	content: "➕";
}
.special-div .special-star::before {
	content: "☆";
}
.special-div .special-star.marked::before {
	content: "★";
}
.control-div .search-start::before{
	content: "🔍Start Search";
}
.control-div .search-clear::before{
	content: "Clear Search";
}
.control-div .search-close::before{
	content: "Close Search Panel";
}
.control-div .search-share::before{
	content: "Share Search";
}
.dialog-search-string .dialog-title::before
{
	content: "Search by Tags";
}
.dialog-close::before,
.mask-close::before
{
	content: "Close";
}
.dialog .dialog-content .additional-string::before
{
	content: "Other Languages";
}
.open-evolutionary-tree::before
{
	content: "⛓️Show Evo Tree";
}
.search-evolution-by-this::after
{
	content: "Cards that need this card as evolutionary material";
}
.real-time-change-card-label::after
{
	content: "Real-Time change card";
}
.base .evo-type::before,
.base .evo-type::after
{
	content: "Base";
}
.evolution .evo-type::before,
.evolution .evo-type::after
{
	content: "Evolution";
}
.ult-evo .evo-type::before,
.ult-evo .evo-type::after
{
	content: "Ult Evo";
}
.reincarnation .evo-type::before,
.reincarnation .evo-type::after
{
	content: "Reincarnation";
}
.pixel-evo .evo-type::before,
.pixel-evo .evo-type::after
{
	content: "Pixel Evo";
}
.assist-evo .evo-type::before,
.assist-evo .evo-type::after
{
	content: "Assist Evo";
}
.super-reincarnation .evo-type::before,
.super-reincarnation .evo-type::after
{
	content: "Super Reincarnation";
}
.super-ult-evo .evo-type::before,
.super-ult-evo .evo-type::after
{
	content: "Super Ult Evo";
}

.evolution .evo-type
{
	transform: scaleX(0.90);
	margin: calc(-100px * (1 - 0.90) / 2);
}
.pixel-evo .evo-type
{
	transform: scaleX(0.95);
	margin: calc(-100px * (1 - 0.95) / 2);
}
.super-ult-evo .evo-type
{
	transform: scaleX(0.65);
	margin: calc(-100px * (1 - 0.63) / 2);
}
.reincarnation .evo-type
{
	transform: scaleX(0.60);
	margin: calc(-100px * (1 - 0.55) / 2);
}
.assist-evo .evo-type
{
	transform: scaleX(0.85);
	margin: calc(-100px * (1 - 0.85) / 2);
}
.super-reincarnation .evo-type
{
	transform: scaleX(0.43);
	margin: calc(-100px * 1 / 2);
}
.henshin .evo-type::before,
.henshin .evo-type::after
{
	content: "Henshin";
}
.random-henshin .evo-type::before,
.random-henshin .evo-type::after
{
	content: "Random Henshin";
}
.random-henshin .evo-type-div
{
	margin: 0 -10px;
}
.random-henshin .evo-type
{
	transform: scaleX(0.50);
	margin: calc(-100px * (1 - 0.50) / 2);
}
.henshin-loop .evo-type::before,
.henshin-loop .evo-type::after
{
	content: "Loop Henshin";
}
.henshin-loop  .evo-type
{
	transform: scaleX(0.6);
	margin: calc(-100px * (1 - 0.6) / 2);
}
.control-box .btn-qrcode::before{
	content: "\f029 QR Code and \f0ec Data exchange";
}

.read-qr-box::before
{
	content: "Read QR code:";
}
.save-qr-box::before
{
	content: "Generate QR code:";
}

.formation-link-from-string>a:empty::before
{
	content: "A formation link read from string";
}
label[for="sourceSelect"]::before
{
	content: "Video source selection:";
}
#qr-code-frame .save-qr-img::before
{
	content: "\f0c7  Save QR code image";
}
#qr-code-frame .read-qr-camera::before
{
	content: "\f030  Scan with camera";
}
#qr-code-frame .read-qr-camera.running::before
{
	content: "\f28d  Stop using camera";
}
#qr-code-frame .read-qr-file::before
{
	content: "\f1c5  Read image file";
}
#qr-code-frame .read-string::before {
	content: "\f891  Read string";
}

#qr-code-frame .paddb-team-edit::before
{
	content: "Upload Team Data to PADDB：";
}
label[for="paddb-username"]::before
{
	content: "PADDB user ID:";
}
label[for="paddb-password"]::before
{
	content: "PADDB password:";
}
label[for="paddb-team-id"]::before
{
	content: "PADDB Team Link:";
}
#paddb-save-or-upload-team::before
{
	content: "Save";
}
#paddb-team-id:placeholder-shown+#paddb-save-or-upload-team::before {
	content: "Upload new Team";
}
body:not(.external-link-support) #external-support::before
{
	content: "\f552  Install helper scripts to use PADDB-related features";
}

label[for="qr-data-type-pdf"]::before
{
	content: "P&D Formation Maker";
}
label[for="qr-data-type-pdc"]::before
{
	content: "P&D Damage Caculater (PDC)";
}
label[for="qr-data-type-pdchu"]::before {
	content: "Valeria (pdchu)";
}
label[for="qr-data-type-paddb"]::before
{
	content: "PADDB (Only for Solo)";
}
#btn-set-dungeon-enchance::before
{
	content: "\f6d9 Dungeon Enchanced";
}
.dialog-dungeon-enchance .dialog-title::before
{
	content: "Dungeon Enchancement Setting";
}
.dialog-dungeon-enchance .dialog-confirm::before
{
	content: "Confirm";
}
.dialog-dungeon-enchance .rare-list::before
{
	content: "Effective Rarity:";
}
.dialog-dungeon-enchance .attr-list::before
{
	content: "Effective Attr.:";
}
.dialog-dungeon-enchance .type-list::before
{
	content: "Effective Types:";
}
.dialog-dungeon-enchance .collab-list::before
{
	content: "Effective Collab ID：";
}
.dialog-dungeon-enchance .gacha-list::before
{
	content: "Effective Gacha ID：";
}
.dialog-dungeon-enchance .stats-list::before
{
	content: "Enhancement Rate:";
}

#player-data-frame .player-box-title::before
{
	content: "\f2bd\A Player Data";
}
#player-data-frame .how-to-use::before
{
	content: "📕How To Use";
}
#player-data-frame .upload-data::before
{
	content: "\f07c Open Data";
}
.player-card .set-default::before
{
	content: "\f468 Bind Data";
}
.player-card .open-show-box::before
{
	content: "\f468\A Show Box Data";
}
.player-card .lvexp::before
{
	content: "EXP";
}
.player-card .lvexp .level::before
{
	content: "Rank";
	transform: scaleX(0.8);
	margin: calc(-46px * (1 - 0.8) / 2);
}
.player-card .stama::before
{
	content: "STA";
}