@charset "utf-8";
@import "icon-en.css";
.status.loading-check-version .text::before{
	content: "Checking the data version, please wait...";
}
.status.loading-mon-info .text::before{
	content: "Loading monster data, please wait...";
}
.status.loading-skill-info .text::before{
	content: "Loading skill data, please wait...";
}
.status.prepare-cauture .text::before{
	content: "Preparing a screenshot, please wait...";
}
.delay .monster::before{
	content: "Prevent\A Delay";
	font-size: 22px;
}
.monster .level.max::before{
	content: "Lv.Max";
}
.monster .level::before{
	content: "Lv.";
}
.monster .id::before{
	content: "No.";
}
.team-1 .team-box-name::after,
.team-1 .team-box-name::before
{
	content: "Team\A A";
}
.team-2 .team-box-name::after,
.team-2 .team-box-name::before
{
	content: "Team\A B";
}
.team-3 .team-box-name::after,
.team-3 .team-box-name::before
{
	content: "Team\A C";
}
.team-box .team-assist .member::after
{
	content: "▼Assist";
}
.team-box .team-assist .member::before
{
	content: "▲Assist";
}
.abilitys .hp::before,
.search-mon-list .hp-preview::before
{
	content: "HP:";
}
.abilitys .atk::before,
.search-mon-list .atk-preview::before
{
	content: "ATK:";
}
.abilitys .rcv::before,
.search-mon-list .rcv-preview::before
{
	content: "RCV:";
}
.search-mon-list .index-preview::before
{
	content: "Weit:";
}
.edit-box .edit-box-title::before{
	content: "Edit Member";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "Edit Assist";
}
.edit-box .setting-box .row-mon-id::before{
	content: "▼Monster ID";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.monsterinfo-box .monster-seriesId::before{
	content: "Series ID：";
}
.monsterinfo-box .monster-collabId::before{
	content: "Collab ID：";
}
.monsterinfo-box .monster-altName::before{
	content: "Tags";
}
.m-level-exp::before{
	content: "Need Exp:";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼Monster Awoken";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼Super Awoken";
}

.edit-box .setting-box .row-mon-ability::before{
	content: "▼Monster Abilitys";
}
.edit-box .setting-box .row-mon-plus::before{
	content: "▼Monster Plus";
}
.row-mon-ability .m-hp-li::before{
	content: "HP:";
}
.row-mon-ability .m-atk-li::before{
	content: "ATK:";
}
.row-mon-ability .m-rcv-li::before{
	content: "RCV:";
}

.edit-box .setting-box .row-mon-level::before{
	content: "▼Monster Level";
}
.edit-box .setting-box .monster-cost::before{
	content: "COST:";
}
.edit-box .setting-box .row-mon-latent::before{
	content: "▼Latent Awoken";
}
.edit-box .setting-box .hide-less-use-latent-label::after{
	content: "Hide less used latents";
}

.skill-box .skill-cd::before,
.search-mon-list .cd-preview::before
{
	content: "Turn(s):";
}
.search-mon-list .cd-preview::before
{
	width: 36px;
}
.skill-box .skill-level-label::before{
	content: "Lv.";
}
.row-mon-skill .type-title::before,
.row-mon-skill .type-title::after
{
	content: "Skill";
}
.row-mon-leader-skill .type-title::before,
.row-mon-leader-skill .type-title::after
{
	content: "Leader Skill";
}

.edit-box .button-box .button-null::after{
	content: "Leave a blank";
}
.edit-box .button-box .button-delay::after{
	content: "Prevent Delay";
}
.edit-box .button-box .button-cancel::after{
	content: "Cancel";
}
.edit-box .button-box .button-done::after{
	content: "Done";
}
.edit-box .button-box .button-null,
.edit-box .button-box .button-delay,
.edit-box .button-box .button-cancel,
.edit-box .button-box .button-done{
	font-size: 15px;
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "Can't be Assist";
}
.team-awoken::before{
	content: "Team Awoken:";
}
.formation-awoken::before{
	content: "Total Awoken:";
}
.type-name[data-type-name='4']::after{
	content: "Dragon";
}
.type-name[data-type-name='5']::after{
	content: "God";
}
.type-name[data-type-name='7']::after{
	content: "Devil";
}
.type-name[data-type-name='8']::after{
	content: "Machine";
}
.type-name[data-type-name='1']::after{
	content: "Balanced";
}
.type-name[data-type-name='6']::after{
	content: "Attacker";
}
.type-name[data-type-name='2']::after{
	content: "Physical";
}
.type-name[data-type-name='3']::after{
	content: "Healer";
}
.type-name[data-type-name='0']::after{
	content: "Evo Material";
}
.type-name[data-type-name='12']::after{
	content: "Awaken";
}
.type-name[data-type-name='14']::after{
	content: "Enhance Material";
}
.type-name[data-type-name='15']::after{
	content: "Redeemable";
}
.type-name[data-type-name='9']::after{
	content: "Special Protection";
}
.control-box .datasource-label::before{
	content: "🕹️Data source:";
}
.control-box .datasource-updatetime::before{
	content: "⌚Update Time:";
}
.control-box .btn-solo-link::before{
	content: "🧑Jump To Solo Mode";
}
.control-box .btn-multi-link::before{
	content: "🧑‍🤝‍🧑Jump To 2-Player Mode";
}
.control-box .btn-triple-link::before{
	content: "👪Jump To 3-Player Mode";
}
.control-box .btn-guide-link::before{
	content: "📓Guide Mode";
}
.control-box .btn-clear-data::before{
	content: "🗑️Clear data";
}
.control-box .btn-capture::before{
	content: "📷Screenshot";
}
.control-box .btn-swap-AB-team::before{
	content: "🔄Swap AB Team";
}
.control-box .btn-swap-ABC-team::before{
	content: "🔄Rotating ABC Team";
}
.control-box .lbl-henshin-change::before{
	content: "🕴️Henshin";
}
.control-box .show-mon-id-lbl::after{
	content:"🆔Show monster ID";
}
.control-box .btn-show-mon-skill-cd-lbl::after{
	content:"❄️Show full skill's cooldown";
}
.control-box .btn-show-mon-awoken-lbl::after{
	content:"👁Show card awoken";
}
.control-box .btn-show-awoken-count-lbl::after{
	content:"⚔️Show awoken count and ability";
}
.control-box .change-swap-to-copy-lbl::after{
	content:"Change \"Swap\" to \"Copy\" when dragging";
}

.tIf-total-move .general::after,
.tIf-total-move .awoken-bind::after
{
	content: " sec";
}

.dialog-hp-detail .dialog-title::before
{
	content: "HP Range Reduction Details";
}
.hp-range-table .hp-range th::before
{
	content: "HP Range";
}
.hp-range-table .reduce-scale .reduce-probability:before
{
	content: "Odds ";
}
.hp-range-table caption::before
{
	content: "All Attribute Enemy";
}
.hp-range-table[data-attr="0"] caption::before
{
	content: "Fire Attribute Enemy";
}
.hp-range-table[data-attr="1"] caption::before
{
	content: "Water Attribute Enemy";
}
.hp-range-table[data-attr="2"] caption::before
{
	content: "Wood Attribute Enemy";
}
.hp-range-table[data-attr="3"] caption::before
{
	content: "Light Attribute Enemy";
}
.hp-range-table[data-attr="4"] caption::before
{
	content: "Dark Attribute Enemy";
}

.setting-box .row-mon-id .open-search::before{
	content: "Simple Search";
}
.search-box::before{
	content: "Search Cards";
}
.search-box .attrs-div .attr-list-1::before{
	content: "Attribute 1:";
}
.search-box .attrs-div .attr-list-2::before{
	content: "Attribute 2:";
}
.search-box .attrs-div .fix-main-color-label::after{
	content: "Fix attr-1 for main-attr, attr-2 for sub-attr.";
}
.search-box .consider-equivalent-awoken-label::after{
	content: "Search for Equivalent Awoken";
}
.search-box .can-assist-label::after{
	content: "Can be assist";
}
.search-box .include-super-awoken-label::after{
	content: "Including Super Awoken";
}
.search-box .show-official-awoken-sorting-label::after{
	content: "Use the official Awoken sorting";
}
.search-box .search-list-length::before{
    content: "Number of results:";
}
.search-box .sort-div::before{
	content: "Sort by:";
}
.search-box .sort-reverse-label::after{
	content: "Same";
}
.search-box input:checked+ .sort-reverse-label::after{
	content: "Reverse";
}
.search-box .additional-div::before{
	content: "Additional display:";
}
.search-box .add-show-awoken-label::after{
	content: "Awoken list";
}
.search-box .add-show-CD-label::after{
	content: "Cooldown";
}
.search-box .add-show-abilities-label::after{
	content: "Abilities";
}
.search-box .add-show-abilities-with-awoken-label::after{
	content: "Abilities(+Awoken)";
}
.attrs-div .attr[data-attr-icon='-1']::before{
	content: "None";
}
.search-box .types-div::before{
	content: "Type:";
}
.search-box .rare-div::before{
	content: "Rarity (OR):";
}
.search-box .awoken-option::before{
	content: "▼Awoken (AND)";
}
.search-box .rare-clear::before
{
	content: "Reset";
}
.search-box .awoken-clear::before,
.search-box .sawoken-clear::before
{
	content: "Clear";
}
.search-box .awoken-div::before{
	content: "▼Add Awoken";
}
.search-box .sawoken-div::before{
	content: "▼Super Awoken (OR)";
}
.control-div .search-start::before{
	content: "🔍Start Search";
}
.control-div .search-clear::before{
	content: "Clear Search";
}
.control-div .search-close::before{
	content: "Close Search Panel";
}
.dialog-search-string .dialog-title::before
{
	content: "Search By Tags";
}
.dialog-close::before,
.mask-close::before
{
	content: "Close";
}
.dialog .dialog-content .additional-string::before
{
	content: "Other Languages";
}
.open-evolutionary-tree::before
{
	content: "⛓️Evo Search";
}
.real-time-change-card-label::after
{
	content: "Real-Time change card";
}
.base .evo-type::before,
.base .evo-type::after
{
    content: "Base";
}
.evolution .evo-type::before,
.evolution .evo-type::after
{
    content: "Evolution";
}
.ult-evo .evo-type::before,
.ult-evo .evo-type::after
{
    content: "Ult Evo";
}
.reincarnation .evo-type::before,
.reincarnation .evo-type::after
{
    content: "Reincarnation";
}
.pixel-evo .evo-type::before,
.pixel-evo .evo-type::after
{
    content: "Pixel Evo";
}
.assist-evo .evo-type::before,
.assist-evo .evo-type::after
{
    content: "Assist Evo";
}
.super-reincarnation .evo-type::before,
.super-reincarnation .evo-type::after
{
    content: "Super Reincarnation";
}
.super-ult-evo .evo-type::before,
.super-ult-evo .evo-type::after
{
	content: "Super Ult Evo";
}

.evolution .evo-type
{
	transform: scaleX(0.90);
    margin: calc(-100px * (1 - 0.90) / 2);
}
.pixel-evo .evo-type
{
	transform: scaleX(0.95);
    margin: calc(-100px * (1 - 0.95) / 2);
}
.super-ult-evo .evo-type
{
	transform: scaleX(0.65);
    margin: calc(-100px * (1 - 0.63) / 2);
}
.reincarnation .evo-type
{
	transform: scaleX(0.60);
    margin: calc(-100px * (1 - 0.55) / 2);
}
.assist-evo .evo-type
{
	transform: scaleX(0.85);
    margin: calc(-100px * (1 - 0.85) / 2);
}
.super-reincarnation .evo-type
{
	transform: scaleX(0.43);
    margin: calc(-100px * 1 / 2);
}
.henshin .evo-type::before,
.henshin .evo-type::after
{
    content: "Henshin";
}
.henshin-loop .evo-type::before,
.henshin-loop .evo-type::after
{
    content: "Loop Henshin";
}
.henshin-loop  .evo-type
{
	transform: scaleX(0.6);
    margin: calc(-100px * (1 - 0.6) / 2);
}
.control-box .btn-qrcode::before{
	content: "\f029 QR Code";
}

.read-qr-box::before
{
	content: "Read QR code:";
}
.save-qr-box::before
{
	content: "Generate QR code:";
}

.formation-from-qrcode::before
{
    content: "A formation link read from a QR code";
}
label[for="sourceSelect"]::before
{
    content: "Video source selection:";
}
#qr-code-frame .save-qr-img::before
{
    content: "\f0c7  Save QR code image";
}
#qr-code-frame .read-qr-camera::before
{
    content: "\f030  Scan with the camera";
}
#qr-code-frame .read-qr-camera.running::before
{
    content: "\f28d  Stop using the camera";
}
#qr-code-frame .read-qr-file::before
{
    content: "\f1c5  Read the image file";
}

label[for="qr-data-type-pdf"]::before
{
	content: "P&D Formation Maker";
}
label[for="qr-data-type-pdc"]::before
{
	content: "P&D Damage Caculater (PDC)";
}