@charset "utf-8";
/*Some icons, style different from the Japanese version*/
.awoken-icon[data-awoken-icon='46'],
.awoken-icon[data-awoken-icon='47']
{
	background-position-x: calc(-32px * 2);
}
.badge[data-badge-icon='0']::before,
.badge[data-badge-icon='14']::before,
.badge[data-badge-icon='18']::before
{
	background-position-x: calc(-36px * 2);
}