@charset "utf-8";
/*Some icons, style different from the Japanese version*/
.awoken-icon[data-awoken-icon='40'],
.awoken-icon[data-awoken-icon='46'],
.awoken-icon[data-awoken-icon='47'],
.awoken-icon[data-awoken-icon='48'],
.type-icon[data-type-icon='12'],
.type-icon[data-type-icon='9']
{
	background-position-x: -32px;
}
.latent-icon[data-latent-icon='17']::before,
.latent-icon[data-latent-icon='37']::before,
.latent-icon[data-latent-icon='39']::before
{
	background-position-x: -252px;
}

.tIf-total-hp .awoken-bind::before,
.tIf-total-move .awoken-bind::before,
.tIf-total-hp .reduce .reduce-scale::before
{
	background-position-x: -20px;
}
.icon-skill[data-icon-type="mass-attack"],
.icon-skill[data-icon-type="unbind-awakenings"],
.icon-skill[data-icon-type="reduce-damage"],
.icon-skill[data-icon-type="damage-absorb"],
.icon-skill[data-icon-type="damage-void"]
{
	background-position-x: calc(-36px * 1);
}