@charset "utf-8";
.delay .monster::before{
	content: "遅 延\A対 策";
}
.monster .level.max::before{
	content: "Lv.最大";
}
.monster .level::before{
	content: "Lv.";
}
.monster .id::before{
	content: "No.";
}
.formation-A-bigbox::after{
	content: "チーム\A A";
}
.formation-B-bigbox::before{
	content: "チーム\A B";
}
.formation-A-box .formation-assist .member::after{
	content: "▼継承";
}
.formation-B-box .formation-assist .member::before{
	content: "▲継承";
}
.edit-box .edit-box-title::before{
	content: "変更メンバー";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "変更継承";
}
.edit-box .search-box::before{
	content: "▼モンスターID";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.edit-box .setting-box .row-mon-level::before{
	content: "▼モンスターレベル";
}
.m-level-btn-max::before{
	content: "最高Lv";
}
.abilitys .hp::before{
	content: "HP：";
}
.abilitys .atk::before{
	content: "攻撃：";
}
.abilitys .rcv::before{
	content: "回復：";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼モンスター覚醒";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼モンスター超覚醒";
}
.edit-box .setting-box .row-mon-plus::before{
	content: "▼モンスタープラス";
}
.m-plus-hp-li::before{
	content: "HP";
}
.m-plus-atk-li::before{
	content: "攻撃";
}
.m-plus-rcv-li::before{
	content: "回復";
}
.edit-box .setting-box .row-mon-latent::before{
	content: "▼モンスター潜在覚醒";
}
.edit-box .button-box .button-null::after{
	content: "空白のままに";
}
.edit-box .button-box .button-delay::after{
	content: "遅延対策";
}
.edit-box .button-box .button-cancel::after{
	content: "キャンセル";
}
.edit-box .button-box .button-done::after{
	content: "確認する";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "継承できない";
}
.awoken-total-box::before{
	content: "覚醒合計：";
}
.type-name-4::after{
	content: "ドラゴン";
}
.type-name-5::after{
	content: "神";
}
.type-name-7::after{
	content: "悪魔";
}
.type-name-8::after{
	content: "マシン";
}
.type-name-1::after{
	content: "バランス";
}
.type-name-6::after{
	content: "攻撃";
}
.type-name-2::after{
	content: "体力";
}
.type-name-3::after{
	content: "回復";
}
.type-name-0::after{
	content: "進化用";
}
.type-name-12::after{
	content: "能力覚醒用";
}
.type-name-14::after{
	content: "強化合成用";
}
.type-name-15::after{
	content: "売却用";
}
.type-name-9::after{
	content: "特別保護";
}
.control-box .datasource-label::before{
	content: "データ ソース：";
}
.control-box .btn-solo-link::before{
	content: "🧑ソロゲームに移動";
}
.control-box .btn-multi-link::before{
	content: "🧑‍🤝‍🧑2人協力のゲームに移動";
}
.control-box .btn-clear-data::before{
	content: "🗑️データの消去";
}
.control-box .btn-swap-AB-team::before{
	content: "🔄交換ABチーム";
}
.control-box .btn-show-mon-id::before{
	content: "⬜隠しモンスターID";
}
.not-show-mon-id .control-box .btn-show-mon-id::before{
	content: "🆔モンスターIDを表示";
}
.team-info .tIf-total-hp::before{
	content: "合計HP(チーム覚醒とバッジ)：";
}
.team-info .tIf-total-rcv::before{
	content: "合計回復(チーム覚醒とバッジ)：";
}