@charset "utf-8";
.status.loading-check-version .text::before{
	content: "データバージョンをチェックしています。";
}
.status.loading-mon-info .text::before{
	content: "モンスターデータを読み込んでいます。";
}
.status.loading-skill-info .text::before{
	content: "スキル データを読み込んでいます。";
}
.status.prepare-capture .text::before{
	content: "スクリーンショットを準備しています。";
}
.monster.delay::before{
	content: "遅 延\A対 策";
}
.monster .level.max::before{
	content: "Lv.最大";
}
.monster .level::before{
	content: "Lv.";
}
.monster .id::before{
	content: "No.";
}
.team-box-name .box-name::before
{
	content: "チーム";
}
.team-assist-label .assist-label::after
{
	content: "継承";
}
.abilitys .hp::before,
.search-mon-list .hp-preview::before
{
	content: "HP:";
}
.abilitys .atk::before,
.search-mon-list .atk-preview::before
{
	content: "攻撃:";
}
.abilitys .rcv::before,
.search-mon-list .rcv-preview::before
{
	content: "回復:";
}
.search-mon-list .index-preview::before
{
	content: "加重:";
}
.edit-box .edit-box-title::before{
	content: "変更メンバー";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "変更継承";
}
.edit-box .setting-box .row-mon-id::before{
	content: "▼ID と検索";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.monsterinfo-box .monster-seriesId::before{
	content: "シリーズ ID：";
}
.monsterinfo-box .monster-collabId::before{
	content: "コラボ ID:";
}
.monsterinfo-box .monster-altName::before{
	content: "タグで";
}
.m-level-exp::before{
	content: "必要な経験値:";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼覚醒";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼超覚醒";
}

.edit-box .setting-box .row-mon-ability::before{
	content: "▼能力";
}
.edit-box .setting-box .row-mon-plus::before{
	content: "▼+ 強化";
}
.row-mon-ability .m-hp-li::before,
.dialog-dungeon-enchance label[for="dungeon-hp"]::before
{
	content: "HP:";
}
.row-mon-ability .m-atk-li::before,
.dialog-dungeon-enchance label[for="dungeon-atk"]::before
{
	content: "攻撃:";
}
.row-mon-ability .m-rcv-li::before,
.dialog-dungeon-enchance label[for="dungeon-rcv"]::before
{
	content: "回復:";
}

.edit-box .setting-box .row-mon-level::before{
	content: "▼レベル";
}
.edit-box .setting-box .monster-cost::before{
	content: "コスト:";
}
.edit-box .setting-box .row-mon-latent details>summary::before{
	content: "モンスター潜在覚醒";
}

.skill-box .skill-cd::before,
.search-mon-list .cd-preview::before
{
	content: "ターン:";
}
.search-mon-list .cd-preview::before
{
	width: 34px;
}
.skill-box .skill-level-label::before{
	content: "Lv.";
}
.row-mon-skill .type-title::before,
.row-mon-skill .type-title::after
{
	content: "スキル";
}
.row-mon-skill .evolved-skill .type-title::before,
.row-mon-skill .evolved-skill .type-title::after
{
	content: "進化スキル";
}
.row-mon-leader-skill .type-title::before,
.row-mon-leader-skill .type-title::after
{
	content: "リーダースキル";
}
label[for="show-skill-original"]::after{
	content: "スキルの原文";
}
label[for="merge-skill"]::after{
	content: "スキルのマージ";
}

.edit-box .button-box .button-null::after{
	content: "空白のままに";
}
.edit-box .button-box .button-delay::after{
	content: "遅延対策";
}
.edit-box .button-box .button-cancel::after{
	content: "キャンセル";
}
.edit-box .button-box .button-done::after{
	content: "確認する";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "継承できない";
}
.team-awoken::before{
	content: "チーム覚醒:";
}
.formation-awoken::before{
	content: "総覚醒:";
}
.type-name[data-type-name='4']::after{
	content: "ドラゴン";
}
.type-name[data-type-name='5']::after{
	content: "神";
}
.type-name[data-type-name='7']::after{
	content: "悪魔";
}
.type-name[data-type-name='8']::after{
	content: "マシン";
}
.type-name[data-type-name='1']::after{
	content: "バランス";
}
.type-name[data-type-name='6']::after{
	content: "攻撃";
}
.type-name[data-type-name='2']::after{
	content: "体力";
}
.type-name[data-type-name='3']::after{
	content: "回復";
}
.type-name[data-type-name='0']::after{
	content: "進化用";
}
.type-name[data-type-name='12']::after{
	content: "能力覚醒用";
}
.type-name[data-type-name='14']::after{
	content: "強化合成用";
}
.type-name[data-type-name='15']::after{
	content: "売却用";
}
.type-name[data-type-name='9']::after{
	content: "特別保護";
}
.control-box .datasource-label::before{
	content: "🕹️データ ソース:";
}
.control-box .datasource-updatetime::before{
	content: "⌚更新時刻:";
}
.control-box .btn-solo-link::before{
	content: "🧑ソロモードに移動";
}
.control-box .btn-multi-link::before{
	content: "🧑‍🤝‍🧑2人協力モードムに移動";
}
.control-box .btn-triple-link::before{
	content: "👪3人協力モードに移動";
}
.control-box .btn-guide-link::before{
	content: "📓図鑑モード";
}
.control-box .btn-clear-data::before{
	content: "🗑️データの消去";
}
.control-box .btn-capture::before{
	content: "📷スクリーンショット";
}
.control-box .btn-player-data::before{
	content: "📦私の箱";
}
.control-box .btn-swap-AB-team::before{
	content: "🔄交換ABチーム";
}
.control-box .btn-swap-ABC-team::before{
	content: "🔄ローテーションABCチーム";
}
.control-box .lbl-henshin-change::before{
	content: "🕴️変身";
}
.control-box .lbl-remove-assist::before{
	content: "⛔アシストを解除";
}
.control-box .show-mon-id-lbl::after{
	content:"🆔モンスターIDを表示";
}
.control-box .show-mon-skill-cd-lbl::after{
	content:"❄️スキル クールを表示";
}
.control-box .show-mon-awoken-lbl::after{
	content:"👁カードの覚醒を表示";
}
.control-box .show-awoken-count-lbl::after{
	content:"⚔️総覚醒と能力値の表示";
}
.control-box .change-swap-to-copy-lbl::after{
	content:"ドラッグ時にコピー";
}
label[for="default-level"]::after
{
	content: "デフォルト Lv.";
}

.tIf-total-move .general::after,
.tIf-total-move .awoken-bind::after
{
	content: " 秒";
}

.dialog-hp-detail .dialog-title::before
{
	content: "HP 範囲減傷の詳細";
}
.hp-range-table .hp-range th::before
{
	content: "HP 範囲";
}
.hp-range-table .reduce-scale .reduce-probability:before
{
	content: "確率 ";
}
.hp-range-table caption::before
{
	content: "すべての属性の敵";
}
.hp-range-table[data-attr="0"] caption::before
{
	content: "火属性の敵";
}
.hp-range-table[data-attr="1"] caption::before
{
	content: "水属性の敵";
}
.hp-range-table[data-attr="2"] caption::before
{
	content: "木属性の敵";
}
.hp-range-table[data-attr="3"] caption::before
{
	content: "光属性の敵";
}
.hp-range-table[data-attr="4"] caption::before
{
	content: "暗属性の敵";
}

.search-box::before{
	content: "モンスターの検索";
}
.search-box .attrs-div .attr-list-1::before{
	content: "属性 1:";
}
.search-box .attrs-div .attr-list-2::before{
	content: "属性 2:";
}
.search-box .attrs-div .fix-main-color-label::after{
	content: "限定 属性 1->主属性，属性 2->副属性";
}
.search-box .consider-equivalent-awoken-label::after{
	content: "同時に同等の覚醒を検索";
}
.search-box .include-super-awoken-label::after{
	content: "超覚醒を含む";
}
.search-box .show-official-awoken-sorting-label::after{
	content: "公式の覚醒ソートを使用";
}
.search-box .search-list-length::before{
	content: "結果の数:";
}
.search-box .sort-div::before{
	content: "並べ替え:";
}
.search-box .sort-reverse-label::after{
	content: "逆序";
}
.search-box .additional-div::before{
	content: "追加の表示:";
}
.search-box .add-show-awoken-label::after{
	content: "覚醒リスト";
}
.search-box .add-show-CD-label::after{
	content: "スキルターン";
}
.search-box .add-show-abilities-label::after{
	content: "能力値";
}
.search-box .add-show-abilities-with-awoken-label::after{
	content: "能力値 (+覚醒)";
}
.attrs-div .attr[data-attr-icon='-1']::before{
	content: "空";
}
.search-box .types-div::before{
	content: "タイプ:";
}
.search-box .rare-div::before{
	content: "希少性（OR）：";
}
.search-box .awoken-option::before{
	content: "▼觉醒（AND）";
}
.search-box .rare-clear::before
{
	content: "リセット";
}
.search-box .awoken-clear::before,
.search-box .sawoken-clear::before,
.special-div .special-clear::before,
.dialog-dungeon-enchance .dialog-clear::before
{
	content: "クリア";
}
.search-box .awoken-div .all-awokens::before{
	content: "▼覚醒";
}
.search-box .sawoken-detail summary::before{
	content: "超覚醒（OR）";
}
.search-box .special-div::before{
	content: "▼特別な検索";
}
.search-box .fast-switch::before {
    content: "クイックスイッチ:";
}
label[for="can-assist"]::after{
	content: "アシスト可能";
}
label[for="can-level-limit-breakthrough"]::after
{
	content: "レベル限界突破可能";
}
label[for="have-8-latent-slot"]::after
{
	content: "8格潜在覚醒";
}
label[for="box-have"]::after
{
	content: "ケースに所有することを強調します";
}
.special-div .special-add::before {
	content: "➕";
}
.special-div .special-star::before {
	content: "☆";
}
.special-div .special-star.marked::before {
	content: "★";
}
.control-div .search-start::before{
	content: "🔍検索の開始";
}
.control-div .search-clear::before{
	content: "検索を空にする";
}
.control-div .search-close::before{
	content: "検索を閉じる";
}
.control-div .search-share::before{
	content: "検索を分け合う";
}
.dialog-search-string .dialog-title::before
{
	content: "タグで検索";
}
.dialog-close::before,
.mask-close::before
{
	content: "閉じる";
}
.dialog .dialog-content .additional-string::before
{
	content: "他の言語";
}
.open-evolutionary-tree::before
{
	content: "⛓️進化サーチ";
}
.search-evolution-by-this::after
{
	content: "このカードを進化的な素材として必要とするカード";
}
.real-time-change-card-label::after
{
	content: "カードを即座に更新します";
}
.base .evo-type::before,
.base .evo-type::after
{
	content: "ベース";
}
.evolution .evo-type::before,
.evolution .evo-type::after
{
	content: "進化";
}
.ult-evo .evo-type::before,
.ult-evo .evo-type::after
{
	content: "究極進化";
}
.reincarnation .evo-type::before,
.reincarnation .evo-type::after
{
	content: "転生進化";
}
.pixel-evo .evo-type::before,
.pixel-evo .evo-type::after
{
	content: "ドット進化";
}
.assist-evo .evo-type::before,
.assist-evo .evo-type::after
{
	content: "アシスト進化";
}
.super-reincarnation .evo-type::before,
.super-reincarnation .evo-type::after
{
	content: "超転生進化";
}
.super-ult-evo .evo-type::before,
.super-ult-evo .evo-type::after
{
	content: "超究極進化";
}
.pixel-evo .evo-type
{
	transform: scaleX(0.90);
	margin: calc(-100px * (1 - 0.90) / 2);
}
.assist-evo .evo-type
{
	transform: scaleX(0.80);
	margin: calc(-100px * (1 - 0.80) / 2);
}
.henshin .evo-type::before,
.henshin .evo-type::after
{
	content: "変身";
}
.random-henshin .evo-type::before,
.random-henshin .evo-type::after
{
	content: "ランダムで変身";
}
.random-henshin .evo-type
{
	transform: scaleX(0.70);
	margin: calc(-100px * (1 - 0.70) / 2);
}
.henshin-loop .evo-type::before,
.henshin-loop .evo-type::after
{
	content: "ループ変身";
}

.control-box .btn-qrcode::before{
	content: "\f029 QRコード";
}

.read-qr-box::before
{
	content: "QRコードを読み取る:";
}
.save-qr-box::before
{
	content: "QRコードを生成します:";
}

.formation-from-string::before
{
	content: "文字列から読み取られた列リンク";
}
label[for="sourceSelect"]::before
{
	content: "ビデオ ソースの選択:";
}
#qr-code-frame .save-qr-img::before
{
	content: "\f0c7 QRコードイメージを保存";
}
#qr-code-frame .read-qr-camera::before
{
	content: "\f030 カメラでスキャンする";
}
#qr-code-frame .read-qr-camera.running::before
{
	content: "\f28d  カメラの使用を停止します";
}
#qr-code-frame .read-qr-file::before
{
	content: "\f1c5 画像ファイルを読み取る";
}
#qr-code-frame .read-string::before {
	content: "\f891 文字列を読み取ります";
}

label[for="qr-data-type-pdf"]::before
{
	content: "パズドラダッシュフォーメーション";
}
label[for="qr-data-type-pdc"]::before
{
	content: "パズドラダメージ計算 (PDC)";
}
label[for="qr-data-type-pdchu"]::before {
	content: "Valeria(pdchu)";
}
.btn-set-dungeon-enchance::before
{
	content: "\f6d9 ダンジョン強化";
}
.dialog-dungeon-enchance .dialog-title::before
{
	content: "ダンジョン強化倍率設定";
}
.dialog-dungeon-enchance .dialog-confirm::before
{
	content: "確認";
}
.dialog-dungeon-enchance .rare-list::before
{
	content: "有効な希少性:";
}
.dialog-dungeon-enchance .attr-list::before
{
	content: "有効な属性：";
}
.dialog-dungeon-enchance .type-list::before
{
	content: "有効なタイプ：";
}
.dialog-dungeon-enchance .collab-list::before
{
	content: "有効コラボID：";
}
.dialog-dungeon-enchance .stats-list::before
{
	content: "強化倍率：";
}

#player-data-frame .player-box-title::before
{
	content: "\f2bd\A プレイヤー データ";
}
#player-data-frame .how-to-use::before
{
	content: "📕使い方";
}
#player-data-frame .upload-data::before
{
	content: "\f07c データを開きます";
}
.player-card .set-default::before
{
	content: "\f468\A データをバインド";
}
.player-card .open-show-box::before
{
	content: "\f468\A Box データを表示";
}
.player-card .lvexp::before
{
	content: "EXP";
}
.player-card .lvexp .level::before
{
	content: "ランク";
	transform: scaleX(0.7);
	margin: calc(-46px * (1 - 0.7) / 2);
}
.player-card .stama::before
{
	content: "スタミナ";
	transform: scaleX(0.7);
	margin: calc(-64px * (1 - 0.7) / 2);
	width: 64px;
}