@charset "utf-8";
.status.loading-check-version .text::before{
	content: "데이터 버전을 확인 합니다.";
}
.status.loading-mon-info .text::before{
	content: "몬스터 데이터를 로드 하 고 있습니다.";
}
.status.loading-skill-info .text::before{
	content: "기술 데이터를 로드 하 고 있습니다.";
}
.status.prepare-cauture .text::before{
	content: "스크린 샷을 준비 하 고 있습니다.";
}
.delay .monster::before{
	content: "지 연\A방 지";
}
.monster .level.max::before{
	content: "Lv.최대";
}
.monster .level::before{
	content: "Lv.";
}
.monster .id::before{
	content: "No.";
}
.team-1 .team-box-name::after,
.team-1 .team-box-name::before
{
	content: "팀\A A";
}
.team-2 .team-box-name::after,
.team-2 .team-box-name::before
{
	content: "팀\A B";
}
.team-3 .team-box-name::after,
.team-3 .team-box-name::before
{
	content: "팀\A C";
}
.team-box .team-assist .member::after
{
	content: "▼돕다";
}
.team-box .team-assist .member::before
{
	content: "▲돕다";
}
.abilitys .hp::before{
	content: "HP：";
}
.abilitys .atk::before{
	content: "공격:";
}
.abilitys .rcv::before{
	content: "회복:";
}
.edit-box .edit-box-title::before{
	content: "회원 수정";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "보조 수정";
}
.edit-box .setting-box .row-mon-id::before{
	content: "▼몬스터 ID";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.monsterinfo-box .monster-cost::before{
	content: "코스트:";
}
.monsterinfo-box .monster-seriesId::before{
	content: "시리즈 ID：";
}
.monsterinfo-box .monster-collabId::before{
	content: "콜라보 ID:";
}
.monsterinfo-box .monster-altName::before{
	content: "대체 이름：";
}
.m-level-exp::before{
	content: "필요한 Exp:";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼몬스터 각성";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼몬스터 슈퍼 각성";
}

.edit-box .setting-box .row-mon-ability::before{
	content: "▼몬스터 능력";
}
.edit-box .setting-box .row-mon-plus::before{
	content: "▼몬스터 플러스";
}
.row-mon-ability .m-hp-li::before{
	content: "HP:";
}
.row-mon-ability .m-atk-li::before{
	content: "공격:";
}
.row-mon-ability .m-rcv-li::before{
	content: "회복:";
}

.edit-box .setting-box .row-mon-level::before{
	content: "▼몬스터 레벨";
}
.row-mon-level .level-value::before,
.row-mon-level .m-level-btn-min::before,
.row-mon-level .m-level-btn-max::before,
.row-mon-level .m-level-btn-110::before
{
	content: "Lv.";
}
.edit-box .setting-box .row-mon-latent::before{
	content: "▼몬스터 숨어있는";
}
.edit-box .setting-box .hide-less-use-latent-label::after{
	content: "덜 사용되는 숨어있는 숨기기";
}

.skill-box .skill-cd::before{
	content: "턴:";
}
.skill-box .skill-level-label::before{
	content: "Lv.";
}
.row-mon-skill .type-title::before,
.row-mon-skill .type-title::after
{
	content: "스킬";
}
.row-mon-leader-skill .type-title::before,
.row-mon-leader-skill .type-title::after
{
	content: "리더스킬";
}

.edit-box .button-box .button-null::after{
	content: "비워 둡니다";
}
.edit-box .button-box .button-delay::after{
	content: "지연 방지";
}
.edit-box .button-box .button-cancel::after{
	content: "편집 취소";
}
.edit-box .button-box .button-done::after{
	content: "수정 확인";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "협조 할 수 없음";
}
.team-awoken::before{
	content: "팀 각성:";
}
.formation-awoken::before{
	content: "총 각성:";
}
.type-name[data-type-name='4']::after{
	content: "드래곤";
}
.type-name[data-type-name='5']::after{
	content: "신";
}
.type-name[data-type-name='7']::after{
	content: "악마";
}
.type-name[data-type-name='8']::after{
	content: "머신";
}
.type-name[data-type-name='1']::after{
	content: "밸런스";
}
.type-name[data-type-name='6']::after{
	content: "공격";
}
.type-name[data-type-name='2']::after{
	content: "체력";
}
.type-name[data-type-name='3']::after{
	content: "회복";
}
.type-name[data-type-name='0']::after{
	content: "진화용";
}
.type-name[data-type-name='12']::after{
	content: "능력각성";
}
.type-name[data-type-name='14']::after{
	content: "강화합성용";
}
.type-name[data-type-name='15']::after{
	content: "매각용";
}
.type-name[data-type-name='9']::after{
	content: "특별 보호";
}
.control-box .datasource-label::before{
	content: "데이터 소스:";
}
.control-box .datasource-updatetime::before{
	content: "업데이트 시간:";
}
.control-box .btn-solo-link::before{
	content: "🧑1인 모드 이동";
}
.control-box .btn-multi-link::before{
	content: "🧑‍🤝‍🧑2인 모드 이동";
}
.control-box .btn-triple-link::before{
	content: "👪3인 모드 이동";
}
.control-box .btn-guide-link::before{
	content: "📓사진 모드";
}
.control-box .btn-clear-data::before{
	content: "🗑️데이터 지우기";
}
.control-box .btn-capture::before{
	content: "📷스크린샷";
}
.control-box .btn-swap-AB-team::before{
	content: "🔄교환 AB 팀";
}
.control-box .btn-swap-AB-team::before{
	content: "🔄로테이션 AB 팀";
}
.control-box .show-mon-id-lbl::after{
	content:"🆔몬스터 ID 표시";
}
.control-box .btn-show-mon-skill-cd-lbl::after{
	content:"❄️전체 스킬 쿨을 표시";
}
.control-box .btn-show-awoken-count-lbl::after{
	content:"⚔️각성 통계 및 기능 값 표시";
}
.control-box .change-swap-to-copy-lbl::after{
	content:"드래그할 때 \"바꾸기\"를 \"복사\"로 변경";
}

.team-total-info .tIf-total-hp::before{
	content: "팀 HP(팀 각성 및 배지):";
}
.team-total-info .tIf-total-rcv::before{
	content: "팀 회복(팀 각성 및 배지):";
}
.formation-total-info .tIf-total-hp::before{
	content: "총 HP(팀 각성)：";
}
.formation-total-info .tIf-total-rcv::before{
	content: "총 회복(팀 각성)：";
}

.setting-box .row-mon-id .open-search::before{
	content: "간단한 검색";
}
.search-box::before{
	content: "몬스터 검색";
}
.search-box .attrs .attr-list-1::before{
	content: "속성 1:";
}
.search-box .attrs .attr-list-2::before{
	content: "속성 1:";
}
.search-box .attrs .fix-main-color-label::after{
	content: "제한 속성 1은 기본 속성 이며 속성 2 하위 속성입니다.";
}
.search-box .consider-equivalent-awoken-label::after{
	content: "동시에 해당 경계를 각성";
}
.search-box .can-assist-label::after{
	content: "지원 할 수 있습니다";
}
.search-box .include-super-awoken-label::after{
	content: "슈퍼 각성 포함";
}
.search-box .sort-div::before{
	content: "정렬:";
}
.search-box .sort-reverse-label::after{
	content: "양의";
}
.search-box input:checked+ .sort-reverse-label::after{
	content: "역순";
}
.search-box .show-awoken-label::after{
	content: "각성 목록 표시(성능 소비)";
}
.attrs .attr-all::before{
	content: "무제한";
}
.attrs .attr-none::before{
	content: "없음";
}
.search-box .types-div::before{
	content: "형식:";
}
.search-box .awoken-div::before{
	content: "▼각성（AND）（번째:숫자를 누르면 숫자가 낮아집니다）";
}
.search-box .sawoken-div::before{
	content: "▼슈퍼 각성（OR）";
}
.control-div .search-start::before{
	content: "🔍검색 시작";
}
.control-div .search-clear::before{
	content: "검색을 비우려면";
}
.control-div .search-close::before{
	content: "찾기 닫기";
}
/*Some icons, style different from the Japanese version*/
.awoken-icon[data-awoken-icon='40'],
.awoken-icon[data-awoken-icon='46'],
.awoken-icon[data-awoken-icon='47'],
.awoken-icon[data-awoken-icon='48'],
.type-icon[data-type-icon='12'],
.type-icon[data-type-icon='9']
{
	background-position-x: -32px;
}
.latent-icon[data-latent-icon='17']::before,
.latent-icon[data-latent-icon='38']::before
{
	background-position-x: -252px;
}
.badge[data-badge-icon='0']::before,
.badge[data-badge-icon='2']::before
{
	background-position-x: -36px;
}