@charset "utf-8";
@import "zh.css";
.edit-box .monsterinfo-box .monster-name,
.edit-box .skill-box .skill-datail
{
	font-family: "Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.search-box .control-div .specialSearch-clear {
	float: right;
	font-size: unset;
	padding: 0;
}
.search-box .control-div .specialSearch-clear::before {
    content: "❌";
}
.specialSearch {
	display: block;
}