@charset "utf-8";
label[for="languages"]::after{
	content: "語言：";
}
.help-link::before{
	content: "\f05a 幫助和提示";
}
.feedback-link::before{
	content: "\f4ad 反饋";
}
.monster.delay::before{
	content: "應 對\A威 嚇";
}
.monster .level.max::after{
	content: "最大";
}
.team-box-name .box-name::before
{
	content: "隊伍";
}
.team-assist-label .assist-label::after
{
	content: "輔助";
}

.search-mon-list .index-preview::before
{
	content: "加權:";
}
.edit-box .edit-box-title::before{
	content: "修改隊員";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "修改輔助";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.monsterinfo-box .monster-seriesId::before{
	content: "系列ID：";
}
.monsterinfo-box .monster-collabId::before{
	content: "合作ID：";
}
.monsterinfo-box .monster-gachaId::before{
	content: "抽蛋ID：";
}
.monsterinfo-box .monster-altName::before{
	content: "標簽";
}
.m-level-exp::before{
	content: "需要經驗值：";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼覺醒";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼超覺醒";
}

.row-mon-ability .m-hp-li::before,
#dialog-dungeon-enchance label[for="dungeon-hp"]::before
{
	content: "HP:";
}
.row-mon-ability .m-atk-li::before,
#dialog-dungeon-enchance label[for="dungeon-atk"]::before
{
	content: "攻撃:";
}
.row-mon-ability .m-rcv-li::before,
#dialog-dungeon-enchance label[for="dungeon-rcv"]::before
{
	content: "回復:";
}
.edit-box .setting-box .monster-cost::before{
	content: "消耗:";
}
.edit-box .setting-box .row-mon-latent details>summary::before{
	content: "潛在覺醒";
}

.skill-box .skill-cd::before,
.search-mon-list .cd-preview::before
{
	content: "回合:";
}
.skill-box .skill-level-label::before{
	content: "Lv.";
}
.row-mon-skill .type-title::before,
.row-mon-skill .type-title::after
{
	content: "主動技能";
}
.row-mon-skill .evolved-skill .type-title::before,
.row-mon-skill .evolved-skill .type-title::after
{
	content: "進化技能";
}
.row-mon-leader-skill .type-title::before,
.row-mon-leader-skill .type-title::after
{
	content: "隊長技能";
}
label[for="show-skill-original"]::after{
	content: "技能原文";
}
label[for="merge-skill"]::after{
	content: "合并技能";
}

.edit-box .button-box .button-null::after{
	content: "留空格子";
}
.edit-box .button-box .button-delay::after{
	content: "應對威嚇";
}
.edit-box .button-box .button-cancel::after{
	content: "取消修改";
}
.edit-box .button-box .button-done::after{
	content: "確認修改";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "不能輔助";
}
.edit-box .button-box .button-done.only-assist::after{
	content: "只能輔助";
}
.team-awoken-effect::before{
	content: "隊伍覺醒效果：";
}
.team-awoken::before{
	content: "隊伍覺醒總計：";
}
.formation-awoken::before{
	content: "陣型覺醒總計：";
}
.type-name[data-type-name='4']::after{
	content: "龍";
}
.type-name[data-type-name='5']::after{
	content: "神";
}
.type-name[data-type-name='7']::after{
	content: "惡魔";
}
.type-name[data-type-name='8']::after{
	content: "機械";
}
.type-name[data-type-name='1']::after{
	content: "平衡";
}
.type-name[data-type-name='6']::after{
	content: "攻撃";
}
.type-name[data-type-name='2']::after{
	content: "體力";
}
.type-name[data-type-name='3']::after{
	content: "回復";
}
.type-name[data-type-name='0']::after{
	content: "進化用";
}
.type-name[data-type-name='12']::after{
	content: "能力覺醒用";
}
.type-name[data-type-name='14']::after{
	content: "強化合成用";
}
.type-name[data-type-name='15']::after{
	content: "販賣用";
}
.type-name[data-type-name='9']::after{
	content: "特別保護";
}
.control-box .datasource-label::before{
	content: "🕹️數據來源：";
}
.control-box .datasource-updatetime::before{
	content: "🗓️更新時間：";
}
.control-box .btn-solo-link::before{
	content: "🧑轉到單人遊戲";
}
.control-box .btn-multi-link::before{
	content: "🧑‍🤝‍🧑轉到2人車隊";
}
.control-box .btn-triple-link::before{
	content: "👪轉到2人協力";
}
.control-box .btn-guide-link::before{
	content: "📓圖鑒模式";
}
.control-box .btn-clear-data::before{
	content: "🗑️清除數據";
}
#draw-screenshot::before{
	content: "📷繪製截圖";
}
label[for="screenshot-transparent"]::after{
	content: "透明";
}
.control-box .btn-player-data::before{
	content: "📦我的箱子";
}

.control-box .btn-swap-AB-team::before{
	content: "🔄交換AB隊";
}
.control-box .btn-swap-ABC-team::before{
	content: "🔄輪換ABC隊";
}
.control-box .lbl-henshin-change::before{
	content: "🦸變身";
}
.control-box .lbl-remove-assist::before{
	content: "⛔解除輔助";
}
.control-box .config-display-list summary::before{
	content:"展示信息開關列表";
}
label[for="show-card-id"]::after{
	content:"卡片ID";
}
label[for="show-card-rarity"]::after{
	content:"卡片稀有度";
}
label[for="show-member-level"]::after{
	content:"隊員等級";
}
label[for="show-member-plus-point"]::after{
	content:"隊員加值";
}
label[for="show-member-awoken-count"]::after{
	content:"隊員覺醒數量角標";
}
label[for="show-member-skill-cd"]::after{
	content:"隊員技能冷卻";
}
label[for="show-member-ability"]::after{
	content:"隊員能力值";
}
label[for="show-member-types"]::after{
	content:"隊員類型";
}
label[for="show-member-awoken"]::after{
	content:"隊員覺醒列表";
}
label[for="show-team-total-info"]::after{
	content:"隊伍生命值等信息統計";
}
label[for="show-team-awoken-count"]::after{
	content:"隊伍覺醒計數";
}
label[for="show-team-awoken-effect"]::after{
	content:"隊伍覺醒效果計算";
}
label[for="show-meter"]::after{
	content:"顯示為計量條";
}
label[for="show-team-attrtype-count"]::after{
	content:"隊伍稀有度、屬性與類型計數";
}
label[for="change-swap-to-copy"]::after{
	content:"拖拽時使用“複製”（或按住 Ctrl）";
}
label[for="default-level"]::after
{
	content: "默認等級：";
}
label[for="show-rich-text-tools"]::after{
	content:"富文本工具欄";
}

.tIf-total-move .general::after,
.tIf-total-move .awoken-bind::after
{
	content: " 秒";
}

#dialog-hp-detail .dialog-title::before
{
	content: "HP 階段減傷詳情";
}
.hp-range-table .hp-range th::before
{
	content: "HP 範圍";
}
.hp-range-table .reduce-scale .reduce-probability:before
{
	content: "幾率 ";
}
.hp-range-table caption::before
{
	content: "全屬性敵人";
}
.hp-range-table[data-attr="0"] caption::before
{
	content: "火屬性敵人";
}
.hp-range-table[data-attr="1"] caption::before
{
	content: "水屬性敵人";
}
.hp-range-table[data-attr="2"] caption::before
{
	content: "木屬性敵人";
}
.hp-range-table[data-attr="3"] caption::before
{
	content: "光屬性敵人";
}
.hp-range-table[data-attr="4"] caption::before
{
	content: "暗屬性敵人";
}

.search-box>summary::after{
	content: "🔎搜索怪物";
}
label[for="fix-main-color"]::after{
	content: "強制屬性順序與選擇順序一致";
}
.search-box label[for="consider-equivalent-awoken"]::after{
	content: "同時搜索等效覺醒";
}
.search-box label[for="include-super-awoken"]::after{
	content: "包括超覺醒";
}
.search-box label[for="show-official-awoken-sorting"]::after{
	content: "使用官方覺醒排序";
}
.search-box .search-list-length::before{
	content: "結果數量：";
}
.search-box .sort-div::before{
	content: "排序：";
}
.search-box label[for="sort-reverse"]::after{
	content: "逆序";
}
.search-box .additional-div::before{
	content: "附加顯示：";
}
.search-box label[for="add-show-awoken"]::after{
	content: "覺醒清單";
}
.search-box label[for="add-show-CD"]::after{
	content: "技能回合";
}
.search-box label[for="add-show-abilities"]::after{
	content: "能力值";
}
.search-box label[for="add-show-abilities-with-awoken"]::after{
	content: "能力值（+覺醒）";
}
.attrs-div .attr[data-attr-icon='-1']::before{
	content: "無";
}
.search-box .types-div::before{
	content: "類型：";
}
.search-box .rare-div::before{
	content: "稀有（OR）：";
}
.search-box .awoken-option::before{
	content: "▼觉醒（AND）";
}
.search-box .rare-clear::before,
#dialog-dungeon-enchance .dialog-clear::before
{
	content: "重置";
}
.search-box .awoken-clear::before,
.search-box .sawoken-clear::before,
.special-div .special-clear::before,
#attr-clear::before
{
	content: "清除";
}
.search-box .awoken-div .all-awokens::before{
	content: "▼覺醒";
}
.search-box .sawoken-detail summary::before{
	content: "超覺醒（OR）";
}
.search-box .special-div::before{
	content: "▼特殊搜索";
}
.search-box .fast-switch::before {
    content: "快速開關：";
}
label[for="can-assist"]::after{
	content: "可以作爲輔助";
}
label[for="can-level-limit-breakthrough"]::after
{
	content: "可以突破等級上限";
}
label[for="have-8-latent-slot"]::after
{
	content: "有8格潛覺";
}
label[for="not-weapon"]::after
{
	content: "不是武器";
}
label[for="box-have"]::after
{
	content: "强調箱子擁有";
}
.special-div .special-add::before {
	content: "➕";
}
.special-div .special-star::before {
	content: "☆";
}
.special-div .special-star.marked::before {
	content: "★";
}
.control-div .search-start::before{
	content: "🔍開始搜索";
}
.control-div .search-clear::before{
	content: "清空搜索";
}
.control-div .search-close::before{
	content: "關閉搜索";
}
.control-div .search-share::before{
	content: "分享搜索";
}
#dialog-search-string .dialog-title::before
{
	content: "以標簽搜索";
}
.dialog-close::after,
.mask-close::after
{
	content: "關閉";
}
.dialog .dialog-content .additional-string::before
{
	content: "其他語言";
}
.search-evolution-by-this::after
{
	content: "需要此寵物作為進化素材的寵物";
}
label[for="real-time-change-card"]::after
{
	content: "即時更新卡片";
}
.base .evo-type::before,
.base .evo-type::after
{
	content: "基礎";
}
.evolution .evo-type::before,
.evolution .evo-type::after
{
	content: "進化";
}
.ult-evo .evo-type::before,
.ult-evo .evo-type::after
{
	content: "究極進化";
}
.reincarnation .evo-type::before,
.reincarnation .evo-type::after
{
	content: "轉生進化";
}
.pixel-evo .evo-type::before,
.pixel-evo .evo-type::after
{
	content: "像素進化";
}
.assist-evo .evo-type::before,
.assist-evo .evo-type::after
{
	content: "輔助進化";
}
.super-reincarnation .evo-type::before,
.super-reincarnation .evo-type::after
{
	content: "超轉生進化";
}
.super-ult-evo .evo-type::before,
.super-ult-evo .evo-type::after
{
	content: "超究極進化";
}
.ordeal-evo .evo-type::before,
.ordeal-evo .evo-type::after
{
	content: "試練進化";
}
.henshin .evo-type::before,
.henshin .evo-type::after
{
	content: "變身";
}
.random-henshin .evo-type::before,
.random-henshin .evo-type::after
{
	content: "隨機変身";
}
.henshin-loop .evo-type::before,
.henshin-loop .evo-type::after
{
	content: "循環變身";
}

.control-box .btn-qrcode::after{
	content: "二維碼 和 數據交換";
}

.read-qr-box::before
{
	content: "讀取二維碼：";
}
.save-qr-box::before
{
	content: "生成二維碼：";
}

.read-qr-box .result-code::before {
	content: "代碼 ";
}
.read-qr-box .result-code.error::before {
	content: "錯誤 ";
}
.formation-link-from-string>a:empty::before
{
	content: "從字串中讀取的隊伍連結";
}
label[for="sourceSelect"]::before
{
	content: "視頻源選擇：";
}
#qr-code-frame .save-qr-img::after
{
	content: "保存二維碼圖片";
}
#qr-code-frame .read-qr-camera::after
{
	content: "使用相機掃描";
}
#qr-code-frame .read-qr-camera.running::after
{
	content: "停止使用相機";
}
#qr-code-frame .read-qr-file::after
{
	content: "讀取二維碼圖片";
}
#qr-code-frame .read-string::after {
	content: "读取字符串";
}

#qr-code-frame .paddb-team-edit::before
{
	content: "將隊伍數據上傳至 PADDB：";
}
label[for="paddb-username"]::before
{
	content: "PADDB 用戶名：";
}
label[for="paddb-password"]::before
{
	content: "PADDB 密碼：";
}
label[for="paddb-team-id"]::before
{
	content: "PADDB 隊伍鏈接：";
}
#paddb-save-or-upload-team::before
{
	content: "保存";
}
#paddb-team-id:placeholder-shown+#paddb-save-or-upload-team::before {
	content: "上傳新隊伍";
}
body:not(.external-link-support) #external-support::after
{
	content: "安裝輔助腳本以使用 PADDB/SANBON 相關功能";
}

#qr-code-frame .sanbon-team-edit::before
{
	content: "將隊伍數據上傳至 sanbon.me：";
}
label[for="sanbon-team-id"]::before
{
	content: "sanbon.me 隊伍鏈接：";
}
#sanbon-save-or-upload-team::before {
	content: "上傳新隊伍";
}

label[for="qr-data-type-pdf"]::before
{
	content: "龍圖急速陣型";
}
label[for="qr-data-type-pdc"]::before
{
	content: "龍族拼圖傷害計算器 (PDC)";
}
label[for="qr-data-type-daddb"]::before
{
	content: "DADDB";
}
label[for="qr-data-type-sanbon-v1"]::before {
	content: "Sanbon v1 網址";
}
label[for="qr-data-type-paddb"]::before
{
	content: "PADDB (僅單人)";
}
#btn-set-dungeon-enchance::after
{
	content: "地下城强化";
}
#dialog-dungeon-enchance .dialog-title::before
{
	content: "地下城強化倍率設定";
}
.dialog-confirm::before
{
	content: "確認";
}
#dialog-dungeon-enchance .rare-list::before
{
	content: "生效稀有度：";
}
#dialog-dungeon-enchance .attr-list::before
{
	content: "生效属性：";
}
#dialog-dungeon-enchance .type-list::before
{
	content: "生效類型：";
}
#dialog-dungeon-enchance .collab-list::before
{
	content: "生效合作ID：";
}
#dialog-dungeon-enchance .gacha-list::before
{
	content: "生效抽蛋ID：";
}
#dialog-dungeon-enchance .benefit-list::before
{
	content: "生效陰陽：";
}
#dialog-dungeon-enchance .current-stage-list::before
{
	content: "当前層数：";
}
#dialog-dungeon-enchance .collab-list::after,
#dialog-dungeon-enchance .gacha-list::after
{
	content: "（使用“,”分隔多個ID）";
}
#dialog-dungeon-enchance .stats-list::before
{
	content: "強化倍率：";
}

#player-data-frame .player-box-title::after
{
	content: "玩家數據";
}
#player-data-frame .how-to-use::after
{
	content: "如何使用";
}
#player-data-frame .upload-data::after
{
	content: "打開數據";
}
.player-card .set-default::after
{
	content: "綁定數據";
}
.player-card .open-show-box::after
{
	content: "顯示箱子數據";
}
.player-card .lvexp::before
{
	content: "EXP";
}
.player-card .lvexp .level::before
{
	content: "等級";
}
.player-card .stama::before
{
	content: "體力";
}


.edit-box .monsterinfo-box .monster-name,
.evo-panel-right .monster-name
{
	font-family: var(--font-family);
	font-weight: bold;
}