@charset "utf-8";
@import "icon-zh.css";
.status.loading-check-version .text::before{
	content: "正在檢查数据版本，請稍候……";
}
.status.loading-mon-info .text::before{
	content: "正在載入怪物數據，請稍候……";
}
.status.loading-skill-info .text::before{
	content: "正在載入技能数据，请稍候……";
}
.status.prepare-cauture .text::before{
	content: "正在准備截圖，請稍後……";
}
.help-link::before{
	content: "ℹ️幫助和提示";
}
.delay .monster::before{
	content: "應 對\A威 嚇";
}
.monster .level.max::before{
	content: "Lv.最大";
}
.monster .level::before{
	content: "Lv.";
}
.monster .id::before{
	content: "No.";
}
.team-1 .team-box-name::after,
.team-1 .team-box-name::before
{
	content: "隊伍\A A";
}
.team-2 .team-box-name::after,
.team-2 .team-box-name::before
{
	content: "隊伍\A B";
}
.team-3 .team-box-name::after,
.team-3 .team-box-name::before
{
	content: "隊伍\A C";
}
.team-box .team-assist .member::after
{
	content: "▼輔助";
}
.team-box .team-assist .member::before
{
	content: "▲輔助";
}
.abilitys .hp::before,
.search-mon-list .hp-preview::before
{
	content: "HP：";
}
.abilitys .atk::before,
.search-mon-list .atk-preview::before
{
	content: "攻擊：";
}
.abilitys .rcv::before,
.search-mon-list .rcv-preview::before
{
	content: "回復：";
}
.search-mon-list .index-preview::before
{
	content: "加權:";
}
.edit-box .edit-box-title::before{
	content: "修改隊員";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "修改輔助";
}
.edit-box .setting-box .row-mon-id::before{
	content: "▼怪物ID";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.monsterinfo-box .monster-seriesId::before{
	content: "系列ID：";
}
.monsterinfo-box .monster-collabId::before{
	content: "合作ID：";
}
.monsterinfo-box .monster-altName::before{
	content: "標簽";
}
.m-level-exp::before{
	content: "需要經驗值：";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼怪物覺醒";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼超覺醒";
}

.edit-box .setting-box .row-mon-ability::before{
	content: "▼怪物能力";
}
.edit-box .setting-box .row-mon-plus::before{
	content: "▼怪物加值";
}
.row-mon-ability .m-hp-li::before{
	content: "HP:";
}
.row-mon-ability .m-atk-li::before{
	content: "攻撃:";
}
.row-mon-ability .m-rcv-li::before{
	content: "回復:";
}

.edit-box .setting-box .row-mon-level::before{
	content: "▼怪物等級";
}
.edit-box .setting-box .monster-cost::before{
	content: "消耗:";
}
.edit-box .setting-box .row-mon-latent::before{
	content: "▼潛在覺醒";
}
.edit-box .setting-box .hide-less-use-latent-label::after{
	content: "隱藏少用的潛覺";
}

.skill-box .skill-cd::before,
.search-mon-list .cd-preview::before
{
	content: "回合:";
}
.skill-box .skill-level-label::before{
	content: "Lv.";
}
.row-mon-skill .type-title::before,
.row-mon-skill .type-title::after
{
	content: "主動技能";
}
.row-mon-leader-skill .type-title::before,
.row-mon-leader-skill .type-title::after
{
	content: "隊長技能";
}
label[for="show-skill-original"]::after{
	content: "技能原文";
}
label[for="merge-skill"]::after{
	content: "合并技能";
}

.edit-box .button-box .button-null::after{
	content: "留空格子";
}
.edit-box .button-box .button-delay::after{
	content: "應對威嚇";
}
.edit-box .button-box .button-cancel::after{
	content: "取消修改";
}
.edit-box .button-box .button-done::after{
	content: "確認修改";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "不能輔助";
}
.team-awoken::before{
	content: "隊伍覺醒總計：";
}
.formation-awoken::before{
	content: "陣型覺醒總計：";
}
.type-name[data-type-name='4']::after{
	content: "龍";
}
.type-name[data-type-name='5']::after{
	content: "神";
}
.type-name[data-type-name='7']::after{
	content: "惡魔";
}
.type-name[data-type-name='8']::after{
	content: "機械";
}
.type-name[data-type-name='1']::after{
	content: "平衡";
}
.type-name[data-type-name='6']::after{
	content: "攻撃";
}
.type-name[data-type-name='2']::after{
	content: "體力";
}
.type-name[data-type-name='3']::after{
	content: "回復";
}
.type-name[data-type-name='0']::after{
	content: "進化用";
}
.type-name[data-type-name='12']::after{
	content: "能力覺醒用";
}
.type-name[data-type-name='14']::after{
	content: "強化合成用";
}
.type-name[data-type-name='15']::after{
	content: "販賣用";
}
.type-name[data-type-name='9']::after{
	content: "特別保護";
}
.control-box .languages-label::before{
	content: "🌐語言：";
}
.control-box .datasource-label::before{
	content: "🕹️數據來源：";
}
.control-box .datasource-updatetime::before{
	content: "⌚更新時間：";
}
.control-box .btn-solo-link::before{
	content: "🧑轉到單人遊戲";
}
.control-box .btn-multi-link::before{
	content: "🧑‍🤝‍🧑轉到2人車隊";
}
.control-box .btn-triple-link::before{
	content: "👪轉到2人協力";
}
.control-box .btn-guide-link::before{
	content: "📓圖鑒模式";
}
.control-box .btn-clear-data::before{
	content: "🗑️清除數據";
}
.control-box .btn-capture::before{
	content: "📷截圖";
}
.control-box .btn-swap-AB-team::before{
	content: "🔄交換AB隊";
}
.control-box .btn-swap-ABC-team::before{
	content: "🔄輪換ABC隊";
}
.control-box .lbl-henshin-change::before{
	content: "🕴️變身";
}
.control-box .show-mon-id-lbl::after{
	content:"🆔顯示怪物ID";
}
.control-box .btn-show-mon-skill-cd-lbl::after{
	content:"❄️顯示已滿技能冷卻";
}
.control-box .btn-show-mon-awoken-lbl::after{
	content:"👁顯示卡片覺醒";
}
.control-box .btn-show-awoken-count-lbl::after{
	content:"⚔️顯示覺醒統計和能力值";
}
.control-box .change-swap-to-copy-lbl::after{
	content:"拖拽時使用“複製”而不是“替換”";
}

.tIf-total-move .general::after,
.tIf-total-move .awoken-bind::after
{
	content: " 秒";
}

.dialog-hp-detail .dialog-title::before
{
	content: "HP 階段減傷詳情";
}
.hp-range-table .hp-range th::before
{
	content: "HP 範圍";
}
.hp-range-table .reduce-scale .reduce-probability:before
{
	content: "幾率 ";
}
.hp-range-table caption::before
{
	content: "全屬性敵人";
}
.hp-range-table[data-attr="0"] caption::before
{
	content: "火屬性敵人";
}
.hp-range-table[data-attr="1"] caption::before
{
	content: "水屬性敵人";
}
.hp-range-table[data-attr="2"] caption::before
{
	content: "木屬性敵人";
}
.hp-range-table[data-attr="3"] caption::before
{
	content: "光屬性敵人";
}
.hp-range-table[data-attr="4"] caption::before
{
	content: "暗屬性敵人";
}

.search-box::before{
	content: "搜索怪物";
}
.search-box .attrs-div .attr-list-1::before{
	content: "屬性 1：";
}
.search-box .attrs-div .attr-list-2::before{
	content: "屬性 2：";
}
.search-box .attrs-div .fix-main-color-label::after{
	content: "限制屬性 1 爲主屬性，屬性 2 爲副屬性";
}
.search-box .consider-equivalent-awoken-label::after{
	content: "同時搜索等效覺醒";
}
.search-box .can-assist-label::after{
	content: "可以作爲輔助";
}
.search-box .include-super-awoken-label::after{
	content: "包括超覺醒";
}
.search-box .show-official-awoken-sorting-label::after{
	content: "使用官方覺醒排序";
}
.search-box .search-list-length::before{
	content: "結果數量：";
}
.search-box .sort-div::before{
	content: "排序：";
}
.search-box .sort-reverse-label::after{
	content: "順序";
}
.search-box input:checked+ .sort-reverse-label::after{
	content: "逆序";
}
.search-box .additional-div::before{
	content: "附加顯示：";
}
.search-box .add-show-awoken-label::after{
	content: "覺醒清單";
}
.search-box .add-show-CD-label::after{
	content: "技能回合";
}
.search-box .add-show-abilities-label::after{
	content: "能力值";
}
.search-box .add-show-abilities-with-awoken-label::after{
	content: "能力值（+覺醒）";
}
.attrs-div .attr[data-attr-icon='-1']::before{
	content: "無";
}
.search-box .types-div::before{
	content: "類型：";
}
.search-box .rare-div::before{
	content: "稀有（OR）：";
}
.search-box .awoken-option::before{
	content: "▼觉醒（AND）";
}
.search-box .rare-clear::before
{
	content: "重置";
}
.search-box .awoken-clear::before,
.search-box .sawoken-clear::before,
.special-div .special-clear::before
{
	content: "清除";
}
.search-box .awoken-div::before{
	content: "▼添加覺醒";
}
.search-box .sawoken-div::before{
	content: "▼超覺醒（OR）";
}
.search-box .special-div::before{
	content: "▼特殊搜索";
}
.special-div .special-add::before {
	content: "➕";
}
.control-div .search-start::before{
	content: "🔍開始搜索";
}
.control-div .search-clear::before{
	content: "清空搜索";
}
.control-div .search-close::before{
	content: "關閉搜索";
}
.dialog-search-string .dialog-title::before
{
	content: "以標簽搜索";
}
.dialog-close::before,
.mask-close::before
{
	content: "關閉";
}
.dialog .dialog-content .additional-string::before
{
	content: "其他語言";
}
.open-evolutionary-tree::before
{
	content: "⛓️進化鏈";
}
.search-evolution-by-this::after
{
	content: "需要此寵物作為進化素材的寵物";
}
.real-time-change-card-label::after
{
	content: "即時更新卡片";
}
.base .evo-type::before,
.base .evo-type::after
{
	content: "基礎";
}
.evolution .evo-type::before,
.evolution .evo-type::after
{
	content: "進化";
}
.ult-evo .evo-type::before,
.ult-evo .evo-type::after
{
	content: "究極進化";
}
.reincarnation .evo-type::before,
.reincarnation .evo-type::after
{
	content: "轉生進化";
}
.pixel-evo .evo-type::before,
.pixel-evo .evo-type::after
{
	content: "像素進化";
}
.assist-evo .evo-type::before,
.assist-evo .evo-type::after
{
	content: "輔助進化";
}
.super-reincarnation .evo-type::before,
.super-reincarnation .evo-type::after
{
	content: "超轉生進化";
}
.super-ult-evo .evo-type::before,
.super-ult-evo .evo-type::after
{
	content: "超究極進化";
}
.henshin .evo-type::before,
.henshin .evo-type::after
{
	content: "變身";
}
.henshin-loop .evo-type::before,
.henshin-loop .evo-type::after
{
	content: "循環變身";
}

.control-box .btn-qrcode::before{
	content: "\f029 二維碼";
}

.read-qr-box::before
{
	content: "讀取二維碼：";
}
.save-qr-box::before
{
	content: "生成二維碼：";
}

.formation-from-string::before
{
	content: "從字串中讀取的隊伍連結";
}
label[for="sourceSelect"]::before
{
	content: "視頻源選擇：";
}
#qr-code-frame .save-qr-img::before
{
	content: "\f0c7 保存二維碼圖片";
}
#qr-code-frame .read-qr-camera::before
{
	content: "\f030 使用相機掃描";
}
#qr-code-frame .read-qr-camera.running::before
{
	content: "\f28d  停止使用相機";
}
#qr-code-frame .read-qr-file::before
{
	content: "\f1c5 讀取二維碼圖片";
}
#qr-code-frame .read-string::before {
	content: "\f891 读取字符串";
}

label[for="qr-data-type-pdf"]::before
{
	content: "龍圖急速陣型";
}
label[for="qr-data-type-pdc"]::before
{
	content: "龍族拼圖傷害計算器(PDC)";
}
label[for="qr-data-type-pdchu"]::before {
	content: "Valeria(pdchu)";
}