@charset "utf-8";
.status.loading-mon-info .text::before{
	content: "正在載入怪物數據，請稍候……";
}
.status.loading-skill-info .text::before{
	content: "正在載入技能数据，请稍候……";
}
.status.prepare-cauture .text::before{
	content: "正在准備截圖，請稍後……";
}
.help-link::before{
	content: "幫助和提示";
}
.delay .monster::before{
	content: "應 對\A威 嚇";
}
.monster .level.max::before{
	content: "Lv.最大";
}
.monster .level::before{
	content: "Lv.";
}
.monster .id::before{
	content: "No.";
}
.team-1 .team-box-name::after,
.team-1 .team-box-name::before
{
	content: "隊伍\A A";
}
.team-2 .team-box-name::after,
.team-2 .team-box-name::before
{
	content: "隊伍\A B";
}
.team-3 .team-box-name::after,
.team-3 .team-box-name::before
{
	content: "隊伍\A C";
}
.team-box .team-assist .member::after
{
	content: "▼輔助";
}
.team-box .team-assist .member::before
{
	content: "▲輔助";
}
.abilitys .hp::before{
	content: "HP：";
}
.abilitys .atk::before{
	content: "攻擊：";
}
.abilitys .rcv::before{
	content: "回復：";
}
.edit-box .edit-box-title::before{
	content: "修改隊員";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "修改輔助";
}
.edit-box .setting-box .row-mon-id::before{
	content: "▼怪物ID";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.monsterinfo-box .monster-cost::before{
	content: "消耗:";
}
.monsterinfo-box .monster-collabId::before{
	content: "系列ID：";
}
.monsterinfo-box .monster-altName::before{
	content: "系列名称：";
}
.edit-box .setting-box .row-mon-level::before{
	content: "▼怪物等級";
}
.m-level-btn-min::before{
	content: "Lv.";
}
.m-level-btn-max::before{
	content: "最高Lv.";
}
.m-level-exp::before{
	content: "需要經驗值：";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼怪物覺醒";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼超覺醒";
}
.edit-box .setting-box .row-mon-plus::before{
	content: "▼怪物加值";
}
.m-plus-hp-li::before{
	content: "HP";
}
.m-plus-atk-li::before{
	content: "攻擊";
}
.m-plus-rcv-li::before{
	content: "回復";
}
.edit-box .setting-box .row-mon-latent::before{
	content: "▼潛在覺醒";
}

.skill-box .skill-cd::before{
	content: "回合:";
}
.skill-box .skill-level-label::before{
	content: "Lv.";
}
.row-mon-skill .skill-title::before{
	content: "主動技能";
}
.row-mon-leader-skill .skill-title::before{
	content: "隊長技能";
}

.edit-box .button-box .button-null::after{
	content: "留空格子";
}
.edit-box .button-box .button-delay::after{
	content: "應對威嚇";
}
.edit-box .button-box .button-cancel::after{
	content: "取消修改";
}
.edit-box .button-box .button-done::after{
	content: "確認修改";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "不能輔助";
}
.team-awoken::before{
	content: "隊伍覺醒總計：";
}
.formation-awoken::before{
	content: "陣型覺醒總計：";
}
.type-name-4::after{
	content: "龍";
}
.type-name-5::after{
	content: "神";
}
.type-name-7::after{
	content: "惡魔";
}
.type-name-8::after{
	content: "機械";
}
.type-name-1::after{
	content: "平衡";
}
.type-name-6::after{
	content: "攻撃";
}
.type-name-2::after{
	content: "體力";
}
.type-name-3::after{
	content: "回復";
}
.type-name-0::after{
	content: "進化用";
}
.type-name-12::after{
	content: "能力覺醒用";
}
.type-name-14::after{
	content: "強化合成用";
}
.type-name-15::after{
	content: "販賣用";
}
.type-name-9::after{
	content: "特別保護";
}
.control-box .languages-label::before{
	content: "語言：";
}
.control-box .datasource-label::before{
	content: "數據來源：";
}
.control-box .btn-solo-link::before{
	content: "🧑轉到單人遊戲";
}
.control-box .btn-multi-link::before{
	content: "🧑‍🤝‍🧑轉到2人車隊";
}
.control-box .btn-triple-link::before{
	content: "👪轉到2人協力";
}
.control-box .btn-clear-data::before{
	content: "🗑️清除數據";
}
.control-box .btn-capture::before{
	content: "📷截圖";
}
.control-box .btn-swap-AB-team::before{
	content: "🔄交換AB隊";
}
.control-box .btn-swap-ABC-team::before{
	content: "🔄輪換AB隊";
}
.control-box .show-mon-id-lbl::after{
	content:"🆔顯示怪物ID";
}
.control-box .btn-show-mon-skill-cd-lbl::after{
	content:"❄️顯示已滿技能冷卻";
}
.control-box .change-swap-to-copy-lbl::after{
	content:"拖拽時使用“複製”而不是“替換”";
}
.team-total-info .tIf-total-hp::before{
	content: "隊伍HP(隊伍覺醒和徽章)：";
}
.team-total-info .tIf-total-rcv::before{
	content: "隊伍回復(隊伍覺醒和徽章)：";
}
.formation-total-info .tIf-total-hp::before{
	content: "總HP(隊伍覺醒)：";
}
.formation-total-info .tIf-total-rcv::before{
	content: "總回復(隊伍覺醒)：";
}

.setting-box .row-mon-id .open-search::before{
	content: "簡易搜索";
}
.search-box::before{
	content: "▼搜索怪物";
}
.search-box .attrs .attr-list-1::before{
	content: "屬性 1";
}
.search-box .attrs .attr-list-2::before{
	content: "屬性 2";
}
.search-box .attrs .fix-main-color-label::after{
	content: "限制屬性 1 爲主屬性，屬性 2 爲副屬性";
}
.search-box .consider-equivalent-awoken-label::after{
	content: "同時搜索等效覺醒";
}
.search-box .include-super-awoken-label::after{
	content: "包括超覺醒";
}
.attrs .attr-all::before{
	content: "不限";
}
.attrs .attr-none::before{
	content: "無";
}
.search-box .types-div::before{
	content: "類型（OR）";
}
.search-box .awoken-div::before{
	content: "覺醒（AND）（提示：點擊數字可減少數值）";
}
.search-box .sawoken-div::before{
	content: "超覺醒（OR）";
}
.control-div .search-start::before{
	content: "🔍開始搜索";
}
.control-div .search-clear::before{
	content: "清空搜索";
}
.control-div .search-close::before{
	content: "關閉搜索";
}
/*Some icons, style different from the Japanese version*/
.awoken-46,
.awoken-47
{
	background-position-x: -64px;
}
.badge-0
{
	background-position-x: -72px;
}