@charset "utf-8";
.status.loading-check-version .text::before{
	content: "正在检查数据版本，请稍候……";
}
.status.loading-mon-info .text::before{
	content: "正在加载怪物数据，请稍候……";
}
.status.loading-skill-info .text::before{
	content: "正在加载技能数据，请稍候……";
}
.status.prepare-cauture .text::before{
	content: "正在准备截图，请稍候……";
}
.help-link::before{
	content: "帮助和提示";
}
.delay .monster::before{
	content: "应 对\A威 吓";
}
.monster .level.max::before{
	content: "Lv.最大";
}
.monster .level::before{
	content: "Lv.";
}
.monster .id::before{
	content: "No.";
}
.team-1 .team-box-name::after,
.team-1 .team-box-name::before
{
	content: "队伍\A A";
}
.team-2 .team-box-name::after,
.team-2 .team-box-name::before
{
	content: "队伍\A B";
}
.team-3 .team-box-name::after,
.team-3 .team-box-name::before
{
	content: "队伍\A C";
}
.team-box .team-assist .member::after
{
	content: "▼辅助";
}
.team-box .team-assist .member::before
{
	content: "▲辅助";
}
.abilitys .hp::before{
	content: "HP：";
}
.abilitys .atk::before{
	content: "攻击：";
}
.abilitys .rcv::before{
	content: "回复：";
}
.edit-box .edit-box-title::before{
	content: "修改队员";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "修改辅助";
}
.edit-box .setting-box .row-mon-id::before{
	content: "▼怪物ID";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.monsterinfo-box .monster-cost::before{
	content: "消耗:";
}
.monsterinfo-box .monster-seriesId::before{
	content: "系列ID：";
}
.monsterinfo-box .monster-collabId::before{
	content: "合作ID：";
}
.monsterinfo-box .monster-altName::before{
	content: "替代名称：";
}
.m-level-exp::before{
	content: "需要经验值：";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼怪物觉醒";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼超觉醒";
}

.edit-box .setting-box .row-mon-ability::before{
	content: "▼怪物能力";
}
.edit-box .setting-box .row-mon-plus::before{
	content: "▼怪物加值";
}
.row-mon-ability .m-hp-li::before{
	content: "HP:";
}
.row-mon-ability .m-atk-li::before{
	content: "攻撃:";
}
.row-mon-ability .m-rcv-li::before{
	content: "回復:";
}

.edit-box .setting-box .row-mon-level::before{
	content: "▼怪物等级";
}
.row-mon-level .level-value::before,
.row-mon-level .m-level-btn-min::before,
.row-mon-level .m-level-btn-max::before,
.row-mon-level .m-level-btn-110::before
{
	content: "Lv.";
}
.edit-box .setting-box .row-mon-latent::before{
	content: "▼潜在觉醒";
}
.edit-box .setting-box .hide-less-use-latent-label::after{
	content: "隐藏少用的潜觉";
}

.skill-box .skill-cd::before{
	content: "回合:";
}
.skill-box .skill-level-label::before{
	content: "Lv.";
}
.row-mon-skill .type-title::before,
.row-mon-skill .type-title::after
{
	content: "主動技能";
}
.row-mon-leader-skill .type-title::before,
.row-mon-leader-skill .type-title::after
{
	content: "隊長技能";
}

.edit-box .button-box .button-null::after{
	content: "留空格子";
}
.edit-box .button-box .button-delay::after{
	content: "应对威吓";
}
.edit-box .button-box .button-cancel::after{
	content: "取消修改";
}
.edit-box .button-box .button-done::after{
	content: "确认修改";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "不能辅助";
}
.team-awoken::before{
	content: "队伍觉醒总计：";
}
.formation-awoken::before{
	content: "阵型觉醒总计：";
}
.type-name[data-type-name='4']::after{
	content: "龍";
}
.type-name[data-type-name='5']::after{
	content: "神";
}
.type-name[data-type-name='7']::after{
	content: "惡魔";
}
.type-name[data-type-name='8']::after{
	content: "机械";
}
.type-name[data-type-name='1']::after{
	content: "平衡";
}
.type-name[data-type-name='6']::after{
	content: "攻撃";
}
.type-name[data-type-name='2']::after{
	content: "体力";
}
.type-name[data-type-name='3']::after{
	content: "回復";
}
.type-name[data-type-name='0']::after{
	content: "進化用";
}
.type-name[data-type-name='12']::after{
	content: "能力覺醒用";
}
.type-name[data-type-name='14']::after{
	content: "強化合成用";
}
.type-name[data-type-name='15']::after{
	content: "販賣用";
}
.type-name[data-type-name='9']::after{
	content: "特別保護";
}
.control-box .languages-label::before{
	content: "语言：";
}
.control-box .datasource-label::before{
	content: "数据来源：";
}
.control-box .datasource-updatetime::before{
	content: "更新时间：";
}
.control-box .btn-solo-link::before{
	content: "🧑转到单人游戏";
}
.control-box .btn-multi-link::before{
	content: "🧑‍🤝‍🧑转到2人车队";
}
.control-box .btn-triple-link::before{
	content: "👪转到3人协力";
}
.control-box .btn-guide-link::before{
	content: "📓图鉴模式";
}
.control-box .btn-clear-data::before{
	content: "🗑️清除数据";
}
.control-box .btn-capture::before{
	content: "📷截图";
}
.control-box .btn-swap-AB-team::before{
	content: "🔄交换AB队";
}
.control-box .btn-swap-ABC-team::before{
	content: "🔄轮换ABC队";
}
.control-box .show-mon-id-lbl::after{
	content:"🆔显示怪物ID";
}
.control-box .btn-show-mon-skill-cd-lbl::after{
	content:"❄️显示已满技能冷却";
}
.control-box .btn-show-awoken-count-lbl::after{
	content:"⚔️显示觉醒统计和能力值";
}
.control-box .change-swap-to-copy-lbl::after{
	content:"拖拽时使用“复制”而不是“替换”";
}

.team-total-info .tIf-total-hp::before{
	content: "队伍HP(队伍觉醒和徽章)：";
}
.team-total-info .tIf-total-rcv::before{
	content: "队伍回复(队伍觉醒和徽章)：";
}
.formation-total-info .tIf-total-hp::before{
	content: "总HP(队伍觉醒和徽章)：";
}
.formation-total-info .tIf-total-rcv::before{
	content: "总回复(队伍觉醒和徽章)：";
}
.formation-box::before {
    content: "▼HP计算队长技倍率能功能测试中，请反馈";
}

.setting-box .row-mon-id .open-search::before{
	content: "简易搜索";
}
.search-box::before{
	content: "搜索怪物";
}
.search-box .attrs .attr-list-1::before{
	content: "属性 1：";
}
.search-box .attrs .attr-list-2::before{
	content: "属性 2：";
}
.search-box .attrs .fix-main-color-label::after{
	content: "限制属性 1 为主属性，属性 2 为副属性";
}
.search-box .consider-equivalent-awoken-label::after{
	content: "同时搜索等效觉醒";
}
.search-box .can-assist-label::after{
	content: "可以作为辅助";
}
.search-box .include-super-awoken-label::after{
	content: "包括超觉醒";
}
.search-box .sort-div::before{
	content: "排序：";
}
.search-box .sort-reverse-label::after{
	content: "顺序";
}
.search-box input:checked+ .sort-reverse-label::after{
	content: "逆序";
}
.attrs .attr-all::before{
	content: "不限";
}
.attrs .attr-none::before{
	content: "无";
}
.search-box .types-div::before{
	content: "类型：";
}
.search-box .awoken-div::before{
	content: "▼觉醒（AND）（提示：点击数字可减少数值）";
}
.search-box .sawoken-div::before{
	content: "▼超觉醒（OR）";
}
.control-div .search-start::before{
	content: "🔍开始搜索";
}
.control-div .search-clear::before{
	content: "清空搜索";
}
.control-div .search-close::before{
	content: "关闭搜索";
}
/*Some icons, style different from the Japanese version*/
.awoken-icon[data-awoken-icon='46'],
.awoken-icon[data-awoken-icon='47']
{
	background-position-x: calc(-32px * 2);
}
.badge[data-badge-icon='0']::before,
.badge[data-badge-icon='14']::before
{
	background-position-x: calc(-36px * 2);
}