@charset "utf-8";
.delay .monster::before{
	content: "应 对\A威 吓";
}
.monster .level.max::before{
	content: "Lv.最大";
}
.monster .plus .hp::before,
.monster .plus .atk::before,
.monster .plus .rcv::before,
.monster .plus ._297::before{
	content: "+";
}
.monster .level::before{
	content: "Lv.";
}
.formation-A-bigbox::after{
	content: "队伍\A A";
}
.formation-B-bigbox::before{
	content: "队伍\A B";
}
.formation-A-box .formation-assist .member::after{
	content: "▼辅助";
}
.formation-B-box .formation-assist .member::before{
	content: "▲辅助";
}
.edit-box .edit-box-title::before{
	content: "修改队员";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "修改辅助";
}
.edit-box .search-box::before{
	content: "▼怪物ID";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.edit-box .setting-box .row-mon-level::before{
	content: "▼怪物等级";
}
.m-level-btn-max::before{
	content: "最高Lv";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼怪物觉醒";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼超觉醒";
}
.edit-box .setting-box .row-mon-plus::before{
	content: "▼怪物加值";
}
.m-plus-hp-li::before{
	content: "HP";
}
.m-plus-atk-li::before{
	content: "攻击";
}
.m-plus-rcv-li::before{
	content: "回复";
}
.m-plus-hp-btn-99::before,
.m-plus-atk-btn-99::before,
.m-plus-rcv-btn-99::before,
.m-plus-btn-297::before{
	content: "+";
}
.edit-box .setting-box .row-mon-latent::before{
	content: "▼潜在觉醒";
}
.edit-box .button-box .button-null::after{
	content: "留空格子";
}
.edit-box .button-box .button-delay::after{
	content: "应对威吓";
}
.edit-box .button-box .button-cancel::after{
	content: "取消修改";
}
.edit-box .button-box .button-done::after{
	content: "确认修改";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "不能辅助";
}
.awoken-total-box::before{
	content: "觉醒总计：";
}
.type-name-4::after{
	content: "龍";
}
.type-name-5::after{
	content: "神";
}
.type-name-7::after{
	content: "惡魔";
}
.type-name-8::after{
	content: "机械";
}
.type-name-1::after{
	content: "平衡";
}
.type-name-6::after{
	content: "攻撃";
}
.type-name-2::after{
	content: "体力";
}
.type-name-3::after{
	content: "回復";
}
.type-name-0::after{
	content: "進化用";
}
.type-name-12::after{
	content: "能力覺醒用";
}
.type-name-14::after{
	content: "強化合成用";
}
.type-name-15::after{
	content: "販賣用";
}
.control-box .languages-label::before{
	content: "语言：";
}