@charset "utf-8";
.status.loading-mon-info .text::before{
	content: "正在加载怪物数据，请稍候。";
}
.delay .monster::before{
	content: "应 对\A威 吓";
}
.monster .level.max::before{
	content: "Lv.最大";
}
.monster .level::before{
	content: "Lv.";
}
.monster .id::before{
	content: "No.";
}
.formation-A-bigbox::after{
	content: "队伍\A A";
}
.formation-B-bigbox::before{
	content: "队伍\A B";
}
.formation-A-box .formation-assist .member::after{
	content: "▼辅助";
}
.formation-B-box .formation-assist .member::before{
	content: "▲辅助";
}
.abilitys .hp::before{
	content: "HP：";
}
.abilitys .atk::before{
	content: "攻击：";
}
.abilitys .rcv::before{
	content: "回复：";
}
.edit-box .edit-box-title::before{
	content: "修改队员";
}
.edit-box .edit-box-title.edit-box-title-assist::before{
	content: "修改辅助";
}
.edit-box .setting-box .row-mon-id::before{
	content: "▼怪物ID";
}
.monsterinfo-box .monster-id::before{
	content: "No.";
}
.edit-box .setting-box .row-mon-level::before{
	content: "▼怪物等级";
}
.m-level-btn-min::before{
	content: "Lv";
}
.m-level-btn-max::before{
	content: "最高Lv";
}
.edit-box .setting-box .row-mon-awoken::before{
	content: "▼怪物觉醒";
}
.edit-box .setting-box .row-mon-super-awoken::before{
	content: "▼超觉醒";
}
.edit-box .setting-box .row-mon-plus::before{
	content: "▼怪物加值";
}
.m-plus-hp-li::before{
	content: "HP";
}
.m-plus-atk-li::before{
	content: "攻击";
}
.m-plus-rcv-li::before{
	content: "回复";
}
.edit-box .setting-box .row-mon-latent::before{
	content: "▼潜在觉醒";
}
.edit-box .button-box .button-null::after{
	content: "留空格子";
}
.edit-box .button-box .button-delay::after{
	content: "应对威吓";
}
.edit-box .button-box .button-cancel::after{
	content: "取消修改";
}
.edit-box .button-box .button-done::after{
	content: "确认修改";
}
.edit-box .button-box .button-done.cant-assist::after{
	content: "不能辅助";
}
.awoken-total-box::before{
	content: "觉醒总计：";
}
.type-name-4::after{
	content: "龍";
}
.type-name-5::after{
	content: "神";
}
.type-name-7::after{
	content: "惡魔";
}
.type-name-8::after{
	content: "机械";
}
.type-name-1::after{
	content: "平衡";
}
.type-name-6::after{
	content: "攻撃";
}
.type-name-2::after{
	content: "体力";
}
.type-name-3::after{
	content: "回復";
}
.type-name-0::after{
	content: "進化用";
}
.type-name-12::after{
	content: "能力覺醒用";
}
.type-name-14::after{
	content: "強化合成用";
}
.type-name-15::after{
	content: "販賣用";
}
.type-name-9::after{
	content: "特別保護";
}
.control-box .languages-label::before{
	content: "语言：";
}
.control-box .datasource-label::before{
	content: "数据来源：";
}
.control-box .btn-solo-link::before{
	content: "🧑转到单人游戏";
}
.control-box .btn-multi-link::before{
	content: "🧑‍🤝‍🧑转到2人车队";
}
.control-box .btn-clear-data::before{
	content: "🗑️清除数据";
}
.control-box .btn-swap-AB-team::before{
	content: "🔄交换AB队";
}
.control-box .btn-show-mon-id::before{
	content: "⬜隐藏怪物ID";
}
.not-show-mon-id .control-box .btn-show-mon-id::before{
	content: "🆔显示怪物ID";
}
.team-info .tIf-total-hp::before{
	content: "总HP(队伍觉醒和徽章)：";
}
.team-info .tIf-total-rcv::before{
	content: "总回复(队伍觉醒和徽章)：";
}

.setting-box .row-mon-id .open-search::before{
	content: "简易搜索";
}
.search-box::before{
	content: "▼搜索怪物";
}
.search-box .attrs .attr-list-1::before{
	content: "属性 1";
}
.search-box .attrs .attr-list-2::before{
	content: "属性 2";
}
.search-box .attrs .fix-main-color-label::after{
	content: "限制属性 1 为主属性，属性 2 为副属性";
}
.attrs .attr-all::before{
	content: "不限";
}
.attrs .attr-none::before{
	content: "无";
}
.search-box .types-div::before{
	content: "类型（OR）";
}
.search-box .awoken-div::before{
	content: "觉醒（AND）（提示：点击数字可减少数值）";
}
.search-box .sawoken-div::before{
	content: "超觉醒（OR）";
}
.control-div .search-start::before{
	content: "🔍开始搜索";
}
.control-div .search-clear::before{
	content: "清空搜索";
}
.control-div .search-close::before{
	content: "关闭搜索";
}
.edit-box .monsterinfo-box .monster-name{
	font-family: "Microsoft Yahei","Source Han Sans",Arial, Helvetica, sans-serif;
	font-weight: 900;
}
/*Some icons, style different from the Japanese version*/
.awoken-46,
.awoken-47
{
	background-position-x: -64px;
}
.badge-0
{
	background-position-x: -72px;
}